﻿@model WholesaleHunter.ViewModels.ScrollViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    Layout = null;
}
<div class="scrollTo">&nbsp;</div>
@foreach (SearchProduct prod in Model.Products)
{
    prod.keywords = Model.Keywords;
    @Html.Partial("_SearchProduct", prod);
}
<input type="hidden" class="nextScrollURL" value="@Model.NextURL" />