﻿@model WholesaleHunter.ViewModels.MyAccountViewModel
@{
    Layout = null;
    string template = "Email/Username: {0}<br />{1}&nbsp;{2}<br />{3}<br />{4}{5},&nbsp;{6}&nbsp;{7}<br />Phone: {8}";
    string Address2="";
    if(Model.MyInfo.Address2 != string.Empty)
    {
        Address2 = Model.MyInfo.Address2 + "<br />";
    }
    string userinfo = string.Format(template, Model.MyInfo.Email, Model.MyInfo.FirstName, Model.MyInfo.LastName, Model.MyInfo.Address1, Address2, Model.MyInfo.City, Model.MyInfo.State, Model.MyInfo.ZipCode, Model.MyInfo.Phone);
}
<script src="~/Scripts/MyAccountLogout.js"></script>

<script type="text/javascript">
        var logoutURL = ''
</script>
<br />
@if (Model.MyInfo.Email == null)
{
    @Html.Raw("Username: Guest User")
}
else
{
    @Html.Raw(userinfo)
}
<h1>Are you sure you want to logout?</h1>
<button class="myAccountButton" onclick="logoutUser()" style="float:left;" >YES</button>
<br /><br />
