﻿@model WholesaleHunter.ViewModels.MyAccountViewModel
@using WholesaleHunter.Models
@using WholesaleHunter.Classes;

@{
    Layout = null;
}

<script src="~/Scripts/MyOrderHistory.js"></script>


<input id="customerID" type="hidden" value=@ViewBag.CustomerID />

@{ 
    int divCounter = 1;
    string trackPackage = ""; //Variable to hold constructed Tracking URL
    TrackingURL trackingURL = new TrackingURL();
}

@if(Model.HasOrderHistory) { 
    <table class="MyAccountTable">
        @foreach (var item in Model.MyOrderHistory)
        {
            //Construct the Tracking URL
            trackPackage = trackingURL.GetTrackingURL(@item.Carrier);
            trackPackage = trackPackage + @item.TrackingNumber;

            <tr>
                <td>
                    <img src="@item.Thumbnail" alt="@item.ItemTitle"/>
                </td>
                <td>
                    <div class="myOrdersTitle">
                        @item.ItemTitle
                    </div>
                    <div class="myOrderDescription">
                        @item.ItemDescriptionShort
                    </div>
                </td>
                <td>
                    @if(
                        (item.Carrier != null) &&
                        (item.Carrier.ToUpper() == "UPS" || item.Carrier.ToUpper() == "USPS") &&
                        (item.TrackingNumber != null))
                    {
                            <a href="@trackPackage" target="_blank">
                                <input id="trackShipment" class="myOrderButton" type="button" value="Track Shipment" />
                            </a>
                    }
                    <div>
                        <input id="orderAgain" class="myOrderButton" type="button" value="Order Again" onclick="buyAgain(@ViewBag.CustomerID,@item.ProductID,@item.Price,@item.Quantity)" />
                    </div>
                    <div class="myOrderDescription">@item.OrderDate.ToShortDateString()</div>
                    <div class="myOrderDescription">Ordered: @item.Quantity</div>
                    <div class="myOrderDescription">@item.OrderStatus</div>
                </td>
            </tr>
            <tr>
                <td height="13" colspan="3">
                    <hr align="left" width="100%" style="color:#D7D2B7; background-color:#D7D2B7; height:10px; border:none;">
                </td>
            </tr>

            divCounter++; //increment the counter
        }

    </table>
}
else
{
    @Html.Raw("<br /><br />No previous orders found.<br /><hr style=\"width:550px\" />");
}
@if (Model.OrderScrollUrl != string.Empty) {
    <a class="scroll" href="@Model.OrderScrollUrl">Click to see more completed orders.<br /><br /></a>
}
else
{
<span style="font-weight:bold;color:#00331b;">You are at the end of your Order History!</span>
}