﻿@model WholesaleHunter.ViewModels.MyAccountViewModel
@using WholesaleHunter.Models

@{
    Layout = null;
}

<table class="recentlyViewedTable">
    <tr>
        @foreach(var item in Model.RecentlyViewed)
        {            
            <td class="recentlyViewedPic">
                <a href="/Product/Details/@item.LinkTarget">
                    <img src="@item.ImageLocation" alt="Link to @item.ItemTitle"/>
                </a>
                
            </td>

            <td class="RecentlyViewedInfo">
                <a href="/Product/Details/@item.LinkTarget" class="RecentlyViewedInfo">
                    <div style="font-weight:bold;color:black;font-size:14px;">@item.ItemTitle</div>
                    <!-- <div>@item.ImageDescriptionShort</div>-->
                    <div style="font-weight:bold;color:black;font-size:14px;">@item.Price.ToString("c")</div>
                </a>
            </td>
        }
    </tr>
</table>
