﻿@model WholesaleHunter.ViewModels.UserProfileViewModel
@using WholesaleHunter.Models;
@{
    ViewBag.Title = "Wholesale Hunter - User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int cntRow = 0;
    string rowClass = "white";
}

<style type="text/css">
    th {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        padding:3px;
    }

    tr.white td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: normal;
        padding-bottom:6px;
        color: black;
        background-color: white;
    }
    
    tr.greenbar td {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: normal;
        padding-bottom:6px;
        color: black;
        background-color:#d0f0d0;
    }

</style>

<div id="outer" style="position:relative;width:1440px;height:100%;padding-top:5px;margin:auto;">
    <div id="container">
        <div class="page_content">
            <br>
            Monthly Sales Summary for sales shipped:
            <br>
            <br>
            <table cellspacing="0" style="width:600px;">
                <tr>
                    <th style="width:250px;padding-left:15px">Site</th>
                    <th style="width:100px;">Month/Year</th>
                    <th style="width:125px;">Total</th>
                    <th style="width:125px;padding-right:15px;">Commission</th>
                </tr>
                @foreach (MonthlySalesSummary summary in Model.MonthlySummary)
                {
                    if(cntRow % 3 == 0)
                    {
                        if(rowClass=="white")
                        {
                            rowClass = "greenbar";
                        }
                        else
                        {
                            rowClass = "white";
                        }
                    }
                    <tr class="@rowClass">
                        <td style="padding-left:15px;">@summary.TrafficeSourceTargetSite</td>
                        <td>@summary.Date</td>
                        <td style="text-align:right;">@String.Format("{0:C}",summary.MonthTotal)</td>
                        <td style="text-align:right;padding-right:15px;">@String.Format("{0:C}",summary.TP)</td>
                    </tr>
                    cntRow++;
                }
            </table>

            <br>
            <br>
            <br>
            Monthly Sales details for sales shipped:
            <br>
            <br>
            <br>
            @{ cntRow = 0;
                rowClass = "white";
                }
            <table style="width:900px;" cellspacing="0">
                <tr>
                    <th style="width:250px;padding-left:15px;">Site</th>
                    <th style="width:100px;">Month/Year</th>
                    <th style="width:100px;">Sale ID</th>
                    <th style="width:200px;">Date/Time</th>
                    <th style="width:125px;">Total</th>
                    <th style="width:125px;padding-right:15px;">Commission</th>
                </tr>
                @foreach (MonthlySalesDetail detail in Model.MonthlyDetails)
                {
                    if (cntRow % 3 == 0)
                    {
                        if (rowClass == "white")
                        {
                            rowClass = "greenbar";
                        }
                        else
                        {
                            rowClass = "white";
                        }
                    }
                    <tr class="@rowClass">
                        <td style="padding-left:15px;">@detail.TrafficeSourceTargetSite</td>
                        <td>@detail.Date</td>
                        <td>@detail.ID</td>
                        <td>@detail.TimeStamp</td>
                        <td style="text-align:right;">@String.Format("{0:C}",detail.TotalPrice)</td>
                        <td style="text-align:right;padding-right:15px;">@String.Format("{0:C}", detail.TP)</td>
                    </tr>
                    cntRow++;
                }
            </table>
        </div>
    </div>
</div>
