﻿@model WholesaleHunter.ViewModels.CartPaymentViewModel
@using System.Globalization
@using System.Text
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    ViewBag.Title = "Shopping Cart Payment";
    Layout = "";
    decimal ExtTotal;
    decimal CartTotal = 0;
    decimal OrderTotal = 0;
    decimal SubTotal = 0;
    int cntItem = 0;
    string addClass = "";

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";

    List<SelectListItem> listYears = new List<SelectListItem>();
    DateTime dtNow = DateTime.Now;
    int StartYear = dtNow.Year;
    for (int cntYear = dtNow.Year; cntYear < dtNow.Year + 25; cntYear++)
    {
        listYears.Add(new SelectListItem { Text = cntYear.ToString(), Value = cntYear.ToString() });
    }

    List<SelectListItem> listCards = new List<SelectListItem>();
    foreach (CartPaymentMethod paymethod in Model.PaymentMethods)
    {
        SelectListItem item = new SelectListItem { Text = paymethod.CardTitle, Value = paymethod.CustomerPaymentMethodID.ToString() };
        if (paymethod.IsPrimary == 1)
        {
            item.Selected = true;
        }
        listCards.Add(item);
    }
    listCards.Add(new SelectListItem { Text = "New Card", Value = "0" });

    string ShippingDisplay;
    if (Model.AlmostThere.ShippingCost == 0)
    {
        ShippingDisplay = "FREE!";
    }
    else
    {
        ShippingDisplay = @String.Format(nfi, "{0:C2}", Model.AlmostThere.ShippingCost);
    }

    //build the ship to address
    StringBuilder ShipTo = new StringBuilder();
    StringBuilder FFLShipTo = new StringBuilder();
    ShipTo.Append(Model.CartInfo.FirstName);
    ShipTo.Append("&nbsp;");
    ShipTo.Append(Model.CartInfo.LastName);
    ShipTo.Append("<br />");
    ShipTo.Append(Model.CartInfo.Address1);
    ShipTo.Append("<br />");
    if (Model.CartInfo.Address2 != string.Empty)
    {
        ShipTo.Append(Model.CartInfo.Address2);
        ShipTo.Append("<br />");
    }
    ShipTo.Append(Model.CartInfo.City);
    ShipTo.Append(",&nbsp;");
    ShipTo.Append(Model.CartInfo.State);
    ShipTo.Append("&nbsp;");
    ShipTo.Append(Model.CartInfo.ZIPCode);
    ShipTo.Append("<br />");
    ShipTo.Append("Phone:&nbsp;");
    ShipTo.Append(Model.CartInfo.Phone);
    ShipTo.Append("<br />");
    ShipTo.Append("Email:&nbsp;");
    ShipTo.Append(Model.CartInfo.Email);
    ShipTo.Append("<br /><br />");

    string panelclass = "panel2";
    if(Model.CartInfo.FFLRequired==1) {
        panelclass = "panel3";

        //build the FFL address
        if(Model.CartInfo.FFLID==string.Empty)
        {
            FFLShipTo.Append("You have not selected an FFL. You may complete this order, and we will contact you to help choose one.");
        }
        else
        {
            FFLShipTo.Append(Model.CartInfo.FFLName);
            FFLShipTo.Append("<br />");
            if(Model.CartInfo.FFLContactName != string.Empty)
            {
                FFLShipTo.Append(Model.CartInfo.FFLContactName);
                FFLShipTo.Append("<br />");
            }
            FFLShipTo.Append(Model.CartInfo.FFLAddress1);
            FFLShipTo.Append("<br />");
            FFLShipTo.Append(Model.CartInfo.FFLCity);
            FFLShipTo.Append(",&nbsp;");
            FFLShipTo.Append(Model.CartInfo.FFLState);
            FFLShipTo.Append("&nbsp;");
            FFLShipTo.Append(Model.CartInfo.FFLZIPCode);
            FFLShipTo.Append("<br />");
            if(Model.CartInfo.FFLPhone != string.Empty) {
                FFLShipTo.Append("Phone: ");
                FFLShipTo.Append(Model.CartInfo.FFLPhone);
                FFLShipTo.Append("<br />");
            }
            if (Model.CartInfo.FFLEmail != string.Empty)
            {
                FFLShipTo.Append("Email: ");
                FFLShipTo.Append(Model.CartInfo.FFLEmail);
                FFLShipTo.Append("<br />");
            }
            FFLShipTo.Append("<br /><br />");
        }
    }

    StringBuilder BillingMethod = new StringBuilder();
    if(Model.AlmostThere.PaymentMethod==1)
    {
        //paying by credit card
        BillingMethod.Append("Paying by Credit Card<br />");
        BillingMethod.Append("<span style=\"font-weight:bold;\">");
        if(Model.AlmostThere.SelectCard==0)
        {
            BillingMethod.Append("Card ending in ");
            BillingMethod.Append(Model.AlmostThere.CardNumber.Substring(Model.AlmostThere.CardNumber.Length - 4));
        }
        else
        {
            BillingMethod.Append(Model.AlmostThere.SelectedCardDescription);
        }
        BillingMethod.Append("</span>");
    }
    else
    {
        //paying by check
        BillingMethod.Append("Paying by Check<br />");
        BillingMethod.Append("Mail it to:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style=\"font-weight:bold;\">Wholesale Hunter<br />");
        BillingMethod.Append("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;34 Fire Tower Rd<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wetumpka, AL 36093");
        BillingMethod.Append("</span><br /><br />-&nbsp;OR&nbsp;Email a scan of it to:<br />");
        BillingMethod.Append("&nbsp;&nbsp;&nbsp;&nbsp;<span style=\"font-weight:bold;\">&nbsp;support@wholesalehunter.com</span>");
        BillingMethod.Append("<br /><br />-&nbsp;OR&nbsp;Fax it to:");
        BillingMethod.Append("<span style=\"font-weight:bold;\">&nbsp;334-567-2780</span><br /><br />");
    }
}

<div id="cartmain">
    <div id="topbar">
        <span onclick="hideCart();">close [X]</span>
    </div>
    <table style="width:100%">
        <tr class="navbar">
            <td class="spacer">&nbsp;</td>
            <td class="indicator" id="indViewCart">VIEW CART</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indMyInfo">MY INFO</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indPayment">PAYMENT</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator selected" id="indAlmostThere">ALMOST THERE</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indComplete">COMPLETE</td>
            <td class="spacer">&nbsp;</td>
        </tr>
    </table>
    <br /><br />
    <table cellpadding="0" cellspacing="0">
        <tr class="cartlist">
            <th style="width:500px;">ITEM</th>
            <th style="width:15px;"></th>
            <th style="width:120px;text-align:right;">UNIT PRICE</th>
            <th style="width:15px;"></th>
            <th style="width:100px;text-align:right;">QUANTITY</th>
            <th style="width:15px;"></th>
            <th style="width:140px;text-align:right;">TOTAL PRICE</th>
            <td style="width:25px;">&nbsp;</td>
        </tr>
        @foreach (CartListItem itm in Model.items)
        {
            ExtTotal = itm.Quantity * itm.Price;
            CartTotal += ExtTotal;
            cntItem++;
            if (cntItem % 2 == 0)
            {
                addClass = "alt";
            }
            else
            {
                addClass = "";
            }
            <tr class="cartlist @addClass">
                <td class="text">@itm.ItemTitle</td>
                <td class="divider"></td>
                <td class="numeric">
                    @String.Format(nfi, "{0:C2}", @itm.Price)
                    <input type="hidden" id="@Html.Raw("price_" + cntItem + "_" + @itm.ProductID)" value="@itm.Price" />
                </td>
                <td class="divider"></td>
                <td class="numeric">
                    @itm.Quantity
                    <input type="hidden" id="@Html.Raw("qty_" + cntItem + "_" + @itm.ProductID)" value="@itm.Quantity" />
                </td>
                <td class="divider"></td>
                <td class="numeric">@String.Format(nfi, "{0:C2}", ExtTotal)</td>
                <td style="text-align:center;">&nbsp;</td>
            </tr>
        }
        <tr class="cartlist">
            <td colspan="5" class="sub" style="border-top: 1px solid black;">SUBTOTAL</td>
            <td class="divider" style="border-top: 1px solid black;"></td>
            <td id="cartsubtotal" class="numeric subtotal" style="border-top: 1px solid black;">@String.Format(nfi, "{0:C2}", CartTotal)</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="cartlist">
            <td colspan="5" class="sub">SHIPPING: @Model.AlmostThere.ShippingMethod.ToUpper()</td>
            <td class="divider"></td>
            <td id="subtotal1" class="numeric subtotal">@ShippingDisplay</td>
            <td>&nbsp;</td>
        </tr>
        @if (Model.AlmostThere.ShippingInsurance == 1)
        {
            <tr class="cartlist">
                <td colspan="5" class="sub">SHIPPING INSURANCE</td>
                <td class="divider"></td>
                <td id="subtotal1" class="numeric">@String.Format(nfi, "{0:C2}", Model.AlmostThere.ShippingInsuranceCost)</td>
                <td>&nbsp;</td>
            </tr>
        }

        @if (Model.HazmatAmount != 0)
        {
            <tr class="cartlist">
                <td colspan="5" class="sub">HAZMAT FEES</td>
                <td class="divider"></td>
                <td id="hazmat" class="numeric">@String.Format(nfi, "{0:C2}", Model.HazmatAmount)</td>
                <td>&nbsp;</td>
            </tr>
        }

        <tr class="cartlist">
            <td colspan="5" class="sub">TOTAL BEFORE TAX</td>
            <td class="divider"></td>
            @{
                SubTotal = Model.GetCartSubtotal() + Model.AlmostThere.ShippingCost;
                if(Model.AlmostThere.ShippingInsurance==1)
                {
                    SubTotal = SubTotal + Model.AlmostThere.ShippingInsuranceCost;
                }
                SubTotal += Model.HazmatAmount;
            }
            <td id="subtotal1" class="numeric subtotal">@String.Format(nfi, "{0:C2}", SubTotal)</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="cartlist">
            <td colspan="5" class="sub">TAX</td>
            <td class="divider"></td>
            <td id="taxamount" class="numeric addon">@Model.TaxDisplay
                <input type="hidden" id="tax" value="@Model.Tax" />
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr class="cartlist">
            <td colspan="5" class="sub">ORDER TOTAL</td>
            <td class="divider"></td>
            <td id="ordertotal" class="numeric subtotal">
                @{
                    OrderTotal = SubTotal + Model.Tax;
                }
                <span id="spanOrderTotal" style="font-weight:bold;font-size: 20px;">@String.Format(nfi, "{0:C2}", OrderTotal)</span>
                <input type="hidden" id="ordertotalhidden" value="" />
            </td>
            <td>&nbsp;</td>
        </tr>


        <tr class="cartlist">
            <td colspan="8">
                <table>
                    <tr class="panelrow">
                        <td style="width:75px;">&nbsp;</td>
                        <td class="@panelclass">
                            <span class="panelheader">SHIPPED TO:</span><br />
                            @Html.Raw(ShipTo.ToString())
                        </td>

                        <td style="width:25px;">&nbsp;</td>
                        
                        @if(Model.CartInfo.FFLRequired==1) { 
                            <td class="@panelclass">
                                <span class="panelheader">FFL SHIPPED TO:</span><br />
                                @Html.Raw(FFLShipTo.ToString())
                            </td>
                            <td style="width:25px;">&nbsp;</td>
                        }

                        <td class="@panelclass">
                            <span class="panelheader">BILLING METHOD:</span><br />
                            @Html.Raw(BillingMethod.ToString())
                        </td>
                        <td style="width:75px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="cartlist">
            <td colspan="7" style="text-align: center;">
                <span style="font-size:smaller;">
                    <input type="checkbox" id="terms" />
                    I agree to the <a class="terms" href="http://wholesalehunter.com:8082/Policies/TermsAndConditions" target="_blank">terms and conditions</a>, that I am over 18, and that these items are legal to ship to my state.
                </span>
            </td>
            <td>&nbsp;</td>
        </tr>

        <tr class="cartlist">
            <td colspan="7" style="text-align: right;">
                <table width="950">
                    <tr>
                        <td width="30%" style="text-align:right;">
                            <a href="#" onclick="goPayment();" class="button button2">BACK</a>
                        </td>
                        <td width="70%" style="text-align:right;">
                            <span style="font-size:smaller;font-style:italic;">Your card will be billed when you click COMPLETE PURCHASE</span>
                            <a href="#" onclick="goCompletePurchase();" class="buttonwide button2">COMPLETE PURCHASE</a>
                        </td>
                    </tr>
                </table>
                &nbsp;&nbsp;&nbsp;&nbsp;
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="8"><hr /></td>
        </tr>
        @if (Model.suggested.Count > 0)
        {
            <tr class="cartlist">
                <td colspan="8" style="padding-left:15px;padding-top:15px;vertical-align: middle;">
                    <div class="header">SUGGESTED PRODUCTS</div>
                </td>
            </tr>
            <tr class="cartlist">
                <td colspan="8" style="padding-left:10px;padding-top:10px;">
                    <div id="suggested">
                        @foreach (CartSuggestedProducts prod in Model.suggested)
                        {
                            <div class="cartprod">
                                <div class="image">
                                    <a href="/Product/Details/@prod.LinkTarget">
                                        <img src="@prod.ImageLocation" alt="Link to @prod.ItemTitle" style="max-width:95px;"/>
                                    </a>
                                </div>
                                <div class="details">
                                    <a href="/Product/Details/@prod.LinkTarget" class="cartprodlink">
                                        <span style="font-weight:bold;">@prod.ItemTitle</span><br />
                                        <span style="font-weight:bold;">@String.Format(nfi, "{0:C2}", prod.Price)</span>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </td>
            </tr>
        }

    </table>
</div>

<input type="hidden" id="PaymentMethod" value="@Model.AlmostThere.PaymentMethod" />
<input type="hidden" id="SelectCard" value="@Model.AlmostThere.SelectCard" />
<input type="hidden" id="SelectedCardDescription" value="@Model.AlmostThere.SelectedCardDescription" />
<input type="hidden" id="CardNumber" value="@Model.AlmostThere.CardNumber" />
<input type="hidden" id="ExpireMonth" value="@Model.AlmostThere.ExpireMonth" />
<input type="hidden" id="ExpireYear" value="@Model.AlmostThere.ExpireYear" />
<input type="hidden" id="CVV" value="@Model.AlmostThere.CVV" />
<input type="hidden" id="creditcardZIP" value="@Model.AlmostThere.CreditCardZIP" />
<input type="hidden" id="RememberCard" value="@Model.AlmostThere.RememberCard" />
<input type="hidden" id="MakeDefault" value="@Model.AlmostThere.MakeDefault" />
<input type="hidden" id="ShippingMethod" value="@Model.AlmostThere.ShippingMethod" />
<input type="hidden" id="ShippingMethodName" value="@Model.AlmostThere.ShippingMethodName" />
<input type="hidden" id="ShippingCost" value="@Model.AlmostThere.ShippingCost" />
<input type="hidden" id="Hazmat" value="@Model.AlmostThere.Hazmat" />
<input type="hidden" id="ShippingInsurance" value="@Model.AlmostThere.ShippingInsurance" />
<input type="hidden" id="ShippingInsuranceCost" value="@Model.AlmostThere.ShippingInsuranceCost" />
<input type="hidden" id="Tax" value="@Model.AlmostThere.Tax" />
<input type="hidden" id="OrderTotal" value="@Model.AlmostThere.OrderTotal" />
<input type="hidden" id="OrderDescription" value="@Model.AlmostThere.OrderDescription" />

<input type="hidden" id="ShippingAddress1" value="@Model.CartInfo.Address1" />
<input type="hidden" id="ShippingAddress2" value="@Model.CartInfo.Address2" />
<input type="hidden" id="ShippingCity" value="@Model.CartInfo.City" />
<input type="hidden" id="ShippingState" value="@Model.CartInfo.State" />
<input type="hidden" id="ShippingZip" value="@Model.CartInfo.ZIPCode" />

<input type="hidden" id="BillingName" value="@Model.AlmostThere.BillingName" />
<input type="hidden" id="BillingAddress" value="@Model.AlmostThere.Address" />
<input type="hidden" id="BillingCity" value="@Model.AlmostThere.City" />
<input type="hidden" id="BillingState" value="@Model.AlmostThere.State" />
<input type="hidden" id="BillingZip" value="@Model.AlmostThere.Zip" />
<input type="hidden" id="BillingPhone" value="@Model.AlmostThere.BillingPhone" />

<input type="hidden" id="hdnEmail" value="@Model.CartInfo.Email" />
<input type="hidden" id="hdnFirstName" value="@Model.CartInfo.FirstName" />
<input type="hidden" id="hdnLastName" value="@Model.CartInfo.LastName" />
<input type="hidden" id="hdnPhoneNumber" value="@Model.CartInfo.Phone" />


<script type="text/javascript">

    function doCheckout() {
        //check the cart inventory
        var obj = {
            CustomerID: '@Model.CustomerID',
            ZipCode: ''
        }

        $.ajax({
            type: "POST",
            cache: false,
            url: "/api/AJax/CheckCartInventory",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var OkayToContinue = true;
                switch (data) {
                    case "1":
                        //No errors
                        OkayToContinue = true;
                        break;
                    case "0":
                        //General failure
                        OkayToContinue = false;
                        alert("An error occurred while checking your cart inventory.\n\nIf this message persists please contact a System Administrator.")
                        break;
                    case "-1":
                        //quantity was reduced
                        OkayToContinue = false;
                        alert("The quantity of one or more items in your cart was adjusted due to current inventory levels.\n\nPlease review your cart before proceeding with your checkout.")
                        break;
                    case "-2":
                        //price increase
                        alert("The price of one or more items in your cart was increased due to an insufficient quantity of the lower priced item being available.\n\nPlease review your cart before proceeding with your checkout.")
                        OkayToContinue = false;
                        break;
                }

                if (OkayToContinue) {
                    //load the next page
                    myInfoLogin();
                }
                else {
                    //reload the shopping cart page
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showCart();
                    return false;
                }
            }
        });
        $("#shoppingcart").hide();
    }

</script>

<style type="text/css">
    a.terms {
        text-decoration: none;
        color: #00331b;
        font-weight:bold;
    }

    a.terms:hover {
        text-decoration: none;
        color: #D7D2B7;
        font-weight:bold;
    }

    tr.panelrow td.panel3 {
        width:266px;
        background-color:#d7d2b7;
        padding: 5px;
        border:  outset 3px silver;
        color: black;
        vertical-align: top;
        line-height: 150%;
    }

    tr.panelrow span.panelheader {
        font-weight: bold;
        color: #00331b;
        padding-bottom: 3px;
    }

    tr.panelrow td.panel2 {
        width:410px;
        background-color:#d7d2b7;
        padding: 5px;
        border:  outset 3px silver;
        color: black;
        vertical-align: top;
        line-height: 150%;
    }

    div.paymentmethodselect {
        position: relative;
        float: right;
        width: 140px;
        background-color: #d7d2b7;
        color: #331709;
        margin-bottom: 5px;
        margin-right: 3px;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 10px;
    }

        div.paymentmethodselect:hover {
            background-color: #331709;
            color: #d7d2b7;
        }

    div.paymentmethodselected {
        position: relative;
        float: right;
        width: 140px;
        background-color: #331709;
        color: #d7d2b7;
        margin-bottom: 5px;
        margin-right: 3px;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 10px;
    }

    div.paymentmethod {
        text-align: right;
        float: right;
        border: solid 1px black;
        padding-top: 10px;
        padding-left: 4px;
        width: 600px;
    }

    .shippingmethod_notselected {
        color: #808080;
    }

    .shippingmethod_selected {
        color: #00331b;
    }

    .hidden {
        display: none;
    }

    .shown {
        display: block;
    }

    td.topborder {
        border-top: solid 1px black;
        padding-top: 6px;
    }

    td.leftborder {
        border-left: solid 1px black;
        padding-left: 3px;
    }

    td.rightborder {
        border-right: solid 1px black;
        padding-right: 3px;
    }

    td.bottomborder {
        border-bottom: solid 1px black;
        padding-bottom: 3px;
    }

    a.remove {
        cursor: pointer;
        text-decoration: none;
        color: #D7D2B7;
        font-size: 14px;
    }

    hr {
        height: 1px;
        color: #D7D2B7;
        background-color: #D7D2B7;
        border: none;
    }

    a.cartprodlink {
        color: black;
        text-decoration: none;
    }

    .suggested {
        position: relative;
    }

    .cartprod {
        position: relative;
        float: left;
        width: 195px;
        vertical-align: middle;
    }

    div.image {
        position: relative;
        float: left;
        width: 95px;
        margin: 0;
        cursor: pointer;
    }

    div.details {
        position: relative;
        float: left;
        width: 95px;
        text-align: center;
        cursor: pointer;
    }

    .header {
        width: 210px;
        height: 25px;
        background-color: #331709;
        border: none;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        color: #D7D2B7;
        padding-top: 5px;
    }

    .button {
        background-color: #331709;
        border: none;
        width: 125px;
        color: #D7D2B7;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttonwide {
        background-color: #331709;
        border: none;
        width: 200px;
        color: #D7D2B7;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button2 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }

        .button2:hover {
            color: white;
        }

    div#cartmain {
        position: relative;
        width: 1000px;
        background-color: white;
        color: black;
        border: solid 3px #331709;
        margin: 5px;
        font-family: Arial, Verdana, sans-serif;
        padding-right: 5px;
        padding-top: 5px;
    }

    .select {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

        .select:hover {
            border-color: #00331B;
        }

    .cardinput {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

        .cardinput:hover {
            border-color: #00331B;
        }

    input.qty {
        width: 75px;
        background-color: #d7d2b7;
        border: 0px;
        text-align: right;
        padding-right: 4px;
        font-family: Arial, Verdana, sans-serif;
        font-size: 18px;
    }

    input.zip {
        width: 110px;
        background-color: #d7d2b7;
        border: 0px;
        text-align: right;
        padding-right: 4px;
        font-family: Arial, Verdana, sans-serif;
        font-size: 18px;
    }

    td.sub {
        text-align: right;
        padding-right: 5px;
        padding-top: 5px;
    }

    tr.alt td {
        background-color: #f5f5f5;
    }

    tr.cartlist {
        font-family: Arial, Verdana, sans-serif;
        color: black;
    }

        tr.cartlist th {
            vertical-align: bottom;
            border-bottom: 1px solid grey;
        }

        tr.cartlist td {
            vertical-align: middle;
            padding-bottom: 5px;
        }

    td.numeric {
        text-align: right;
        vertical-align: middle;
    }

    td.text {
        padding-left: 4px;
    }

    td.subtotal {
        padding-top: 5px;
        border-top: 1px solid black;
    }

    td.addon {
        padding-top: 5px;
    }

    div#topbar {
        position: relative;
        width: 100%;
        color: #331709;
        text-align: right;
    }

    tr.navbar td.indicator {
        width: 150px;
        text-align: center;
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
    }

    tr.navbar td.selected {
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
        background-color: #331709;
        color: #d7d2b7;
    }

    tr.navbar td.sep {
        width: 30px;
        text-align: center;
    }

    div.triangle_spacer {
        position: relative;
        float: left;
        width: 10px;
    }

    div.triangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0px 10px 8px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
</style>
