﻿@model WholesaleHunter.ViewModels.MyInfoViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    ViewBag.Title = "Shopping Cart Contents";
    Layout = "";

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";
}

<div id="cartmain">
    <div id="topbar">
        <span onclick="hideCart();">close [X]</span>
    </div>
    <table style="width:100%">
        <tr class="navbar">
            <td class="spacer">&nbsp;</td>
            <td class="indicator" id="indViewCart">VIEW CART</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator selected" id="indMyInfo">MY INFO</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indPayment">PAYMENT</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indAlmostThere">ALMOST THERE</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indComplete">COMPLETE</td>
            <td class="spacer">&nbsp;</td>
        </tr>
    </table>
    <br /><br />
    <table width="990" class="login_table">
        <tr>
            <td width="122">&nbsp;</td>
            <td width="447" align="center" style="font-size: 24px">HAVE AN ACCOUNT?</td>
            <td width="39">&nbsp;</td>
            <td width="309" valign="bottom">WANT AN ACCOUNT?</td>
        </tr>
        <tr>
            <td>Username <span>*</span></td>
            <td>
                <input type="text" name="cart_username" id="cart_username" placeholder="email or username" value="">
            </td>
            <td>&nbsp;</td>
            <td valign="top">
                <a href="#" onclick="myInfo('new');" class="button button4">CREATE ACCOUNT</a>
            </td>
        </tr>
        <tr>
            <td>Password <span>*</span></td>
            <td><input type="password" name="cart_password" id="cart_password" placeholder="password" value=""></td>
            <td>&nbsp;</td>
            <td valign="bottom">
                CONTINUE WITHOUT LOGGING IN
            </td>
        </tr>
        <tr>
            <td> &nbsp;</td>
            <td>
                <button class="button button2">
                    <a href="#" onclick="doCartLogin();">LOGIN</a>
                </button>
            </td>
            <td>&nbsp;</td>
            <td>
                <a href="#" onclick="myInfo('guest');" class="button button4">CONTINUE AS GUEST</a>
            </td>
        </tr>

    </table>
</div>




<style type="text/css">
    .button {
        background-color: #331709;
        border: none;
        width: 125px;
        color: white;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        border: none;
        font-size: 14px;
        text-align: center;
        color: #331709;
    }

        .button1:hover {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            color: white;
        }

    .button2 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
    }

    .button3 {
        background-color: #FFF;
        border: none;
        font-size: 20px;
        width: 25px;
        text-align: center;
    }

    .button4 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        width: 175px;
        text-align: center;
    }

    div#cartmain {
        position: relative;
        width: 1000px;
        background-color: white;
        color: black;
        border: solid 3px #331709;
        margin: 5px;
        font-family: Arial, Verdana, sans-serif;
        padding-right: 5px;
        padding-top: 5px;
    }

    div#topbar {
        position: relative;
        width: 100%;
        color: #331709;
        text-align: right;
    }

    tr.navbar td.indicator {
        width: 150px;
        text-align: center;
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
    }

    tr.navbar td.selected {
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
        background-color: #331709;
        color: #d7d2b7;
    }

    tr.navbar td.sep {
        width: 30px;
        text-align: center;
    }

    div.triangle_spacer {
        position: relative;
        float: left;
        width: 10px;
    }

    div.triangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0px 10px 8px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
</style>
@Styles.Render("~/Content/css")