﻿@model WholesaleHunter.ViewModels.CartPaymentViewModel
@using System.Globalization
@using WholesaleHunter.Classes
@using WholesaleHunter.Models
@{
    ViewBag.Title = "Shopping Cart Payment";
    Layout = "";
    decimal ExtTotal;
    decimal CartTotal = 0;
    decimal OrderTotal = 0;
    int cntItem = 0;
    int cntShippingOptions = 0;
    string addClass = "";
    string inputClassName = "";
    string inputReadOnly = "";
    string shippingOptionClass = "";
    string shippingOptionChecked = "";
    string orderDescription = "";
    decimal defaultShippingCost = 0;

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";

    List<SelectListItem> listYears = new List<SelectListItem>();
    DateTime dtNow = DateTime.Now;
    int StartYear = dtNow.Year;
    for (int cntYear = dtNow.Year; cntYear < dtNow.Year + 25; cntYear++)
    {
        String strYear = cntYear.ToString();
        strYear = strYear.Substring(strYear.Length - 2, 2);
        SelectListItem itm = new SelectListItem { Text = cntYear.ToString(), Value = strYear };
        //if (cntYear==2018) itm.Selected = true;
        listYears.Add(itm);
    }

    List<SelectListItem> listCards = new List<SelectListItem>();
    foreach (CartPaymentMethod paymethod in Model.PaymentMethods)
    {
        SelectListItem item = new SelectListItem { Text = paymethod.CardTitle, Value = paymethod.CustomerPaymentMethodID.ToString() };
        if (paymethod.IsPrimary == 1)
        {
            item.Selected = true;
        }
        listCards.Add(item);
    }
    listCards.Add(new SelectListItem { Text = "New Card", Value = "0" });

    string paymentmethods = Newtonsoft.Json.JsonConvert.SerializeObject(Model.PaymentMethods);

    string clsRowCardSelect;
    string clsRowCardNumber;
    string clsRowCardExpiration;
    string clsRowCardZip;
    string clsRowCardOptions;
    string clsRowCardBillingAddress1;
    string clsRowCardBillingAddress2;
    string clsRowCardCityState;
    string clsRowCardUseShippingAddress;
    string clsRowCardBillingName;
    string clsRowCardBillingPhone;

    if (Model.IsRegistered)
    {
        if(Model.PaymentMethods.Count>0)
        {
            clsRowCardSelect = "shown";
            clsRowCardNumber = "hidden";
            clsRowCardExpiration = "hidden";
            clsRowCardZip = "hidden";
            clsRowCardOptions = "hidden";
            clsRowCardBillingAddress1 = "hidden";
            clsRowCardBillingAddress2 = "hidden";
            clsRowCardCityState = "hidden";
            clsRowCardUseShippingAddress = "hidden";
            clsRowCardBillingName = "hidden";
            clsRowCardBillingPhone = "hidden";
        }
        else
        {
            clsRowCardSelect = "shown";
            clsRowCardNumber = "shown";
            clsRowCardExpiration = "shown";
            clsRowCardZip = "shown";
            clsRowCardOptions = "shown";
            clsRowCardBillingAddress1 = "shown";
            clsRowCardBillingAddress2 = "shown";
            clsRowCardCityState = "shown";
            clsRowCardUseShippingAddress = "shown";
            clsRowCardBillingName = "shown";
            clsRowCardBillingPhone = "shown";
        }
    }
    else
    {
        clsRowCardSelect = "hidden";
        clsRowCardNumber = "shown";
        clsRowCardExpiration = "shown";
        clsRowCardBillingAddress1 = "shown";
        clsRowCardBillingAddress2 = "shown";
        clsRowCardCityState = "shown";
        clsRowCardZip = "shown";
        clsRowCardUseShippingAddress = "shown";
        clsRowCardBillingName = "shown";
        clsRowCardBillingPhone = "shown";
        clsRowCardOptions = "hidden";
    }
}

<div id="cartmain">
    <div id="topbar">
        <span onclick="hideCart();">close [X]</span>
    </div>
    <table style="width:100%">
        <tr class="navbar">
            <td class="spacer">&nbsp;</td>
            <td class="indicator" id="indViewCart">VIEW CART</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indMyInfo">MY INFO</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator selected" id="indPayment">PAYMENT</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indAlmostThere">ALMOST THERE</td>
            <td class="sep">
                <div class="triangle_spacer">&nbsp;</div>
                <div class="triangle">&nbsp;</div>
                <div class="triangle_spacer">&nbsp;</div>
            </td>
            <td class="indicator" id="indComplete">COMPLETE</td>
            <td class="spacer">&nbsp;</td>
        </tr>
    </table>
    <br /><br />
    <table cellpadding="0" cellspacing="0">
        <tr class="cartlist">
            <th style="width:500px;">ITEM</th>
            <th style="width:15px;"></th>
            <th style="width:120px;text-align:right;">UNIT PRICE</th>
            <th style="width:15px;"></th>
            <th style="width:100px;text-align:right;">QUANTITY</th>
            <th style="width:15px;"></th>
            <th style="width:140px;text-align:right;">TOTAL PRICE</th>
            <td style="width:25px;">&nbsp;</td>
        </tr>
        @foreach (CartListItem itm in Model.items)
        {
            ExtTotal = itm.Quantity * itm.Price;
            CartTotal += ExtTotal;
            orderDescription += itm.ItemTitle + ";";
            cntItem++;
            if (cntItem % 2 == 0)
            {
                addClass = "alt";
            }
            else
            {
                addClass = "";
            }
            <tr class="cartlist @addClass">
                <td class="text"><a class="contents" href="/Product/Details/@itm.ProductID" target="_blank">@itm.ItemTitle</a></td>
                <td class="divider"></td>
                <td class="numeric">
                    @String.Format(nfi, "{0:C2}", @itm.Price)
                    <input type="hidden" id="@Html.Raw("price_" + cntItem + "_" + @itm.ProductID)" value="@itm.Price" />
                </td>
                <td class="divider"></td>
                <td class="numeric">
                    @if (itm.AuctionID == null)
                    {
                        inputClassName = "qty";
                        inputReadOnly = "";
                    }
                    else
                    {
                        inputClassName = "qty_readonly";
                        inputReadOnly = "readonly";
                    }

                    <input class="@inputClassName" @inputReadOnly id="@Html.Raw("qty_" + cntItem + "_" + @itm.ProductID)" value="@itm.Quantity" onchange="updateCartQty(@cntItem, @itm.ProductID);" />
                    <input type="hidden" id="@Html.Raw("origqty_" + cntItem + "_" + @itm.ProductID)" value="@itm.Quantity" />
                </td>
                <td class="divider"></td>
                <td class="numeric">@String.Format(nfi, "{0:C2}", ExtTotal)</td>
                <td style="text-align:center;">
                    <a class="remove" href="#" onclick="removeFromCart(@cntItem, @itm.ProductID);" title="Remove item">
                        <span style="font-weight:bold;text-align:center;">X</span>
                    </a>
                </td>
            </tr>
        }
        <tr class="cartlist">
            <td colspan="5" class="sub" style="border-top: 1px solid black;">SUBTOTAL</td>
            <td class="divider" style="border-top: 1px solid black;"></td>
            <td id="cartsubtotal" class="numeric subtotal" style="border-top: 1px solid black;">@String.Format(nfi, "{0:C2}", CartTotal)</td>
            <td>&nbsp;</td>
        </tr>

        <tr class="cartlist">
            <td colspan="8">
                <div style="text-align:right;float:right;">
                    <table cellpadding="0" cellspacing="0">
                        @foreach (CartShippingMethod method in Model.ShippingMethods)
                        {
                            if (method.ShippingMethod.ToLower().Contains("economy"))
                            {
                                shippingOptionClass = "shippingmethod_selected";
                                shippingOptionChecked = "checked=\"checked\"";
                                if(!decimal.TryParse(method.ShippingCost, out defaultShippingCost))
                                {
                                    defaultShippingCost = 0;
                                }
                            }
                            else
                            {
                                shippingOptionClass = "shippingmethod_notselected";
                                shippingOptionChecked = "";
                            }
                            decimal decShippingCost;
                            if (!Decimal.TryParse(method.ShippingCost, out decShippingCost))
                            {
                                decShippingCost = 0;
                            }
                            <tr>
                                @if (cntShippingOptions == 0)
                                {
                                    addClass = "topborder";
                                    <td style="width:140px;text-align:left;" class="topborder leftborder">Shipping Options&nbsp;&nbsp;</td>
                                }
                                else
                                {
                                    addClass = "";
                                    <td style="width:140px;text-align:left;" class="leftborder">&nbsp;</td>
                                }

                                <td style="width:280px;text-align:left;" class="@addClass">
                                    <input type="radio" id="rdoShipping_@cntShippingOptions"
                                           name="rdoShipping" value="@cntShippingOptions" @shippingOptionChecked
                                           onchange="changeShippingOption(@cntShippingOptions)" />&nbsp;
                                    <span class="@shippingOptionClass" id="spanShipping_@cntShippingOptions">@method.ShippingMethod</span>
                                </td>
                                <td style="width:140px;text-align:right;" class="@addClass">
                                    @{
                                        decimal shipcost;
                                        string ShipCostDisplay = "";
                                        if (decimal.TryParse(method.ShippingCost, out shipcost))
                                        {
                                            ShipCostDisplay = String.Format(nfi, "{0:C2}", shipcost);
                                        }
                                        else
                                        {
                                            ShipCostDisplay = method.ShippingCost;
                                            shipcost = 0;
                                        }
                                    }
                                    <span class="@shippingOptionClass" id="spanShippingPrice_@cntShippingOptions">
                                        @ShipCostDisplay
                                    </span>
                                    <input type="hidden" id="shippingmethodcost_@cntShippingOptions" value="@shipcost" />
                                    <input type="hidden" id="shippingmethodname_@cntShippingOptions" value="@method.ShippingMethodName" />
                                </td>
                                <td style="width:10px;" class="rightborder @addClass">&nbsp;</td>
                                <td style="width:15px;">&nbsp;</td>
                            </tr>
                            cntShippingOptions++;
                        }
                        <tr>
                            <td colspan="2" style="text-align:left;" class="bottomborder leftborder">
                                <input type="checkbox" id="shippinginsurance" name="shippinginsurance"
                                       onchange="toggleShippingInsurance();" checked="checked" />&nbsp;Shipping Insurance
                            </td>
                            <td style="width:140px;text-align:right;" class="bottomborder">
                                <span id="spanShippingInsurance" class="shippingmethod_selected">@String.Format(nfi,"{0:C2}", Model.ShippingInsurancePrice)</span>
                                <input type="hidden" id="shippinginsurancecost" value="@Model.ShippingInsurancePrice" />
                            </td>
                            <td style="width:10px;" class="rightborder bottomborder">&nbsp;</td>
                            <td style="width:15px;">&nbsp;</td>
                        </tr>
                    </table>
                </div>
                <input type="hidden" id="selectedShippingCharges" value="@defaultShippingCost" />
            </td>
        </tr>

        @if(Model.HazmatAmount != 0) {
        <tr class="cartlist">
            <td colspan="5" class="sub">HAZMAT FEES</td>
            <td class="divider"></td>
            <td class="numeric">@String.Format(nfi, "{0:C2}", Model.HazmatAmount)
                <input type="hidden" id="Hazmat" value="@Model.HazmatAmount" />
            </td>
            <td>&nbsp;</td>
        </tr>
        }

        <tr class="cartlist">
            <td colspan="5" class="sub">TOTAL BEFORE TAX</td>
            <td class="divider"></td>
            <td id="subtotal1" class="numeric subtotal">@String.Format(nfi, "{0:C2}", Model.GetCartSubTotalWithDefaultShipping())</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="cartlist">
            <td colspan="5" class="sub">TAX</td>
            <td class="divider"></td>
            <td id="taxamount" class="numeric addon">@Model.TaxDisplay
                <input type="hidden" id="tax" value="@Model.Tax" />
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr class="cartlist">
            <td colspan="5" class="sub">ORDER TOTAL</td>
            <td class="divider"></td>
            <td id="ordertotal" class="numeric subtotal">
                <span id="spanOrderTotal" style="font-weight:bold;font-size: 20px;">@String.Format(nfi, "{0:C2}", Model.GetCartTotalWithTax())</span>
                <input type="hidden" id="ordertotalhidden" value="@Model.GetCartTotalWithTax()" />
            </td>
            <td>&nbsp;</td>
        </tr>


        <tr class="cartlist">
            <td colspan="8">
                <div style="position:relative;width:100%;">
                    <div style="float:right;width:15px" ;>&nbsp;</div>
                    <div id="creditcard" class="paymentmethod">
                        <table cellpadding="0" cellspacing="0" style="width:575px;">
                            <tr id="rowCardSelect" class="@clsRowCardSelect">
                                <td style="width:135px;text-align:left;">
                                    My Cards
                                </td>
                                <td style="text-align:left;" colspan="3">
                                    @Html.DropDownList("selectCard",
                                    listCards,
                                    null,
                                    new { id = "selectCard", @class = "select", style = "width:420px;", onchange = "changeCard();" })
                                </td>
                            </tr>
                            <tr id="rowCardNumber" class="@clsRowCardNumber">
                                <td style="width:135px;text-align:left;">
                                    <span id="label_cardnumber">Card Number</span>
                                </td>
                                <td style="text-align:left;" colspan="3">
                                    <input type="text" class="cardinput" style="width: 398px;" id="cardnumber"
                                           placeholder="Credit Card Number" />
                                </td>
                            </tr>
                            <tr id="rowCardExpiration" class="@clsRowCardExpiration">
                                <td style="width:135px;text-align:left;">
                                    <span id="label_expiration">Expiration Month</span>
                                </td>
                                <td style="width:150px;text-align:left;">
                                    <select size="1" id="selectExpireMonth" class="select" style="width:125px;" onchange="verifyDate(false);">
                                        <option selected value="0">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </td>
                                <td style="width:150px;text-align:left;">
                                    @Html.DropDownList("selectExpireYear",
                                    listYears,
                                    "Year",
                                    new { id = "selectExpireYear", @class = "select", style = "width:125px;",onchange = "verifyDate();" })
                                </td>
                                <td style="width:125px;text-align:left;">
                                    <span id="label_CVV">CVV&nbsp;</span>
                                    <input type="text" id="cvv" class="cardinput" placeholder="CVV" style="width:50px;" onchange="verifyCVV();" />
                                </td>
                            </tr>
                            <tr id="rowCardUseShippingAddress" class="@clsRowCardUseShippingAddress">
                                <td style="width:135px;text-align:left;">
                                    &nbsp;
                                </td>
                                <td style="text-align:left;" colspan="3">
                                    <span style="font-weight:bold;">BILLING ADDRESS</span>
                                    <input type="checkbox" id="useshippingaddress" onchange="getShippingAddress();" />&nbsp;Use shipping address
                                </td>
                            </tr>

                            <tr id="rowCardBillingName" class="@clsRowCardBillingName">
                                <td style="width:135px;text-align:left;">
                                    <span id="label_billingname">Name</span>
                                </td>
                                <td style="text-align:left;" colspan="3">
                                    <input type="text" class="cardinput" style="width: 398px;" id="billingname" placeholder="Billing Name" />
                                </td>
                            </tr>


                            <tr id="rowCardBillingAddress1" class="@clsRowCardBillingAddress1">
                                <td style="width:135px;text-align:left;">
                                    <span id="label_billingaddress1">Street Address</span>
                                </td>
                                <td style="text-align:left;" colspan="3">
                                    <input type="text" class="cardinput" style="width: 398px;" id="billingaddress1" placeholder="Street Address" />
                                </td>
                            </tr>

                            <!-- <tr id="rowCardBillingAddress2" class="@clsRowCardBillingAddress2">
                                <td style="width:135px;text-align:left;">
                                    <span id="label_billingaddress2">Address Line 2</span>
                                </td>
                                <td style="text-align:left;" colspan="3">
                                    <input type="text" class="cardinput" style="width: 398px;" id="billingaddress2" placeholder="Address Line 1" />
                                </td>
                            </tr> -->

                            <tr id="rowCardCityState" class="@clsRowCardCityState">
                                <td style="width:135px;text-align:left;">
                                    <span id="label_city">City</span>
                                </td>
                                <td style="width:150px;text-align:left;">
                                    <input type="text" class="cardinput" style="width: 125px;" id="billingcity" placeholder="City" />                        
                                </td>
                                <td style="width:150px;text-align:left;">

                                    <select size="1" id="billingstate" class="select" style="width:125px;">
                                        <option selected value="0">State</option>
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </td>
                            </tr>


                            <tr id="rowCardZip" class="@clsRowCardZip">
                                <td style="text-align:left;width:135px;">
                                    <span id="label_billingzip">
                                        Zip
                                    </span>
                                </td>
                                <td colspan="3" style="text-align:left;">
                                    <input type="text" id="creditcardZIP" class="cardinput" placeholder="ZIP Code" onchange="verifyZIP()" style="width:102px;" />
                                </td>
                            </tr>
                            <tr id="rowCardBillingPhone" class="@clsRowCardBillingPhone">
                                <td style="width:135px;text-align:left;">
                                    <span id="label_billingphone">Phone Number</span>
                                </td>
                                <td style="text-align:left;" colspan="3">
                                    <input type="text" class="cardinput" style="width: 398px;" id="billingphone" placeholder="Billing Phone" />
                                </td>
                            </tr>

                            <tr id="rowCardOptions" class="@clsRowCardOptions">
                                <td style="font-size:15px;text-align:left;" colspan="4">
                                    <span id="misc_options">
                                        <input type="checkbox" id="remembercard" />&nbsp;REMEMBER THIS CARD
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="checkbox" id="makedefault" />&nbsp;MAKE DEFAULT PAYMENT OPTION
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div id="check" class="paymentmethod" style="display:none;">
                        <div style="padding-left:10px;text-align:left;">
                            <span id="spanCheckAmount">Please select a Shipping Option, above</span>.<br /><br />
                            Mail it to:<br />
                            <span style="font-weight:bold;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wholesale Hunter<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;34 Fire Tower Rd<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wetumpka, AL 36093
                            </span>
                            <br /><br />
                            -&nbsp;OR&nbsp;-<br /><br />
                            Email a scan of it to:
                            <span style="font-weight:bold;">&nbsp;support@wholesalehunter.com</span>
                            <br /><br />
                            -&nbsp;OR&nbsp;-<br /><br />
                            Fax it to:
                            <span style="font-weight:bold;">&nbsp;334-567-2780</span><br /><br />
                        </div>
                    </div>
                    <div style="position:relative;float:right;width:170px;">
                        <div class="paymentmethodselected" id="btnCreditcard" onclick="selectPaymentMethod('creditcard')">Credit Card</div>
                        <div class="paymentmethodselect" id="btnCheck" onclick="selectPaymentMethod('check')">Check</div>
                    </div>
                </div>
            </td>
        </tr>

        <tr class="cartlist">
            <td colspan="7" style="text-align: right;">
                <a href="#" onclick="myInfo();" class="button button2">BACK</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="#" onclick="goPaymentProcessing();" class="button button2">NEXT</a>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="8"><hr /></td>
        </tr>
        @if (Model.suggested.Count > 0)
        {
            <tr class="cartlist">
                <td colspan="8" style="padding-left:15px;padding-top:15px;vertical-align: middle;">
                    <div class="header">SUGGESTED PRODUCTS</div>
                </td>
            </tr>
            <tr class="cartlist">
                <td colspan="8" style="padding-left:10px;padding-top:10px;">
                    <div id="suggested">
                        @foreach (CartSuggestedProducts prod in Model.suggested)
                        {
                            <div class="cartprod">
                                <div class="image">
                                    <a href="/Product/Details/@prod.LinkTarget">
                                        <img src="@prod.ImageLocation" alt="Link to @prod.ItemTitle" style="max-width:95px;" />
                                    </a>
                                </div>
                                <div class="details">
                                    <a href="/Product/Details/@prod.LinkTarget" class="cartprodlink">
                                        <span style="font-weight:bold;">@prod.ItemTitle</span><br />
                                        <span style="font-weight:bold;">@String.Format(nfi, "{0:C2}", prod.Price)</span>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </td>
            </tr>
        }

    </table>
</div>

<input type="hidden" id="cartadjusted" value="@Model.CartAdjustedMessage" />
<input type="hidden" id="selectedpaymentmethod" value="1" />
<input type="hidden" id="activefield" value="" />
<input type="hidden" id="orderdescription" value="@orderDescription" />
<input type="hidden" id="paymentmethods" value="@paymentmethods" />

<script type="text/javascript">
    function getShippingAddress() {
        //check if box is checked or unchecked
        if($("#useshippingaddress").prop("checked")) {
            //use the address in Model
            var shipname =
            $("#billingname").val("@Model.CartInfo.FirstName @Model.CartInfo.LastName");
            $("#billingaddress1").val("@Model.CartInfo.Address1");
            $("#billingaddress2").val("@Model.CartInfo.Address2");
            $("#billingcity").val("@Model.CartInfo.City");
            $("#creditcardZIP").val("@Model.CartInfo.ZIPCode");
            $("#billingphone").val("@Model.CartInfo.Phone");
            //now set the state value
            $("#billingstate").val("@Model.CartInfo.State");
        }
        else
        {
            $("#billingname").val("");
            $("#billingaddress1").val("");
            $("#billingaddress2").val("");
            $("#billingcity").val("");
            $("#creditcardZIP").val("");
            $("#billingphone").val("");
            document.getElementById("billingstate").selectedIndex=0;
        }
    }

    function selectPaymentMethod(method) {
        if(method=='creditcard') {
            $("#selectedpaymentmethod").val("1");
            $("div#creditcard").show();
            $("div#check").hide();

            $("div#btnCreditcard").removeClass('paymentmethodselect');
            $("div#btnCreditcard").addClass('paymentmethodselected');

            $("div#btnCheck").removeClass('paymentmethodselected');
            $("div#btnCheck").addClass('paymentmethodselect');

        }
        else if(method=='check') {
            $("#selectedpaymentmethod").val("2");
            $("div#creditcard").hide();
            $("div#check").show();

            $("div#btnCreditcard").removeClass('paymentmethodselected');
            $("div#btnCreditcard").addClass('paymentmethodselect');

            $("div#btnCheck").removeClass('paymentmethodselect');
            $("div#btnCheck").addClass('paymentmethodselected');

        }
    }

    function changeCard() {
        if($("#selectCard option:selected").val() == 0) {
            showCardElements();
        }
        else
        {
            hideCardElements();
        }
    }

    function showCardElements() {
        $("#rowCardNumber").css("display","table");
        $("#rowCardExpiration").css("display","table");
        $("#rowCardZip").css("display","table");
        $("#rowCardBillingAddress1").css("display","table");
        $("#rowCardCityState").css("display","table");
        $("#rowCardBillingName").css("display","table");
        $("#rowCardBillingPhone").css("display","table");
        $("#rowCardUseShippingAddress").css("display","table");
        $("#rowCardOptions").css("display","table");
    }

    function hideCardElements() {
        $("#rowCardNumber").hide();
        $("#rowCardExpiration").hide();
        $("#rowCardBillingAddress1").hide();
        $("#rowCardCityState").hide();
        $("#rowCardBillingName").hide();
        $("#rowCardBillingPhone").hide();
        $("#rowCardUseShippingAddress").hide();
        $("#rowCardZip").hide();
        $("#rowCardOptions").hide();
    }

    function doCheckout() {
        //check the cart inventory
        var obj = {
            CustomerID: '@Model.CustomerID',
            ZipCode: ''
        }

        $.ajax({
            type: "POST",
            cache: false,
            url: "/api/AJax/CheckCartInventory",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var OkayToContinue = true;
                switch (data) {
                    case "1":
                        //No errors
                        OkayToContinue = true;
                        break;
                    case "0":
                        //General failure
                        OkayToContinue = false;
                        alert("An error occurred while checking your cart inventory.\n\nIf this message persists please contact a System Administrator.")
                        break;
                    case "-1":
                        //quantity was reduced
                        OkayToContinue = false;
                        alert("The quantity of one or more items in your cart was adjusted due to current inventory levels.\n\nPlease review your cart before proceeding with your checkout.")
                        break;
                    case "-2":
                        //price increase
                        alert("The price of one or more items in your cart was increased due to an insufficient quantity of the lower priced item being available.\n\nPlease review your cart before proceeding with your checkout.")
                        OkayToContinue = false;
                        break;
                }

                if (OkayToContinue) {
                    //load the next page
                    myInfoLogin();
                }
                else {
                    //reload the shopping cart page
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    showCart();
                    return false;
                }
            }
        });
        $("#shoppingcart").hide();
    }

    function toggleShippingInsurance() {
        calculateTotals();
    }

    function changeShippingOption(shippingOption) {
        //see which shipping option was selected
        $("[id^=rdoShipping_]").each( function(index,rdoShipping) {
            //alert("index: " + index + "\nchecked: " + rdoShipping.checked + "\nvalue: "+  rdoShipping.value + "\nid: " + rdoShipping.id);
            if(rdoShipping.checked) {
                $("#spanShipping_"+index).addClass("shippingmethod_selected");
                $("#spanShippingPrice_" + index).addClass("shippingmethod_selected");

                var shippingcharge = $("#shippingmethodcost_" + index).val();
                $("#selectedShippingCharges").val(shippingcharge);
            }
            else
            {
                $("#spanShipping_" + index).removeClass("shippingmethod_selected");
                $("#spanShippingPrice_" + index).removeClass("shippingmethod_selected");
                $("#spanShipping_" + index).addClass("shippingmethod_notselected");
                $("#spanShippingPrice_" + index).addClass("shippingmethod_notselected");
            }
        });
        calculateTotals();
    }

    function calculateTotals() {
        //first make sure a shipping option is checked
        var shippingOptionPicked=false;
        $("[id^=rdoShipping_]").each( function(index,rdoShipping) {
            //alert(index + "\n" + rdoShipping.id);
            if(rdoShipping.checked) {

                shippingOptionPicked=true;
            }
        });
        if(!shippingOptionPicked) {
            alert('Please select a shipping option.');
            return false;
        }

        var cartsubtotal = moneyToNumber($("td#cartsubtotal").html());
        cartsubtotal = floatToIntX100(cartsubtotal);
        //console.log("cartsubtotal: " + cartsubtotal);

        var shipping = $("#selectedShippingCharges").val();
        shipping = floatToIntX100(shipping);
        //console.log("shipping: " + shipping);

        var shippinginsurance=0;
        if($("#shippinginsurance").prop('checked')) {
            shippinginsurance=$("#shippinginsurancecost").val();
            shippinginsurance = floatToIntX100(shippinginsurance);
        }
        //console.log("shippinginsurance: " + shippinginsurance);

        var hazmat = $("#hazmat").val();
        if(hazmat==null) {
            hazmat=0;
        }
        else{
            hazmat = floatToIntX100(hazmat);
        }
        //console.log("hazmat: " + hazmat);

        var subtotal1 = (cartsubtotal * 1) + (shipping * 1) + (shippinginsurance * 1) + (hazmat * 1);
        $("td#subtotal1").html(formatMoney(addDecimal(subtotal1)));
        //console.log("subtotal1: " + subtotal1);

        var tax=@Model.Tax;
        //console.log("taxA: " + tax);

        if (tax == null || isNaN(tax)) {
            //tax is not a number or null
            tax = 0;
        }
        else {
            if ((tax * 1) == 0) {
                tax = 0;
            }
            else {
                //tax is a number
                tax = moneyToNumber(tax+"");
                tax = floatToIntX100(tax);
            }
        }
        //console.log("tax: " + tax);
        taxDisplay = formatMoney(addDecimal(tax));
        $("td#taxamount").html(taxDisplay);

        var total = (subtotal1 * 1) + (tax * 1);
        //console.log("total: " + total);
        $("#spanOrderTotal").html(formatMoney(addDecimal(total)));
        $("#spanCheckAmount").html("Write a check payable to Wholesale Hunter for " + formatMoney(addDecimal(total)));
        $("#ordertotalhidden").val(addDecimal(total));
    }

    function addDecimal(obj) {

        obj = obj + "";
        var objA = obj.substr(0, obj.length - 2);
        var objB = obj.substr(obj.length - 2)
        return objA + "." + objB;
    }

    function floatToIntX100(obj) {
        if (obj.indexOf(".") != -1) {
            obj = obj + "000";
            var loc = obj.indexOf(".") + 3;
            var tmp = obj.substr(0, loc);
            //now get rid of the decimal point
            tmp = tmp.replace(".", "");
        }
        else {
            tmp = obj + "00";
        }
        return +tmp;
    }

    function formatMoney(nStr) {
        nStr += '';
        var x = nStr.split('.');
        var x1 = x[0];

        var x2 = x.length > 1 ? '.' + x[1] : '.00';

        if (x.length > 1) {
            //the number has a decimal component
            x2 = x[1] + '00';  //make sure it's at least 2 digits long
            x2 = '.' + x2.substr(0, 2);
        } else {
            //the number does not have a decimal component
            x2 = '.00';
        }

        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        if(x1=="") {
            x1="0";
        }
        return "$" + x1 + x2;
    }

    function moneyToNumber(obj) {
        obj = obj.replace("$", "");
        obj = obj.replace(",", "");
        return obj;
    }

    function removeFromCart(cnt, productid) {
        var qty = 0;
        var price = $("#price_" + cnt + "_" + productid).val();
        callDb(productid, qty, price);
    }

    function updateCartQty(cnt, productid) {
        //console.log("updateCartQty");
        var qty = $("#qty_" + cnt + "_" + productid).val();
        $("#activefield").val("qty_" + cnt + "_" + productid);
        var origqty = $("#origqty_" + cnt + "_" + productid).val();
        if(qty<1) {
            alert("The quantity must be greater than zero.");
            $("#qty_" + cnt + "_" + productid).val(origqty);
            return false;
        }
        var price = $("#price_" + cnt + "_" + productid).val();
        callDb(productid, qty, price);
    }

    function callDb(productid, qty, price) {
        //console.log("callDb");
        price = price.replace("$", "");
        price = price.replace(",", "");

        var obj = {
            CustomerID: '@Model.CustomerID',
            ProductID: productid,
            Price: price,
            NewQuantity: qty
        }

        $.ajax({
            type: "POST",
            cache: false,
            url: "/api/AJax/UpdateCart",
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: updateCartPostback
        });
        return false;
    }

    function updateCartPostback(data) {
        if (data == "1") {
            //successful

            $.ajax({
                type: "POST",
                cache: false,
                url: '@Url.Action("Payment", "Cart")',
                success: function (html) {
                    $("#shoppingcart").html('');
                    $("#shoppingcart").show();
                    $("#pagemask").show();
                    $(html).appendTo('#shoppingcart');
                }
            });
            $("#shoppingcart").hide();
        }
        else {
            //alert(data);
            //now put the original quantity back
            var activefield = $("#activefield");
            var activefieldid = activefield.val();
            var origqty = $("#orig" + activefieldid).val();
            $("#" + activefieldid).val(origqty);
            activefield.val("");
        }
    }


</script>

<style type="text/css">
    a.contents {
        font-family: Arial, Helvetica, sans-serif;
        color: #00331B;
        font-size: 16px;
    }

    div.paymentmethodselect {
        position: relative;
        float: right;
        width: 140px;
        background-color: #d7d2b7;
        color: #331709;
        margin-bottom: 5px;
        margin-right: 3px;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 10px;
    }

        div.paymentmethodselect:hover {
            background-color: #331709;
            color: #d7d2b7;
        }

    div.paymentmethodselected {
        position: relative;
        float: right;
        width: 140px;
        background-color: #331709;
        color: #d7d2b7;
        margin-bottom: 5px;
        margin-right: 3px;
        padding-bottom: 3px;
        padding-top: 3px;
        padding-left: 10px;
    }

    div.paymentmethod {
        text-align: right;
        float: right;
        border: solid 1px black;
        padding-top: 10px;
        padding-left: 4px;
        width: 600px;
    }

    .shippingmethod_notselected {
        color: #808080;
    }

    .shippingmethod_selected {
        color: #00331b;
    }

    .hidden {
        display: none;
    }

    .shown {
        display: block;
    }

    td.topborder {
        border-top: solid 1px black;
        padding-top: 6px;
    }

    td.leftborder {
        border-left: solid 1px black;
        padding-left: 3px;
    }

    td.rightborder {
        border-right: solid 1px black;
        padding-right: 3px;
    }

    td.bottomborder {
        border-bottom: solid 1px black;
        padding-bottom: 3px;
    }

    a.remove {
        cursor: pointer;
        text-decoration: none;
        color: #D7D2B7;
        font-size: 14px;
    }

    hr {
        height: 1px;
        color: #D7D2B7;
        background-color: #D7D2B7;
        border: none;
    }

    a.cartprodlink {
        color: black;
        text-decoration: none;
    }

    .suggested {
        position: relative;
    }

    .cartprod {
        position: relative;
        float: left;
        width: 195px;
        vertical-align: middle;
    }

    div.image {
        position: relative;
        float: left;
        width: 95px;
        margin: 0;
        cursor: pointer;
    }

    div.details {
        position: relative;
        float: left;
        width: 95px;
        text-align: center;
        cursor: pointer;
    }

    .header {
        width: 210px;
        height: 25px;
        background-color: #331709;
        border: none;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        color: #D7D2B7;
        padding-top: 5px;
    }

    .button {
        background-color: #331709;
        border: none;
        width: 125px;
        color: #D7D2B7;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .buttonwide {
        background-color: #331709;
        border: none;
        width: 200px;
        color: #D7D2B7;
        alignment-adjust: middle;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button2 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
    }

        .button2:hover {
            color: white;
        }

    div#cartmain {
        position: relative;
        width: 1000px;
        background-color: white;
        color: black;
        border: solid 3px #331709;
        margin: 5px;
        font-family: Arial, Verdana, sans-serif;
        padding-right: 5px;
        padding-top: 5px;
    }

    .select {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

        .select:hover {
            border-color: #00331B;
        }

    .cardinput {
        padding: 4px 10px;
        font-size: 15px;
        border: 1px solid silver;
        background-color: #D7D2B7;
        width: 700px;
        outline: 0;
    }

        .cardinput:hover {
            border-color: #00331B;
        }

    input.qty {
        width: 75px;
        background-color: #d7d2b7;
        border: 0px;
        text-align: right;
        padding-right: 4px;
        font-family: Arial, Verdana, sans-serif;
        font-size: 18px;
    }

    input.qty_readonly {
        width: 75px;
        background-color: transparent;
        border: 0px;
        text-align: right;
        padding-right: 4px;
        font-family: Arial, Verdana, sans-serif;
        font-size: 18px;
    }

    input.zip {
        width: 110px;
        background-color: #d7d2b7;
        border: 0px;
        text-align: right;
        padding-right: 4px;
        font-family: Arial, Verdana, sans-serif;
        font-size: 18px;
    }

    td.sub {
        text-align: right;
        padding-right: 5px;
        padding-top: 5px;
    }

    tr.alt td {
        background-color: #f5f5f5;
    }

    tr.cartlist {
        font-family: Arial, Verdana, sans-serif;
        color: black;
    }

        tr.cartlist th {
            vertical-align: bottom;
            border-bottom: 1px solid grey;
        }

        tr.cartlist td {
            vertical-align: middle;
            padding-bottom: 5px;
        }

    td.numeric {
        text-align: right;
        vertical-align: middle;
    }

    td.text {
        padding-left: 4px;
    }

    td.subtotal {
        padding-top: 5px;
        border-top: 1px solid black;
    }

    td.addon {
        padding-top: 5px;
    }

    div#topbar {
        position: relative;
        width: 100%;
        color: #331709;
        text-align: right;
    }

    tr.navbar td.indicator {
        width: 150px;
        text-align: center;
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
    }

    tr.navbar td.selected {
        font-family: Arial, Verdana, sans-serif;
        font-size: 15px;
        background-color: #331709;
        color: #d7d2b7;
    }

    tr.navbar td.sep {
        width: 30px;
        text-align: center;
    }

    div.triangle_spacer {
        position: relative;
        float: left;
        width: 10px;
    }

    div.triangle {
        position: relative;
        float: left;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 10px 0px 10px 8px;
        border-color: transparent transparent transparent #331709;
        line-height: 0px;
        _border-color: #000000 #000000 #000000 #331709;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    }
</style>
