﻿@model WholesaleHunter.ViewModels.BaseViewModel
@{ 
    Layout = "";
    string divCheckoutClass = "";
}
<div class="row" style="position: relative;height:125px;width:200px;float:right;">
    <a href="#" onclick="showCart();">
        <img src="/images/cart1.jpg" class="img-responsive" alt="Link to Shopping Cart."/>

        <div style="position:absolute;top:35px;left:115px;width:85px;text-align:center;background-color:#d7d2b7;">
            <span id="cartQty" style="font-size:24px;font-weight:bold;color:#00331b;">(@Model.Cart.TotalQuantity)</span>
        </div>
        <div style="position:absolute;top:70px;left:115px;width:85px;text-align:center;background-color:#d7d2b7;">
            <span id="cartTotalPrice" style="font-size:20px;font-weight:bold;color:#00331b;">@Html.Raw(String.Format("{0:C}", Model.Cart.TotalItemPrice))</span>
        </div>
        @if (@Model.Cart.TotalQuantity > 0)
        {
            divCheckoutClass = "divCheckout";
        }
        else
        {
            divCheckoutClass = "divCheckout_hidden";
        }
            <div id="divCheckout" class="@divCheckoutClass">
                <span id="cartTotalPrice" style="font-size:15px;font-weight:bold;color:#00331b;">CHECKOUT</span>
            </div>
    </a>
    <div id="cartTarget" style="position: absolute; top:6px;left:73px;width:120px;height:112px;z-index:10;display:none;">
        <img src="~/images/bullseye.png" />
    </div>
</div>
<style type="text/css">
        .divCheckout {
            position:absolute;
            top:5px;
            left:60px;
            width:85px;
            text-align:center;
            background-color:#d7d2b7;
            display: block;
        }

        .divCheckout_hidden {
            position:absolute;
            top:5px;
            left:60px;
            width:85px;
            text-align:center;
            background-color:#d7d2b7;
            display: block;
        }
</style>