﻿@model WholesaleHunter.ViewModels.HelpViewModel
@using System.Diagnostics

@{
    var i = 1; //Counter to determine odd or even
    var divCounter = 1;  //counter used to create unique Div ID
    var popupDivID = "";  //variable to hold the created Div ID
    var helpTopicChanged = ""; //variable to hold modified help Topic
    var helpTextChanged = "";  //variable to hold modified help text (added class for link)
}

<link href="~/Content/HugoStyles.css" rel="stylesheet" />
<script src="~/Scripts/HelpTopics.js"></script>

<div>
    <div id="helpMask" class="helpMask"></div>
    
    @*<table width="1440" align="center" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>*@
                <table width="1165">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="50%" height="25">&nbsp;</td>
                                    <td width="50%" height="25">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="50%" height="12" style="font-size: 36px; font-weight: bold;">HELP </td>
                                    <td width="50%" height="12">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="13" style="font-size: 36px; font-weight: bold;">&nbsp;</td>
                                    <td width="50%" height="13">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td height="104" colspan="2">
                                        <table style="border:2px solid #00331B" width="65%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="40%" align="center" height="110">
                                                    <div id="searchBar" class="search-wrapper cf">
                                                        <input type="text" id="keywordsearch2" placeholder="Search help topics..." required="" />
                                                        <button type="button" onclick="searchHelpText();">Search</button>
                                                    </div>
                                                    <div id="searchTextList" class="searchTextList">
                                                        &nbsp;
                                                        
                                                    </div>
                                                </td>
                                                                                              
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="50%" height="50" style="font-weight: bold">&nbsp;</td>
                                    <td width="50%" height="50">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="50%" style="font-weight: bold">FREQUENTLY ASKED QUESTIONS</td>
                                    <td width="50%">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td class="FAQTable">


                                <tr>
                                
                                    @foreach (var helpCat in Model.FAQ)
                                    {
                                        //Populate the FAQ section
                                        popupDivID = divCounter + "helpTextPopup";
                                        helpTextChanged = helpCat.HelpText;
                                        if (helpCat.HelpText.Contains("<a"))
                                        {
                                            int anchorIndex = helpTextChanged.IndexOf("<a ");
                                            helpTextChanged = helpTextChanged.Insert(anchorIndex + "<a ".Length, "class=\"helpLink\" ");
                                        }

                                        //Check for apostrophes
                                        helpTextChanged = helpTextChanged.Replace("'", "\'");
                                        helpTopicChanged = helpCat.Topic.Replace("'", @"\'");


                                        //Add the Bolded Title to the dialog box
                                        //helpTextChanged = "<p class=\"helpPopupTitle\">" + helpTopicChanged + "</p><p class=\"helpPopupText\">" + helpTextChanged + "</p>";
                                        popupDivID = divCounter + "helpTextPopup";

                                        <td>

                                            <input type="button" class="FAQTopicButton" onclick="showHelpText('@popupDivID')" value="@helpCat.Topic" />
                                            <div class="helpTopicPopup" id="@popupDivID" style="position:relative;">
                                                <div class="helpPopupClose"><a href="#" onclick="closeHelpText('@popupDivID');">close [X]</a></div>
                                                <div class="helpPopupTitle">@helpCat.Topic</div>
                                                <div class="helpPopupText">@Html.Raw(helpTextChanged)</div>
                                            </div>
                                        </td>
                                        if (i % 2 == 0)  //i is even
                                        {
                                            //Close out the row and start a new one if this is am even number cell
                                            @:</tr><tr>
                                            }

                                            divCounter++;
                                            i++;  //increment the counter
                                            }                                
                                </td>

                            </tr>


                            @{
                                i = 1; //reset counters back to 1
                                popupDivID = "";
                            }
                                <tr>
                                    @foreach (var helpCat in Model.HelpCategories)
                                    {
                                        <td class="helpTable">
                                            <table>
                                                <tr>
                                                    <td class="helpCategory">@helpCat.Category</td>
                                                </tr>
                                                @foreach (var helpTopic in Model.HelpTopics)
                                                {
                                                    if (helpTopic.Category == helpCat.Category)
                                                    {
                                                        Debug.WriteLine("Category: " + helpTopic.Category + " - HelpText: " + helpTopic.HelpText);

                                                        if ((helpTopic.HelpText != null) && (helpTopic.HelpText.StartsWith("[")))
                                                        {
                                                            //this is a special link
                                                            string href = helpTopic.HelpText;
                                                            href = href.Replace("[", "");
                                                            href = href.Replace("]", "");
                                                            <tr>
                                                                <td>
                                                                    <a class="helpSpecial" href="@href"  target="_blank" >@helpTopic.Topic</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            helpTextChanged = helpTopic.HelpText;
                                                            if (helpTopic.HelpText.Contains("<a"))
                                                            {
                                                                int anchorIndex = helpTextChanged.IndexOf("<a ");
                                                    helpTextChanged = helpTextChanged.Insert(anchorIndex + "<a ".Length, "class=\"helpLink\" ");
                                                            }

                                                //Check for apostrophes
                                                helpTextChanged = helpTextChanged.Replace("'", "\'");
                                                            helpTopicChanged = helpTopic.Topic.Replace("'", @"\'");

                                                            //Add the Bolded Title to the dialog box
                                                            //helpTextChanged = "<p class=\"helpPopupTitle\">" + helpTopicChanged + "</p><p class=\"helpPopupText\">" + helpTextChanged + "</p>";
                                                            popupDivID = divCounter + "helpTextPopup";
                                                            <tr>
                                                                <td>
                                                                    <input type="button" class="helpTopicButton" onclick="showHelpText('@popupDivID')" value="@helpTopic.Topic" />
                                                                    <div class="helpTopicPopup" id="@popupDivID">
                                                                        <div class="helpPopupClose"><a href="#" onclick="closeHelpText('@popupDivID');">close [X]</a></div>
                                                                        <div class="helpPopupTitle">@helpTopic.Topic</div>
                                                                        <div class="helpPopupText">@Html.Raw(helpTextChanged)</div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            divCounter++;
                                                        }
                                                    }
                                                }
                                            </table>
                                        </td>

                                        if (i % 2 == 0)  //i is even
                                        {
                                            //close out the row and start a new one if this an even number cell
                                            @:</tr><tr>
                                            }
                                            i++;  //increment the counter
                                            }
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
 
                   </div>