﻿@using System.Configuration;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name=viewport content="width=device-width, initial-scale=.26" />
    <meta name="Description" content="@ViewBag.Description" />
    <meta name="Keywords" content="@ViewBag.Keywords" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta property="og:image" content="@Model.OG_Image" />
    <meta property="og:image" content="https://www.wholesalehunter.com/images/wholesalehunter.jpg" />
    <meta property="og:title" content="@Model.OG_Title" />
    <meta property="og:url" content="@Model.OG_Url" />
    <meta property="og:description" content="@Model.OG_Description" />
    <meta property="og:site_name" content="Wholesale Hunter Website" />
    <title>@ViewBag.Title</title>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-1722810-34', 'auto');
        ga('send', 'pageview');


    </script>


    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/bootstrap")
    <link href="/Content/search.css" rel="stylesheet" />
    <link href="/Content/jasny-bootstrap.css" rel="stylesheet" />
    <link href="/Content/navmenu-push.css" rel="stylesheet" />
    <script src="/Scripts/jasny-bootstrap.js"></script>
    <style type="text/css">
        a.login {
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
        }

            a.login:hover {
                color: #D7D2B7;
            }

        div.greenbutton {
            position: relative;
            float: left;
            width: 32%;
            color: white;
            background-color: #00331b;
            height: 60px;
            padding-top: 20px;
        }

        div.greenbuttonspacer {
            position: relative;
            float: left;
            width: 1%;
            background-color: white;
        }


        a.greenbuttonlink {
            font-family: Verdana, Geneva, sans-serif;
            font-size: 16px;
            text-decoration: none;
            color: #D7D2B7;
        }

            a.greenbuttonlink:hover {
                font-family: Verdana, Geneva, sans-serif;
                font-size: 16px;
                text-decoration: none;
                color: white;
            }

        div.tanpanel {
            position: relative;
            float: left;
            width: 48%;
            color: #00331b;
            height: 60px;
            margin-top: 3px;
            background-color: #D7D2B7;
        }

        div.tanpanelspacer {
            position: relative;
            float: left;
            width: 2%;
            background-color: white;
        }

        .navbar {
            background-image: none;
            margin-bottom: 0px;
        }

        /* navbar */
        .navbar-default {
            background-color: white;
            border-color: transparent;
        }
            /* Title */
            .navbar-default .navbar-brand {
                color: #00331b;
            }

                .navbar-default .navbar-brand:hover,
                .navbar-default .navbar-brand:focus {
                    color: white;
                    background-color: #331709;
                }
            /* Link */
            .navbar-default .navbar-nav > li > a {
                color: #00311b;
            }

                .navbar-default .navbar-nav > li > a:hover,
                .navbar-default .navbar-nav > li > a:focus {
                    color: white;
                    background-color: #331709;
                }

            .navbar-default .navbar-nav > .active > a,
            .navbar-default .navbar-nav > .active > a:hover,
            .navbar-default .navbar-nav > .active > a:focus {
                color: #555;
                background-color: #E7E7E7;
            }

            .navbar-default .navbar-nav > .open > a,
            .navbar-default .navbar-nav > .open > a:hover,
            .navbar-default .navbar-nav > .open > a:focus {
                color: #555;
                background-color: #D5D5D5;
            }
            /* Caret */
            .navbar-default .navbar-nav > .dropdown > a .caret {
                border-top-color: #777;
                border-bottom-color: #777;
            }

            .navbar-default .navbar-toggle .icon-bar {
                background-color: black;
            }

        .search-input {
            background-color: #D7D2B7;
            box-shadow: none;
            border-radius: 0px;
            color: black;
        }

            .search-input ::-webkit-input-placeholder, .search-input :-moz-placeholder, .search-input ::-moz-placeholder, .search-input :-ms-input-placeholder {
                color: black;
                font-weight: bold;
            }

        /* below this removes the bottom border from the navbar  */
        .navbar.navbar-default {
            background-color: white;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

            .navbar.navbar-default .navbar-collapse {
                border: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        /* above this removes the bottom border from the navbar  */

        div.footerlink {
            padding-top: 15px;
            color: #d7d2b7;
            font-family: Verdana, Geneva, sans-serif;
            text-align: center;
            background-color: #00331b;
            height: 60px;
            border-bottom: 1px solid white;
        }

            div.footerlink a {
                color: #d7d2b7;
                text-decoration: none;
            }

                div.footerlink a:hover {
                    color: white;
                    text-decoration: none;
                }

        .navbar-nav > li {
            padding-left: 0px;
            padding-right: 0px;
        }

        .navbar.navbar-default {
            background-color: #D7D2B7;
        }

        .navbar-default .navbar-toggle {
            background-color: #D7D2B7;
            border: 1px solid #331709;
        }

            .navbar-default .navbar-toggle:hover,
            .navbar-default .navbar-toggle:focus {
                background-color: #D7D2B7;
            }

            .navbar-default .navbar-toggle .icon-bar {
                background-color: #331709;
            }

            .navbar-default .navbar-toggle:hover .icon-bar,
            .navbar-default .navbar-toggle:focus .icon-bar {
                background-color: white;
            }

        li.topmenucart {
            float: left;
            padding-left: 2px;
            padding-right: 2px;
        }

        li.topmenu {
            float: left;
            padding-left: 2px;
            padding-right: 2px;
        }

            li.topmenu a {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
                color: #00331b;
                font-weight: bold;
            }

                li.topmenu a:hover {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 20px;
                    padding-right: 20px;
                    color: #D7D2B7;
                    background-color: #00331b;
                    font-weight: bold;
                }

            li.topmenu div.userbutton {
                position: relative;
                float: left;
                top: -9px;
                height: 36px;
                background-color: #331709;
                padding-top: 9px;
            }

                li.topmenu div.userbutton a {
                    padding-left: 10px;
                    padding-right: 20px;
                    color: #D7D2B7;
                    background-color: #331709;
                    font-weight: bold;
                }

                    li.topmenu div.userbutton a:hover {
                        padding-left: 10px;
                        padding-right: 20px;
                        color: white;
                        background-color: #331709;
                        font-weight: bold;
                    }


        div.cartwrapper {
            position: relative;
            top: -8px;
            float: left;
            height: 36px;
            color: #331709;
            background-color: #D7D2B7;
        }

            div.cartwrapper:hover {
                background-color: #331709;
                color: #D7D2B7;
                background-color: #331709;
            }

        li.bottommenu {
            float: left;
            padding-left: 5px;
        }

            li.bottommenu a {
                font-weight: bold;
                color: #00331b;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 15px;
                padding-right: 15px;
            }

                li.bottommenu a:hover {
                    color: white;
                    background-color: #331709;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
.navmenu-default .navmenu-nav > li > a,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a {
  color: #00331b;
}
.navmenu-default .navmenu-nav > li > a:hover,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:hover,
.navmenu-default .navmenu-nav > li > a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav > li > a:focus {
  color: #00331b;
  font-weight:bold;
  background-color: transparent;
}
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="navmenu navmenu-default navmenu-fixed-left offcanvas" style="background-color:#D7D2B7;">
            <ul class="nav navmenu-nav">
                <li><a href="/Home/About">ABOUT</a></li>
                <li><a href="/Home/Contact">CONTACT</a></li>
                <li><a href="/Home/About">BLOG</a></li>
                <li><a href="/Home/About">HELP</a></li>
                <li><a href="/Home/About">LOGIN / SIGNUP</a></li>
                <li><a href="/Home/About">SHOPPING CART</a></li>
            </ul>
            <ul class="nav navmenu-nav">
                <li><a href="/Search/106">GUNS</a></li>
                <li><a href="/Search/10">AMMUNITION</a></li>
                <li><a href="/Search/216">RELOADING</a></li>
                <li><a href="/Search/187">SCOPES</a></li>
                <li><a href="/Search/Hunting">HUNTING</a></li>
                <li><a href="/Search/618">FISHING</a></li>
                <li><a href="/Search/-10">CLEARANCE</a></li>
                <li><a href="/Search/0">ALL CATEGORIES</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="navbar navbar-default navbar-fixed-top">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="hidden-lg">
                    <div style="position:relative;float:left;width:50%;font-weight:bold;font-size:larger;padding-top:10px;text-align:left;">
                        WHOLESALE HUNTER
                    </div>
                    <div style="position:relative;float:right;width:30%;font-weight:bold;font-size:larger;text-align:right;padding-top:5px;">
                        <img src="/images/user_icon.gif" />   
                        <img src="/images/cart_icon.gif" />
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-sm hidden-xs"
             style="position:fixed;top:0px;left:74px;height:50px;padding-left:15px;padding-top:15px;background-color:#D7D2B7;width:100%;z-index:1000;">
            <ul style="list-style-type: none;margin: 0;padding: 0;">
                <li class="topmenu"><a href="/Home/About">ABOUT</a></li>
                <li class="topmenu"><a href="/Home/Contact">CONTACT</a></li>
                <li class="topmenu"><a href="http://blog.wholesalehunter.com/">BLOG</a></li>
                <li class="topmenu"><a href="/Home/Help">HELP</a></li>
                <li class="topmenu">
                    <div style="position:relative;float:left;height:36px;top:-9px;background-color:#331709;"><img src="/images/user.jpg" /></div>
                    <div class="userbutton">
                        <a href="/Home/About">LOGIN / SIGNUP</a>
                    </div>
                </li>
                <li class="topmenucart">
                    <a class="cartwrapper" href="/Home/About">
                        <div style="position:relative;float:left;top:-8px;height:36px;padding-left:5px;padding-right:5px;"><img src="/images/cart_small.jpg" /></div>
                        <div class="cartwrapper">
                            <div style="position:relative;float:left;height:36px;padding-left:5px;padding-right:5px;font-weight:bold;padding-top:5px;">
                                CART
                            </div>
                            <div style="position:relative;float:left;height:36px;padding-left:5px;padding-right:5px;">
                                <span style="font-size:smaller;font-weight:bold;text-align:center;">
                                    (10) ITEMS
                                    <br />
                                    $9,999.00
                                </span>
                            </div>
                        </div>
                    </a>

                </li>
            </ul>
        </div>


        <div class="row" style="background-color:#d7d2b7;">
            <div class="col-lg-12 hidden-md hidden-sm hidden-xs" style="background-color:#331709;">
                <div style="height:125px;width:373px;margin:0 auto;background-color:#331709;">
                    <a href="/Home">
                        <img src="/images/wholesalehunter_logo.jpg" class="img-responsive"
                             alt="Wholesale Hunter logo and link to home page" border="0" />
                    </a>
                </div>
            </div>
        </div>
        <div id="myNav" class="hidden-md hidden-sm hidden-xs" style="position:relative;padding-top:5px;height:45px;background-color:white;">
            <div style="position:relative;float:left;top:5px;height:45px;">
                <ul style="list-style-type: none;margin: 0;padding: 0;">
                    <li class="bottommenu">
                        <a href="/Search/106">GUNS</a>
                    </li>
                    <li class="bottommenu">
                        <a href="/Search/10">AMMUNITION</a>
                    </li>
                    <li class="bottommenu">
                        <a href="/Search/216">RELOADING</a>
                    </li>
                    <li class="bottommenu">
                        <a href="/Search/187">SCOPES</a>
                    </li>
                    <li class="bottommenu">
                        <a href="/Search/Hunting">HUNTING</a>
                    </li>
                    <li class="bottommenu">
                        <a href="/Search/618">FISHING</a>
                    </li>
                    <li class="bottommenu">
                        <a href="/Search/-10">CLEARANCE</a>
                    </li>
                    <li class="bottommenu">
                        <a href="/Search/0">ALL CATEGORIES</a>
                    </li>
                </ul>
            </div>
            <div style="position:relative;float:right;height:45px;padding-right:10px;">
                <form role="search">
                    <div class="form-group search-wrapper">
                        <input type="text" placeholder="Search here..." class="form-control search-input" />
                        <button type="button" onclick="doKeywordSearch();">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="hidden-lg col-md-12 col-sm-12 col-xs-12"
             style="position:relative;float:right;padding-top:5px;height:45px;background-color:white;">
            <form role="search" class="search-wrapper" style="float:right;">
                <div class="form-group search-wrapper" style="float:right;">
                    <input type="text" placeholder="Search here..." class="form-control search-input" />
                    <button type="button" onclick="doKeywordSearch();">Search</button>
                </div>
            </form>
        </div>

        @RenderBody()

        @RenderSection("scripts", required: false)

        <div class="container-fluid">
            <br /><br /><br /><br /><br /><br />
            <footer>
                <div class="hidden-lg">
                    <div style="height:110px;color:#D7D2B7;background-color:#331709;width:100%;">
                        <div style="width:500px;height:110px;margin:0 auto;text-align:center;padding-top:10px;
                        color:#D7D2B7;font-family: Verdana, Geneva, sans-serif;font-size: 16px;font-weight:bold;">
                            888-900-HUNT (4868)
                            <br />
                            34 Firetower Rd., Wetumpka, AL
                            <br />
                            @Html.Raw(ConfigurationManager.AppSettings["PhoneHours"].ToString())
                        </div>
                    </div>
                </div>

                <div class="row" style="height:60px;background-color:#00331b;">
                    <div class="col-lg-1 col-xs-12 footerlink" style="padding-top:9px;">
                        <a href="https://www.bbb.org/csal/business-reviews/sporting-goods-retail/wholesalehuntercom-in-wetumpka-al-90046160" target="new">
                            <img src="/images/bbb.jpg" width="100" height="38" alt="Link to Better Business Bureau." />
                        </a>
                    </div>
                    <div class="col-lg-1 col-xs-12 footerlink">
                        <a href="/Home/Index">HOME</a>
                    </div>
                    <div class="col-lg-1 col-xs-12 footerlink">
                        <a href="/Search">SEARCH</a>
                    </div>
                    <div class="col-lg-1 col-xs-12 footerlink">
                        <a href="/Home/About">ABOUT</a>
                    </div>
                    <div class="col-lg-1 col-xs-12 footerlink">
                        <a href="/Home/Contact">CONTACT</a>
                    </div>
                    <div class="col-lg-1 col-xs-12 footerlink">
                        <a href="/Home/News">NEWS</a>
                    </div>
                    <div class="col-lg-1 col-xs-12 footerlink">
                        <a href="/Home/Help">HELP</a>
                    </div>
                    <div class="col-lg-1 col-xs-12 footerlink">
                        <a href="/Home/Sitemap">SITE MAP</a>
                    </div>
                    <div class="col-lg-1 col-xs-12 footerlink" style="padding-top:0px;">
                        <a href="/Home/Terms">TERMS AND<br />CONDITIONS</a>
                    </div>
                    <div class="col-lg-3 hidden-xs hidden-md hidden-sm footerlink" style="padding-top:0px;">
                        <div style="margin: 0 auto;">
                            <div style="position:relative;float:right;width:46px;padding-top:3px;">
                                <a href="http://www.HendersonDataSolutions.com" target="new">
                                    <img src="/images/hdslogo.png" class="img-responsive" width="46" height="50" alt="Link to Henderson Data Solutions website." />
                                </a>
                            </div>
                            <div style="position:relative;float:right;width:200px;padding-top:10px">
                                <a href="http://www.HendersonDataSolutions.com" target="new">Powered by<br />Henderson Data Solutions</a>
                            </div>
                        </div>
                    </div>


                    <div class="hidden-lg col-xs-12 footerlink" style="padding-top:0px;">
                        <div style="margin: 0 auto;width:250px;">
                            <div style="width:46px;position:relative;float:right;padding-top:3px;">
                                <a href="http://www.HendersonDataSolutions.com" target="new">
                                    <img src="/images/hdslogo.png" width="46" height="50" alt="Link to Henderson Data Solutions website." />
                                </a>
                            </div>
                            <div style="width:200px;position:relative;float:right;padding-top:10px">
                                <a href="http://www.HendersonDataSolutions.com" target="new">Powered by<br />Henderson Data Solutions</a>
                            </div>
                        </div>
                    </div>


                </div>
            </footer>
        </div>
        <script type="text/javascript">

        </script>
    </div>
</body>
</html>
