﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jscroll")
    @Scripts.Render("~/bundles/searchpage")
    <style>
        body {
            background-color: #fff;
            color: #000;
            padding: 0;
            margin: 0;
        }

        .container {
            width: 900px;
            margin: auto;
            padding-top: 1em;
        }

            .container .ism-slider {
                margin-left: auto;
                margin-right: auto;
            }

        a.login {
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            color: #fff;
        }

            a.login:hover {
                color: #D7D2B7;
            }

        div#pagemask {
            position: fixed;
            overflow: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50;
            background: rgba(0,0,0,0.8);
            display: none;
        }
        /* below styles are for login dialog*/
        .button {
            background-color: #331709;
            border: none;
            width: 125px;
            color: #D7D2B7;
            alignment-adjust: middle;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            width: 275px;
            font-weight: bold;
        }

            .button1:hover {
                background-color: #331709;
                border: none;
                font-size: 14px;
                text-align: center;
                color: white;
            }

        .button2 {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            font-weight: bold;
        }

        .button3 {
            background-color: #FFF;
            border: none;
            font-size: 20px;
            width: 25px;
            text-align: center;
        }

        .triangle {
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 10px 0px 10px 8px;
            border-color: transparent transparent transparent #331709;
            line-height: 0px;
            _border-color: #000000 #000000 #000000 #331709;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
        }

        body, td, th {
            font-family: Arial, Helvetica, sans-serif;
            color: #00331B;
        }

        a {
            font-size: 14px;
            color: #d7d2b7;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: #FFF;
        }

        a:active {
            text-decoration: none;
            color: #FFF;
        }

        div#login, div#createaccount {
            position: absolute;
            z-index: 100;
        }

        table#createAccountTable {
            border-spacing: 0;
            background-color: #fff;
            padding: 5px 40px;
            margin: auto;
            border-radius: 4px;
        }

        table#createAccountTable tr td {
	        padding: 5px;
	        color: #00331B;
        }

        input.loginField {
            padding: 4px 10px;
            font-size: 15px;
            border: 1px solid silver;
            background-color: #D7D2B7;
            width: 100%;
            outline: 0;
        }

        input.loginFieldInvalid {
            border: 2px solid #ff0000;
            color: #ff0000;
        }

        span.loginPrompt {
            font-family: Arial, Helvetica, sans-serif;
            padding: 5px;
            color: #00331B;
        }

        span.loginPromptInvalid {
            color: #ff0000;
        }

.login_table tr td input[type="text"]:focus, .login_table tr td input[type="password"]:focus {
  border-color: #00331B;
}

        div#shoppingcart {
            position: absolute;
            z-index: 100;
            background-color:white;
            color: black;
        }
    </style>
</head>

<body>
    <div id="pagemask">&nbsp;</div>
    <table width="1440" bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="1440">
                <table width="1440" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="373" rowspan="2">
                            <a href="/Home">
                                <img src="/images/wholesalehunter_logo.jpg" alt="Wholesale Hunter logo" width="373" height="125" border="0" />
                            </a>
                        </td>                        <td rowspan="2">
                            <table width="100%" height="42" border="0" cellpadding="0" cellspacing="3">
                                <tr>
                                    <td bgcolor="#00331B" style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; text-align: center; color: #D7D2B7;"><a href="aboutus.html">ABOUT</a></td>
                                    <td height="47" bgcolor="#00331B" style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; text-align: center; color: #D7D2B7;"><a href="/Home/Contact">CONTACT</a></td>
                                    <td height="47" bgcolor="#00331B" style="font-family: Verdana, Geneva, sans-serif; font-size: 24px; text-align: center; color: #D7D2B7;"><a href="/Home/Help">HELP</a></td>
                                </tr>
                            </table>
                            <table width="100%" height="72" border="0" cellpadding="0" cellspacing="3">
                                <tr>
                                    <td bgcolor="#D7D2B7" style="text-align: center;">
                                        <a style="color:#00331B;font-size: 20px;" href="tel:+1-888-900-4868">888-900-HUNT (4868)</a>
                                        <br />
                                        <span style="font-size: 14px;">34 Firetower Rd., Wetumpka, AL</span>
                                    </td>
                                    <td bgcolor="#D7D2B7" style="text-align: center;">
                                        <span style="font-size: 20px;">@Html.Raw(System.Configuration.ConfigurationManager.AppSettings["PhoneHours"].ToString())</span>
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td width="257" rowspan="2" bgcolor="#452317">
                            <div style="position: relative;width:100%;height:100%;">
                                <img src="/images/whuser.jpg" width="257" height="125" />
                                <div style="position:absolute;top:20px;left:125px;width:125px;color:#fff;text-align:center;">
                                    <a class="login" href="#" onclick="dialogLogin();">LOGIN</a>
                                </div>
                                <div style="position:absolute;top:70px;left:125px;width:125px;color:#fff;text-align:center;">
                                    <a class="login" href="#" onclick="dialogCreate();">CREATE<br />ACCOUNT</a>
                                </div>
                            </div>
                        </td>
                        <td width="257" rowspan="2" bgcolor="#D7D2B7">@Html.Partial("~/Views/Shared/_Cart.cshtml")</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <div style="width:1440px;margin:0px auto;">
        @RenderBody()
        <footer>
            <table width="1440" bgcolor="#ffffff" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="1440" bgcolor="#00331B">
                        <table width="100%">
                            <tr>
                                <td width="9%" style="text-align: center"><a href="https://www.bbb.org" target="new"><img src="/images/bbb.jpg" width="100" height="38" /></a></td>
                                <td width="8%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;"><a href="/Home/Index">HOME</a></td>
                                <td width="11%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;"><a href="/Search">SEARCH</a></td>
                                <td width="9%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;"><a href="/Home/About">ABOUT</a></td>
                                <td width="11%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;"><a href="/Home/Contact">CONTACT</a></td>
                                <td width="11%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;"><a href="/Home/News">NEWSLETTER</a></td>
                                <td width="11%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;"><a href="/Home/Help">HELP</a></td>
                                <td width="9%" style="font-family: Verdana, Geneva, sans-serif; color: #FFF; text-align: center;"><a href="/Home/Sitemapl">SITE MAP</a></td>
                                <td width="16%" style="color: #FFF; font-family: Verdana, Geneva, sans-serif; font-size: 9px;">
                                    Powered by Henderson Data Solutions<br />
                                    <a href="http://www.HendersonDataSolutions.com" target="new">www.HendersonDataSolutions.com</a>
                                </td>
                                <td width="5%" style="text-align: center"><a href="http://www.HendersonDataSolutions.com" target="new"><img src="/images/hdslogo.png" width="46" height="50" /></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </footer>
    </div>

    <div id="login" name="login" style="display:none;">
        <form method="post" action="/Account/LogOn" id="frmLogin">
            <table style="border:2px solid #00331B" width="939" class="login_table">
                <tr>
                    <td colspan="4" align="center" valign="middle" style="font-size: 36px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="4%">&nbsp;</td>
                                <td width="92%" align="center">LOG IN</td>
                                <td width="4%" align="right" valign="top"><input type="button" class="button3" onclick="dialogLoginClose();" value="X" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="118">Username <span>*</span></td>
                    <td colspan="3"><input type="text" name="username" id="username" placeholder="email or username" /></td>
                </tr>
                <tr>
                    <td>Password <span>*</span></td>
                    <td colspan="3"><input type="password" name="password" id="password" placeholder="password" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td width="227"><a href="#" class="button button2" onclick="doLogin()">LOGIN</a></td>
                    <td width="227"><a href="#" class="button button1" onclick="doForgotPW();">I FORGOT MY PASSWORD</a></td>
                    <td align="right"><a href="#" class="button button2" onclick="dialogLoginClose();">CLOSE</a></td>
                </tr>
            </table>
            <input type="hidden" id="forgotPW" name="forgotPW" value="" />
        </form>
    </div>

    <div id="createaccount" name="createaccount" style="display:none;">
        <form id="frmcreateaccount" action="/Account/Create" method="post">
            <table style="border:2px solid #00331B" width="939" id="createAccountTable">
                <tr>
                    <td colspan="4" align="center" valign="middle" style="font-size: 36px">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="4%">&nbsp;</td>
                                <td width="92%" align="center">CREATE AN ACCOUNT</td>
                                <td width="4%" align="right" valign="top"><input type="button" class="button3" onclick="dialogCreateClose();" value="X" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptEmail">Email</span>
                    </td>
                    <td colspan="3">
                        <input type="text" name="Email" id="Email" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptVerifyEmail">Verify Email</span>
                    </td>
                    <td colspan="3">
                        <input type="text" name="VerifyEmail" id="VerifyEmail"  class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptPassword">Password</span>
                    </td>
                    <td colspan="3">
                        <input type="password" name="Password" id="Password" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptVerifyPassword">Verify Password</span>
                    </td>
                    <td colspan="3">
                        <input type="password" name="VerifyPassword" id="VerifyPassword" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptFirstName">First Name</span>
                    </td>
                    <td colspan="3">
                        <input type="text" name="FirstName" id="FirstName" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">
                        <span class="loginPrompt" id="promptLastName">Last Name</span>
                    </td>
                    <td colspan="3">
                        <input type="text" name="LastName" id="LastName" class="loginField" />
                    </td>
                </tr>

                <tr>
                    <td width="138">
                    Address Line 1
                    </td>
                    <td colspan="3">
                        <input type="text" name="Address1" id="Address1" class="loginField" />
                    </td>
                </tr>
                <tr>
                    <td width="138">Address Line 2</td>
                    <td colspan="3"><input type="text" name="Address2" id="Address2" class="loginField" /></td>
                </tr>
                <tr>
                    <td width="138">City</td>
                    <td colspan="3"><input type="text" name="City" id="City"  class="loginField" /></td>
                </tr>
                <tr>
                    <td width="138">State</td>
                    <td width="352">
                        <div id=”mainselection”>
                            <select size="1" class="select" id="State" name="State">
                                <option selected=selected >Choose Your State</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>

                    </td>
                    <td width="180" align="center">Zip Code</td>
                    <td width="247"><input type="text" name="Zip" id="Zip" class="loginField" /></td>
                </tr>

                <tr>
                    <td width="138">Phone</td>
                    <td colspan="3">
                        <input type="text" name="Phone" id="Phone" class="loginField" onblur="formatPhone();"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="#" onclick="doCreateAccount();" class="button button2">SAVE</a>
                    </td>
                    <td colspan="2" align="right">
                        <a href="#" onclick="dialogCreateClose();" class="button button2">CLOSE</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div id="shoppingcart" name="shoppingcart" style="display:none;">
    </div>

    <script type="text/javascript">
        function hideCart() {
            $("#shoppingcart").dialog('close');
            $("#pagemask").hide();
            $("#shoppingcart").html('');
        }

        function showCart() {
                var cartqty = $("#cartQty").html();
                if(cartqty == "(0)") {
                    alert("Your shopping cart is empty!");
                    return false;
                }


            $("#pagemask").show();

            $.ajax({
                type: "POST",
                url: '@Url.Action("Contents", "Cart")',
                data: {
                    Field1: 'field1',
                    Field2: 'field2'
                },
                success: function (html) {
                    $(html).appendTo('#shoppingcart');
                    var x = $("div.header").position();
                    //alert("Top: " + x.top + " Left: " + x.left);
                    $("#calculateshipping").css({ top: x.top - 171, left: x.left + 280 });
                }
            });

            $("#shoppingcart").dialog({
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            return false;
        }

        function doForgotPW() {
            if ($("#username").val() == "") {
                alert("Please enter the email address for your account in the user name field.");
                return false;
            }
            var obj = {
                username: $("#username").val(),
                password: $("#password").val(),
                forgotPW: '1'
            }

            console.log(obj);

            $.ajax({
                type: "POST",
                url: "/api/AJax/ForgotPW",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == "ok") {
                        alert("The forgotten password has been emailed.");
                        return false;
                    }
                    else
                    {
                        alert('An error was encountered while attempting to email the forgotten password.');
                    }
                }
            });
        }

        function doLogin() {
            if ($("#username").val() == "")  {
                alert("You must enter a user name.");
                return false;
            }

            if ($("#password").val() == "") {
                alert("You must enter a password.");
                return false;
            }

            var obj = {
                username: $("#username").val(),
                password: $("#password").val(),
                forgotPW: ''}

            console.log(obj);

            $.ajax({
                type: "POST",
                url: "/api/AJax/LogOn",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == "ok")
                    {
                        location.href = "/Home/Index";
                        return false;
                    }
                    else
                    {
                        alert("That username or password is not correct.");
                    }
                }
            });
        }


        function dialogCreate() {
            $("#pagemask").show();
            $("#createaccount").dialog({
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            return false;
        }

        function dialogCreateClose() {
            var msg = "Are you sure you want to close this window without creating an account?";
            if(confirm(msg)) {
                $("#pagemask").hide();
                $("#createaccount").dialog('close');
                return false;
            }
        }

        function doCreateAccount() {
            formatPhone();
            var missingFields = "";
            missingFields += checkFieldValue("Email", "Email");
            missingFields += checkFieldValue("VerifyEmail", "Verify Email");
            missingFields += checkFieldValue("Password", "Password");
            missingFields += checkFieldValue("VerifyPassword", "Verify Password");
            missingFields += checkFieldValue("FirstName", "First Name");
            missingFields += checkFieldValue("LastName", "Last Name");

            if (missingFields != "") {
                alert("The fields listed below are required: \n" + missingFields);
                return false;
            }

            //make sure email and passwords verify
            if ($("#Email").val() != $("#VerifyEmail").val()) {
                alert("The Email and Verify Email values must match.");
                $("#Email").addClass("loginFieldInvalid");
                $("#promptEmail").addClass("loginPromptInvalid");
                $("#VerifyEmail").addClass("loginFieldInvalid");
                $("#promptVerifyEmail").addClass("loginPromptInvalid");
                return false;
            }
            else
            {
                $("#Email").removeClass("loginFieldInvalid");
                $("#promptEmail").removeClass("loginPromptInvalid");
                $("#VerifyEmail").removeClass("loginFieldInvalid");
                $("#promptVerifyEmail").removeClass("loginPromptInvalid");
            }

            var result = validatePassword();
            /*return values
            -1 malformed email
            -2 password is too short
            -3 password is not complicated enough
            -4 pasword starts or ends with a space
            1 password is valid
            */
            if(result==-1 || result==-2 || result==-3) {
                alert('That password is too easy to guess.  Try making it longer, adding numbers, symbols, or upper and lower case letters.');
                return false;
            }
            else if(result == -4)
            {
                alert('You entered invalid characters.  A password cannot start or end with a space.');
                $("#Password").val('');
                $("#VerifyPassword").val('');
                return false;
            }


            if ($("#Password").val() != $("#VerifyPassword").val()) {
                alert("The Password and Verify Password values must match.");
                $("#Password").addClass("loginFieldInvalid");
                $("#promptPassword").addClass("loginPromptInvalid");
                $("#VerifyPassword").addClass("loginFieldInvalid");
                $("#promptVerifyPassword").addClass("loginPromptInvalid");
                return false;
            }
            else
            {
                $("#Password").removeClass("loginFieldInvalid");
                $("#promptPassword").removeClass("loginPromptInvalid");
                $("#VerifyPassword").removeClass("loginFieldInvalid");
                $("#promptVerifyPassword").removeClass("loginPromptInvalid");
            }

            var obj = {
                Email: $("#Email").val(),
                VerifyEmail: $("#VerifyEmail").val(),
                Password: $("#Password").val(),
                VerifyPassword: $("#VerifyPassword").val(),
                FirstName: $("#FirstName").val(),
                LastName: $("#LastName").val(),
                Address1: $("#Address1").val(),
                Address2: $("#Address2").val(),
                City: $("#City").val(),
                State: $("#State").val(),
                Zip: $("#Zip").val(),
                Phone: $("#Phone").val()
            }

            $.ajax({
                type: "POST",
                url: "/api/AJax/CreateAccount",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data == "ok") {
                        location.href = "/Home/Index";
                        return false;
                    }
                    else if(data == "inuse") {
                        alert("That email address is already in use.");
                        return false;
                    }
                    else
                    {
                        alert("An error was encountered attempting to create the new account. Please try again and if the error persists pleaaase contact our customer service department.");
                        return false;
                    }
                }
            });
        }

        function checkFieldValue(fieldname, displayFieldName) {
            var field = $("#" + fieldname);
            var prompt = $("#prompt" + fieldname)
            if (field.val() == "") {
                field.addClass("loginFieldInvalid");
                prompt.addClass("loginPromptInvalid");
                return displayFieldName + "\n";
            }
            else
            {
                field.removeClass("loginFieldInvalid");
                prompt.removeClass("loginPromptInvalid");
                return "";
            }
        }

        function dialogLogin() {
            $("#pagemask").show();
            $("#login").dialog({
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            return false;
        }

        function dialogLoginClose() {
            $("#pagemask").hide();
            $("#login").dialog('close');
            return false;
        }

        function formatPhone() {
            var raw = $("#Phone").val().trim();
            var processed = "";
            var cntProc = 0;
            cntRaw = 0;

            if (raw[cntRaw] == "0" || raw[cntRaw] == "1") {
                //don't use the first character
                cntRaw++;
            }

            for (; cntRaw < raw.length; cntRaw++) {
                if (!isNumeric(raw[cntRaw])) {
                    processed += raw[cntRaw];
                    //alert("(" + cntRaw + ") " + raw[cntRaw] + "\nprocessed: " + processed + " ["+ processed.length +"]");
                    if (processed.length == 10) break;
                }
            }
            cntRaw++;
            var phone = "(" + processed.substr(0, 3) + ") " + processed.substr(3, 3) + "-" + processed.substring(6) + " " + raw.substring(cntRaw).trim();
            $("#Phone").val(phone);
        }

        function isNumeric(char) {
            //determine what type of character it ismap
            var intCheck = parseInt(char);

            if (isNaN(intCheck)) {
                return true;
            }
            else {
                return false;
            }
        }

        function validatePassword() {
            /*return values
            -1 malformed email
            -2 password is too short
            -3 password is not complicated enough
            -4 pasword starts or ends with a space
            1 password is valid
            */
            var raw = $("#Password").val().trim();
            var Email = $("#Email").val().trim();
            var FirstName = $("#FirstName").val().trim();
            var LastName = $("#LastName").val().trim();

            if (raw[0] == ' ') {
                return -4;
            }
            if (raw[raw.length - 1] == ' ') {
                return -4
            }

            //first get email name and then domain
            var lastFound = Email.lastIndexOf(".");
            if (lastFound == -1) {
                //no dot seperator found so we have a malformed email
                return -1;
            }
            var emailTemp = Email.substr(0, lastFound);
            var arrEmail = emailTemp.split('@("@")');
            var EmailUser = arrEmail[0];
            var EmailDomain = arrEmail[1];

            var regexEmailUser = new RegExp(EmailUser, "g");
            var regexEmailDomain = new RegExp(EmailDomain, "g");
            var regexFirstName = new RegExp(FirstName, "g");
            var regexLastName = new RegExp(LastName, "g");

            var processed = raw.replace(regexEmailUser, '');
            processed = processed.replace(regexEmailDomain, '');
            processed = processed.replace(regexFirstName, '');
            processed = processed.replace(regexLastName, '');

            //processed now has had the emailuser, emaildomain, firstname and lastname
            //values remove from it
            if (processed.length >= 12) {
                //the password is long enough
                return 1;
            }

            if (processed.length < 7) {
                //the password is too short
                return -2;
            }
            //if we're here then the remaining password is at least 7 characters long
            var containsNumeric = 0;
            var containsUpper = 0;
            var containsLower = 0;
            var containsSymbol = 0;

            if (/[0-9]+/.test(processed)) {
                containsNumeric = 1;
            }

            if (/[A-Z]+/.test(processed)) {
                containsUpper = 1;
            }

            if (/[a-z]+/.test(processed)) {
                containsLower = 1;
            }

            if (/[\\\^\$\.\|\?\*\+\(\)\{\[\-\/!#%&')':;"<=>@("@")_`~]+/.test(processed)) {
                containsSymbol = 1;
            }
            var tot = containsNumeric * 1 + containsUpper * 1 + containsLower * 1 + containsSymbol * 1

            if (tot >= 3) {
                //the password is at least 7 chars long and has at least 3 of the
                //special type of characters
                return 1;
            }

            return -3;
        }
    </script>
    

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/searchpage")
    @Scripts.Render("~/bundles/wholesalehunter")
    @RenderSection("scripts", required: false)
</body>
</html>
