﻿@model WholesaleHunter.Models.Special

<div style="position:relative;float:left;width:287px;top:17px;text-align:right;">

          
        <div style="padding-bottom:80px;">
            <a href=@Model.LinkTarget>
                <img src=@Model.ImageLocation alt="@Model.SpecialText" title="@Model.SpecialText" style="max-width: 100%;max-height:100%" />
            </a>
        </div>

</div>

