﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy Policy</title>
    <link href="~/Content/HugoStyles.css" rel="stylesheet" />
</head>
<body class="policy">
    <div class="policywrap">
        <p>
            <div class="policyTitle">PRIVACY POLICY</div>
            <div class="policySubTitle">Updated May 1, 2015</div>
        </p>
        <p>
            We are committed to keeping your personal information private. Please review this Privacy Policy carefully before accessing our websites at <a href="www.WholesaleHunter.com" target="_blank">www.wholesalehunter.com</a> and any web site operated by Open Air Authority, LLC (the “Sites”), before registering accounts on the Sites ("Account(s)"), making purchases on the Sites or submitting any content to the Sites, so that you are aware of your legal rights and obligations with respect to the Sites, Open Air Authority LLC and our sponsors, advertisers, affiliates, parents and subsidiaries (individually and collectively, "we," "us," “our,” “Open Air Authority”, ”Wholesale Hunter” or "LGE").   
        </p>
        <p>
            This Privacy Policy applies to all users, visitors and customers of the Sites and those who are otherwise contributors of any opinion, review, written or other expressive content, information or services on the Sites (together, “Customers”).
        </p>
        <p>
            Access to this Sites and the Services (as defined below) is void and unauthorized where prohibited by applicable law or regulation. 
        </p>
        <br />

        <p class="policyTitle">
            IMPORTANT INFORMATION TO NOTE:
        </p>
        <div class="policyEmphasis">
            <ul>
                <li class="policyUL">
                    You affirm that you are either at least 18 years of age, an emancipated minor, or possess legal parental or guardian consent, and are fully able and competent to enter into the terms, conditions, obligations, affirmations, representations, and warranties set forth in this Privacy Policy, and to abide by and comply with this Privacy Policy.
                </li>
                <li class="policyUL">
                    In any case, you affirm that you are at least 13 years of age, as the Sites is not intended for children under the age of 13. If you are under the age of 13, you are not allowed to use or even access the Sites.
                </li>
                <li class="policyUL">
                    Further, if you do not agree with this Privacy Policy, or any of its terms, please do not provide us with any personally identifiable information (“PII”). PII includes any personal information capable of being associated with you individually through one or more identifiers. This may include your name, email address or residential address.
                </li>
                <li class="policyUL">
                    Our business changes constantly and this Privacy Policy may change too.  You should check the Sites frequently to see if there are recent changes. We reserves the right to revise this Privacy Policy at any time. Your continued use of the Sites shall be deemed an irrevocable acceptance of any such revisions. 
                </li>
                <li class="policyUL">
                    Unless stated otherwise, our current Privacy Policy applies to all information that we have about you. The above sentence notwithstanding, this Privacy Policy only applies to information collected by We. 
                </li>

            </ul>
        </div>

        <div>
            <ol>
                <li>
                    <b>Description of the Sites</b> The Sites enable our Customers to purchase various products, including but not limited to hunting, fishing and general sporting goods and merchandise (together, the “Products”). All activities and capabilities offered by or through the Sites to Customers shall individually and collectively be referred to as “Services”.
                    <ol type="a">
                        <li>
                            Some of our Products, including but not limited to guns, ammunition and other weaponry have various specific restrictions on sale, delivery and transport as delineated by local, state and federal laws and regulations (“Laws”). Any such Laws are incorporated by reference into these T&Cs. These T&Cs incorporate by reference any and all terms and restrictions provided in the Products & Legal Restrictions as well as Terms of Sale provided on the Sites.
                        </li>
                        <li>
                            To the extent that anything in, or associated with, either Products & Legal Restrictions or Terms of Sale is in conflict or inconsistent with this Agreement, this Agreement shall take precedence.
                        </li>
                        <li>
                            Definitions:
                            <ol type="i">
                                <li>
                                    Customers may, where and if available, submit any photograph, video, image, email, text, comment or other content to the Sites (“Submission(s)”).
                                </li>
                                <li>
                                    “Promote” or “Promotion” shall be defined as any and all of the following terms including advertising, direct marketing and promotion of any product or service on or through the Sites.
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <br />
                <li>
                    <b>What information do the Sites collect? </b>
                    <p>
                        <b>Activity by Non-Registered Customers. </b>Non-registered Customers of the Sites (“Visitors”) may choose to browse, search and examine content and information and the Sites without registering with the Sites. Non-registered Customers may also purchase Products from the Site. When you visit our Sites as a Visitor, we collect only information you provide or submit to the Sites directly, information you send to us by email, information and messages you send or post through our accounts on third party social networks (such as Facebook, YouTube or Twitter) or information you enter to complete a purchase of our Products. The foregoing statement not withstanding, our servers may recognize and collect visitors’ domain names, IP addresses and any information on pages you visit.
                    </p>
                    <p>
                        <b>Activity by Registered Customers.</b> Our Sites may provide you with the ability to register an account on the Sites (“Account”).  We may ask for and collect some PII when you create an Account, including, but not limited to your name, e-mail address, residential/mailing address, phone number and date of birth.  We may also collect additional demographic information. Once you become a User, we also collect a variety of information and PII depending on the Services you use or engage in such as what Submissions you make.
                    </p>
                    <ul>
                        <li class="policyUL">
                            <b>Content Uploaded to the Sites.</b> Any PII or Submissions that you voluntarily disclose online (for example, PII contained in any video, comments, messages, or profile pages you submit) may become publicly available and can be collected, viewed and used by third parties.
                        </li>

                        <li class="policyUL">
                            <b>Anonymity?</b> The Sites does not provide Customers with the ability to engage and interact anonymously.
                        </li>

                        <li class="policyUL">
                            <b>Usage Information.</b> We may collect information about your usage, such as when you use the Sites, the Submissions you make, Purchases you make, the frequency and size of data transfers, as well as information you display or click on in the Sites.  If you are logged in we may associate this information with your Account.
                        </li>
                        <li class="policyUL">
                            <b> Surveys & Newsletters.</b> We may now or in the future send or run surveys or provide newsletters to our Customers. At such time we may request certain identifying information such as name and email address.
                        </li>
                        <li class="policyUL">
                            <b>Click-Through URLs</b> In some of our email we may use a “click-through URL” linked to content on the Sites. When Customers click one of these URLs, they pass through our web server before arriving at the destination page. We may track this click-through data to help us determine interest in particular topics and measure the effectiveness of our communications.
                        </li>
                    </ul>
                </li>
                <li class="policyUL">
                    <b>How do we use the information you provide us?</b> We use your PII such as your name, address, date of birth and e-mail in order to enable purchases as well as provide you with other Services. All information that you submit to us is governed by this Privacy Policy, the Terms of Service and any other policies, such as the Products and Legal Restrictions and Sales Terms, provided on the Sites. <br />
                    <ol type="a">
                        <li class="policyUL">
                            We may share your PII with our agents, representatives, contractors and service providers so they can provide us with support services such as authorization of credit card transactions, e-mail origination, support services, customer relationship management and order fulfillment.
                        </li>
                        <li class="policyUL">
                            Subject to the above provisions, your registered real name or username may be displayed to other Customers when you provide Submissions.  Any Submission that you provide through the Sites may be redistributed through the Internet to other websites and other media channels, and may be viewed by the general public. 
                        </li>
                        <li class="policyUL">
                            Unless you opt-out, we may use your e-mail or other PII to send commercial or marketing messages without your further consent.  Be advised that we use your e-mail address and other contact information provided by you to complete purchases you’ve made, ship Products and contact you regarding your Submissions. We may also use your e-mail address without further consent for non-marketing or administrative purposes (such as notifying you of major changes to the Sites or for customer service purposes). 
                        </li>
                        <li class="policyUL">
                            We use your PII to improve the quality and design of our Sites and to create new features, promotions, functionality and services by storing, tracking, analyzing and processing user preferences and trends, as well as user activity and communications.
                        </li>
                        <li class="policyUL">
                            We do not collect any credit card information directly. All such financial information is collected and processed by a third party processor. The financial information collected is used to bill you for purchased Products.  If you used a credit card to pay for any purchase on the Sites, your credit card account information may be subject to verification by the issuing credit card company or other third party company.  Unless you give us permission at the time such information is collected, this information will not be used for any purpose except for the fulfillment and record keeping of the transaction
                        </li>
                        <li class="policyUL">
                            In an attempt to provide increased value to you, we may choose various websites to link to or frame within the Sites. We have no control over these linked websites, each of which has separate privacy and data collection practices independent of us.  We encourage you to read the policies of these other websites. By purchasing, or registering or making reservations for, products or services offered or sponsored by third parties or advertisers through links on our Sites, you consent to our providing your non-PII to those third parties.
                        </li>
                        <li class="policyUL">
                            Any data collected directly by our co-brand partners or third party websites linked through our Sites may not be received by us. As such, we have no responsibility or liability for the independent policies or actions of third parties, and are not responsible for the privacy practices or the content of any such websites. These linked websites are only for your convenience and you therefore access them at your own risk. Nonetheless, we seek to protect the integrity of the Services and the links placed upon each of them and therefore request any feedback on not only our Services, but also on any website we may link to as well. Further, any linking with any other website is neither an endorsement of that website nor any of the products or services that may be offered on that website.
                        </li>
                        <li class="policyUL">
                            Your PII may be passed on to a third party in the event of a transfer of ownership or assets of Open Air Authority, LLC or a bankruptcy. We may also disclose PII when we determine that such disclosure is necessary to comply with applicable law, to cooperate with law enforcement or to protect the interests or safety of Open Air Authority, LLC or other Customers.  Whenever PII is disclosed under this paragraph, we may also disclose your demographic information on a non-anonymous basis.
                        </li>
                    </ol>
                </li>
                <li>
                    <b>How do We Protect Customers Personal Information?</b> We implement a variety of security measures to ensure the security of your PII on our systems.  We use a third party processor for payment purposes. The process utilizes secure socket layer technology (SSL) to transmit the information and we do not store the credit card information on our servers.
                    <ul>
                        <li>
                            We may also use third-party advertising technology to serve ads when you visit the Sites and websites upon which we advertise. This technology uses information about your visits, (not including your name, address, or other personal information), to serve our ads to you.
                        </li>
                        <li>
                            In the course of serving our advertisements to you, a unique third-party cookie may be placed or recognized on your browser or mobile device.
                        </li>
                        <li class="policyUL">
                            In addition, we may use web beacons, provided by our ad-serving partner, to help manage our online advertising. These web beacons enable our ad server to recognize a browser's cookie when a browser visits the Sites and to learn which banner ads bring Customers to our Sites
                        </li>
                    </ul>
                </li>
                <li class="policyUL">
                    <b>How Long Do We Keep your Information?</b>Except as otherwise provided below, a Customer’s PII is maintained only as long as he/she maintains an Account with the Sites or as needed to provide the Services, whichever is longer. The above not withstanding, unless the Customer opts-out, Open Air Authority, LLC shall maintain a Customer’s contact and demographic information for marketing purposes indefinitely.
                </li>
                <li class="policyUL">
                    <b>Do-Not-Track.</b> We does not currently respond to browser “do not track” signals or other similar mechanisms.
                </li>
                <li class="policyUL">
                    <b>California Privacy Rights.</b> California Civil Code Section 1798.83 allows Customers who are California residents to request certain information about the disclosure of their information to third parties for direct marketing purposes. To make such a request, please contact as provided below.
                </li>
                <li class="policyUL">
                    <b>Changes to this Privacy Policy</b> By visiting the Sites, purchasing Products or making Submissions, you consent to the collection and use of information by us as set forth in this Privacy Policy.  If we decide to change our Privacy Policy, we will post those changes within this page so our Customers are always aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.  Be sure to review our Privacy Policy regularly so that you are aware of any changes to them.  Please remember that your continued use of the Sites or maintenance of an Account after changes or revisions have been made constitute your acceptance of such updates.
                </li>
                <li class="policyUL">
                    <b>Questions.</b> If you have any questions about this Privacy Policy, please contact us at:
                    <div>
                        <br />
                        Open Air Authority, LLC <br />
                        34 Fire Tower Road <br />
                        Wetumpka AL 36093<br />
                        1-888-900-4868 <br />
                        <a href="mailto:Support@wholesalehunter.com">Support@wholesalehunter.com</a>

                    </div>
                </li>

            </ol>
        </div>
    </div>
</body>
</html>
