﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shipping Policy</title>
    <link href="~/Content/HugoStyles.css" rel="stylesheet" />
</head>
<body class="policy">
    <div class="policywrap"> 
        <p>
            <div class="policyTitle">
                SHIPPING POLICY
            </div>
            <br /><br />
            <div class="policyTitle">
                International (Including Canada, Puerto Rico, Guam and APO & FPO's)
            </div>
        </p>
        <p>
            Wholesale Hunter does <span style="font-weight:bolder;">not</span> accept international orders.
        </p>
        <p>
            We will not accept any orders that have any connection to international shipments. This goes for both shipping and billing addresses. This includes any country, APO's, FPO's Puerto Rico & the Virgin Islands.
        </p>
        <p>
            <span style="font-weight:bolder;">There are no exceptions.</span> If the final destination of the package is any APO/FPO or any region outside of the 50 United States of America or the District of Columbia, your order will be cancelled.
        </p>
    </div>
</body>
</html>
