﻿@model WholesaleHunter.ViewModels.ProductDetailsViewModel
@using WholesaleHunter.Models
@using System.Diagnostics
@using System.Globalization
@{
    ViewBag.Title = Model.Details.Title;
    string description = Model.Details.NoHTMLDescription;
    if (description.Length > 159)
    {
        description = description.Substring(0, 160);
    }
    ViewBag.Description = Html.Raw(description);
    string prod_format = @"<div class=""prod_content_img"">
<a class=""prod_link"" href=""/Product/Details/{0}"">
    <img src=""{1}"" alt=""{2}""/>
</a>
</div>
<div class=""prod_content_txt"">
    <a class=""prod_link"" href=""/Product/Details/{0}"">
        <span class=""prod_description"">{2}</span>
        <br />
        <span class=""prod_price"" style=""text-align:center;font-size:larger;font-weight:bold;"">{3:C}</span>
    </a>
</div>";
    string prod_contents;
    int cntImage = 1;


    string prod_info_class = "productinfo_wide";
    string classDivBackToSearch = "BackToSearch";
    if (Model.Images.Count <= 1)
    {
        prod_info_class = "productinfo_extrawide";
        classDivBackToSearch = "BackToSearch_narrow";
    }

    NumberFormatInfo nfi = CultureInfo.CurrentCulture.NumberFormat;
    nfi = (NumberFormatInfo)nfi.Clone();

    NumberFormatInfo nfiNoDecimal = CultureInfo.CurrentCulture.NumberFormat;
    nfiNoDecimal = (NumberFormatInfo)nfiNoDecimal.Clone();
    nfiNoDecimal.CurrencyDecimalDigits = 0;
    nfiNoDecimal.CurrencySymbol = "";

    string availability;
    if (@Model.Details.QuantityTotal > 0)
    {
        availability = "http://schema.org/InStock";
    }
    else
    {
        availability = "http://schema.org/OutOfStock";
    }

    string product_desc;
    //string desc = Model.Details.Description.Replace("\r\n", "<br />");
    product_desc = Model.Details.Title + ". " + Model.Details.NoHTMLDescription;
    //product_desc = product_desc.Replace("\"", "&quot;");
}
@Styles.Render("~/Content/tabs")
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" ></script>", "~/bundles/tabs")
@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" ></script>", "~/bundles/jscookie")


<script type="application/ld+json">
    {
    "@@context": "http://schema.org/",
    "@@type": "Product",
    "name": "@HttpUtility.HtmlDecode(Model.Details.Title.Replace("&nbsp;", " ").Replace("\\\"", "\""))",
    "description" : "@HttpUtility.HtmlDecode(product_desc.Replace("&nbsp;", " ").Replace("\\\"", "\""))",
    "image": "@Model.MainImage",
    "mpn": "@Model.Details.MfgNo",
    "sku": "@Model.ProductID",
    "productID": "UPC:@Model.Details.SKU",
    "gtin13": "@Model.Details.SKU",
    "brand": {
    "@@type": "Thing",
    "name": "@Model.Details.mfgName"
    },
    "offers": {
    "@@type": "Offer",
    "priceCurrency": "USD",
    "itemCondition": "new",
    "availability": "@availability",
    "price": "@string.Format("{0:F2}", Model.Details.Price)",
    "category" : "@Model.Details.ParentCategoryName > @Model.Details.CategoryName",
    "seller": {
    "@@type": "Organization",
    "name": "Wholesale Hunter"
    }
    }
    }
</script>
<div class="container-fluid">
    <div class="row" style="position:relative;width:1440px;height:100%;margin:auto;">
        <div class="col-lg-12 hidden-md hidden-xs hidden-sm" style="padding:0px;">
            <div style="position:relative;float:left;width:1150px">
                <div class="@classDivBackToSearch">
                    @if (Model.IsFromSearch)
            {
                <a class="BackToSearch" onclick="backToSearch();">BACK TO SEARCH</a>
                }
                </div>
                <div class="wh_breadcrumbs">
                    <div class="trail_triangle">
                        <div class="triangle_small">&nbsp;</div>
                    </div>
                    <div class="trail">
                        <a class="wh_breadcrumb" href="/Home/Index">Home Page</a>
                    </div>
                    <div class="trail_triangle">
                        <div class="triangle_small">&nbsp;</div>
                    </div>
                    <div class="trail">
                        <a class="wh_breadcrumb" href="/Search/@Model.Details.ParentCategoryID">@Model.Details.ParentCategoryName</a>
                    </div>
                    <div class="trail_triangle">
                        <div class="triangle_small">&nbsp;</div>
                    </div>
                    <div class="trail">
                        <a class="wh_breadcrumb" href="/Search/@Model.Details.CategoryID">@Model.Details.CategoryName</a>
                    </div>
                </div>

                <div style="position:relative;float:left;width:1150px;">
                    <div id="productmainimage" onclick="blowup();">
                        <img id="mainimg" src="@Model.MainImage" alt="@Model.Details.Title" title="Click to see larger image." />
                    </div>

                    @if (Model.Images.Count > 1)
            {
                <div id="productthumbnails">
                    <div style="position:relative;float:left;width:115px;">
                        @{ foreach (ProductDetailsImages img in Model.Images)
                                {
                                    if (cntImage == 4)
                                    {
                                        prod_info_class = "productinfo_narrow";
                            @Html.Raw(@"</div><div style=""position: relative; float:left; background - color:green; width: 115px; "">");
                                    }
                            <div class="thumbnail" onmouseover="swapImage('thumbnail_@cntImage')">
                                <img class="thumbnail" id="thumbnail_@cntImage" src="@img.Picture" alt="Thumbnail picture of @Model.Details.Title" />
                            </div>
                                    cntImage++;
                                }
                        }
                    </div>
                </div>
                                }
                                else
                                {
                                    prod_info_class = "productinfo_extrawide";
                                }

                    <div id="@prod_info_class">

                        <h1 style="font-size: 24px;font-weight:bold;width:100%;margin:0px;">@Model.Details.Title</h1>
                        <a class="mfglink" href="/Search/Brand/@Model.Details.MfgID">See more products from <span style="font-weight:bold;">@Model.Details.mfgName</span></a><br />
                        <br />
                        MFG NO&nbsp;@Model.Details.MfgNo<br />
                        SKU&nbsp;@Model.ProductID<br />
                        UPC&nbsp;@Model.Details.SKU<br />
                        @if (Model.Details.FreeShipping == 1)
                    {
                    <div style="width:630px;position:relative;height:50px;">
                        <div class="arrow">FREE SHIPPING!</div>
                    </div>
                    <br />
                    <div id="discountmessage" style="width:630px;position:relative;float:none;">@Model.Details.DiscountMessage</div>
                    }
                    else if (Model.Details.FlatShipping == 1)
                    {
                    <div style="width:630px;position:relative;height:50px;">
                        <div class="arrow">FLAT SHIPPING!</div>
                    </div>
                    <br />
                    <div id="discountmessage" style="width:630px;position:relative;float:none;">@Model.Details.DiscountMessage</div>
                    }
                    else
                    {
                    <br />
                    <div id="discountmessage" style="width:630px;position:relative;float:none;">@Model.Details.DiscountMessage</div>
                    <br />
                    <table cellspacing="0">
                        <tr class="shipcost">
                            <th colspan="3">Calculate Single Item Shipping Cost</th>
                        </tr>
                        <tr class="shipcost">
                            <td style="border-left:1px solid  #00331b;">
                                <input type="text" id="ZIPCode" placeholder="Enter ZIP Code" style="width:125px;" />
                            </td>
                            <td>
                                <a href="#" onclick="getItemShipping();" class="button" style="width:100px;">Calculate</a>
                            </td>
                            <td style="border-right:1px solid  #00331b;">
                                <input id="ShipAmount" placeholder="$ Amount" style="width:90px;" readonly="readonly" />
                            </td>
                        </tr>
                        <tr class="shipcost">
                            <td colspan="3" style="border-right:1px solid  #00331b;border-left:1px solid  #00331b;border-bottom:1px solid  #00331b;">
                                <span style="font-size: 14px;font-style:italic;" id="hazmat">&nbsp;</span>
                            </td>
                        </tr>
                    </table>
                    }

                    </div>

                    <div id="productpricing">
                        @{if ((Model.Details.Price != Model.Details.MSRP)
            && (Model.Details.MSRP != 0)
            && (Model.Details.Price != 0)
            && ((Model.Details.Price * 5) > Model.Details.MSRP))
                        {
                            decimal disc = ((Model.Details.MSRP - Model.Details.Price) / Model.Details.MSRP) * 100;
                    <div id="prod_discount">@string.Format(nfiNoDecimal, "{0:C}% OFF!", disc)</div>
                        }
                        }

                        <div style="position:relative;width:150px;height:15px;">&nbsp;</div>
                        @if (Model.Details.Price != 0)
                    {
                    <div style="font-weight: bold;width:150px;height:25px;">PRICE @string.Format(nfi, "{0:C}", Model.Details.Price)</div>
                    }

                        @if (Model.Details.MSRP > 0 && ((Model.Details.Price * 5) > Model.Details.MSRP))
                    {
                    <div style="width:150px;height:25px;">MSRP: @string.Format(nfi, "{0:C}", Model.Details.MSRP)</div>
                    }

                        @if (Model.Details.UnitPrice != Model.Details.Price)
                    {
                    <div style="width:150px;height:25px;" class="wh_label">@string.Format(nfi, "Per round: {0:C}", Model.Details.UnitPrice)</div>
                    }

                        @{if (Model.Details.QuantityTotal == 0)
                        {
                    <div style="position:relative;float:left;width:55px;height:45px;padding-top:5px;" class="wh_label">Qty<br />available:</div>
                    <div style="position:relative;float:left;width:95px;height:45px;padding-top:5px;" class="wh_label"><span class="price">BACKORDER</span></div>
                        }
                        else
                        {
                            if (Model.Details.QuantityAtThisPrice != Model.Details.QuantityTotal)
                            {
                    <div style="width:100px;height:35px;float:left;" class="wh_label" id="qtyprices">Qty available<br />at this price:&nbsp;</div>
                    <div style="width:50px;height:35px;float:left;" class="price">@Model.Details.QuantityAtThisPrice</div>
                    <div style="width:100px;height:35px;float:left;" class="wh_label" id="qtyprices">Total qty available:&nbsp;</div>
                    <div style="width:50px;height:35px;float:left;" class="price">@Model.Details.QuantityTotal</div>
                            }
                            else
                            {
                    <div style="position:relative;width:150px;height:55px;">
                        Qty available:&nbsp;@Model.Details.QuantityTotal
                    </div>
                            }
                        }
                        }

                        @if (Model.Details.QuantityTotal == 0)
                    {
                    <div style="position:relative;float:left;width:150px;" class="mybutton" id="notify" onclick="notifyMe();">
                        <div style="padding-top:5px;">NOTIFY ME WHEN AVAILABLE</div>
                    </div>
                    }
                    else
                    {
                    <div class="prod_cart">
                        <div style="position: relative; float:left; height: 25px; width: 12px; ">
                            <div class="incrementbutton" id="increment" onclick="increment_qty()"></div>
                            <div style="height:4px;width:12px;background-color:white;"></div>
                            <div class="decrementbutton" id="decrement" onclick="decrement_qty()"></div>
                        </div>
                        <div style="position:relative;float:left;height:25px;width:3px;"></div>
                        <div style="position:relative;float:left;">
                            <input type="text" id="qty" class="prod_qty" value="1" onchange="manualQtyChange();" />
                        </div>
                    </div>
                    <div style="position:relative;float:left;width:150px;padding-top:3px;height:35px;" id="addToCart" class="mybutton" onclick="addToCart();">
                        ADD TO<br />CART
                    </div>
                    }


                        <input type="hidden" id="qty_at_price" value="@Model.Details.QuantityAtThisPrice" />
                        <input type="hidden" id="qty_total" value="@Model.Details.QuantityTotal" />
                        <input type="hidden" id="price" value="@Model.Details.Price" />
                    </div>


                </div>


                <div style="position:relative;float:left;width:335px;height:20px;text-align:center;font-size:smaller;">
                    Click to see larger image.
                </div>
                <div style="position:relative;float:left;width:810px;height:20px;text-align:left;">
                    &nbsp;
                </div>
                <div id="TabbedPanels1" class="TabbedPanels">
                    <ul class="TabbedPanelsTabGroup">
                        <li class="TabbedPanelsTab" tabindex="0">SUMMARY</li>
                        <li class="TabbedPanelsTab" tabindex="0">SPECIFICATIONS</li>
                        <li class="TabbedPanelsTab" tabindex="0">MANUFACTURER</li>
                        <li class="TabbedPanelsTab" tabindex="0">QUANTITY PRICING</li>
                    </ul>
                    <div class="TabbedPanelsContentGroup" style="display:block;overflow:auto;">
                        <div class="TabbedPanelsContent">
                            <p>
                                @Html.Raw(Model.Details.Description.Replace("\r\n", "<br />"))
                            </p>
                        </div>
                        <div class="TabbedPanelsContent">
                            <table>
                                <tr class="specifications">
                                    <th>Specification</th>
                                    <th>&nbsp;</th>
                                    <th>Value</th>
                                </tr>
                                @{foreach (ProductDetailsSpecs spec in Model.Specs)
                                {
                            <tr class="specifications">
                                <td>@spec.SpecName</td>
                                <td>&nbsp;</td>
                                <td>@spec.SpecValue</td>
                            </tr>
                                }

                                }
                            </table>
                        </div>
                        <div class="TabbedPanelsContent">
                            <table>
                                <tr class="mfg">
                                    <td colspan="3" style="font-weight: bold;">@Model.Details.mfgName</td>
                                </tr>
                                <tr class="mfg">
                                    <td>Phone:</td>
                                    <td>&nbsp;</td>
                                    <td>@Model.Details.mfgPhone</td>
                                </tr>
                                <tr class="mfg">
                                    <td>Email:</td>
                                    <td>&nbsp;</td>
                                    <td>@Model.Details.mfgEmail</td>
                                </tr>
                                <tr class="mfg">
                                    <td>Website:</td>
                                    <td>&nbsp;</td>
                                    <td><a href="@Model.Details.mfgWebsite">@Model.Details.mfgWebsite</a></td>
                                </tr>
                                <tr class="mfg">
                                    <td>Address:</td>
                                    <td>&nbsp;</td>
                                    <td>
                                        @Model.Details.mfgAddress1<br />
                                        @if (Model.Details.mfgAddress2 != string.Empty)
                                    {
                                    @Model.Details.mfgAddress2<br />
                                    }
                                        @Model.Details.mfgCityStateZip<br />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="TabbedPanelsContent">
                            <div id="productpricepoints">
                                <table cellspacing="0">
                                    <tr class="prices">
                                        <th style="width:150px;">Quantity Available</th>
                                        <th style="width: 100px;">Price</th>
                                    </tr>
                                    @foreach (var price in Model.Prices)
                                {
                                <tr class="prices">
                                    <td>@price.Qty</td>
                                    <td>@String.Format(nfi, "{0:C2}", price.WHPrice)</td>
                                </tr>
                                }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="position:relative;width:235px;height:35px;background-color: #331709;color:white;">
                    <div style="position:relative;padding-top:10px;padding-left:20px;font-weight:bold;">
                        SUGGESTED PRODUCTS
                    </div>
                </div>
                @if (Model.SuggestedProducts.Count > 0)
            {
            <div id="prod_content_container">
                @{
                        foreach (Product prod in Model.SuggestedProducts)
                        {
                            prod_contents = string.Format(prod_format, prod.LinkTarget, prod.ImageLocation, prod.ItemDescriptionShort, prod.Price);
                    <div class="prod_content">
                        @Html.Raw(prod_contents)
                    </div>
                        }
                }
            </div>
                        }
            </div>
            <!-- BEGIN THE RIGHT HAND COLUMN WITH SPECIALS -->
            <div style="position:relative;float:right;width:287px;text-align:right;">
                @foreach (Special spec in Model.Specials)
            {
            <div style="padding-bottom:80px;">
                <a href="@spec.LinkTarget">
                    <img src="@spec.ImageLocation" alt="@spec.SpecialText" title="@spec.SpecialText"
                         style="max-width: 100%;max-height:100%" />
                </a>
            </div>
            }
            </div>
        </div>
    </div>
</div>

<div class="container-fluid hidden-lg">
    <div class="row" style="position:relative;float:left;width:1440px;margin:auto;">
        <div class="col-sm-12 hidden-lg">
            <div class="wh_breadcrumbs" style="height:35px;">
                <div class="trail_triangle">
                    <div class="triangle_small">&nbsp;</div>
                </div>
                <div class="trail">
                    <a class="wh_breadcrumb" href="/Home/Index">Home Page</a>
                </div>
                <div class="trail_triangle">
                    <div class="triangle_small">&nbsp;</div>
                </div>
                <div class="trail">
                    <a class="wh_breadcrumb" href="/Search/@Model.Details.ParentCategoryID">@Model.Details.ParentCategoryName</a>
                </div>
                <div class="trail_triangle">
                    <div class="triangle_small">&nbsp;</div>
                </div>
                <div class="trail">
                    <a class="wh_breadcrumb" href="/Search/@Model.Details.CategoryID">@Model.Details.CategoryName</a>
                </div>
            </div>
        </div>
    </div>
    <div style="position:relative;top:40px;text-align:center;width:100%;">
        <div style="position:relative;top:-33px;display:inline-block;width:95%;height:303px;">
            <img src="@Model.MainImage" alt="@Model.Details.Title" style="height:333px;width:333px;" />
        </div>

        <div style="position:relative;top:-33px;display:inline-block;width:500px;">
            <h1 style="color:#00331b;font-size: 24px;font-weight:bold;width:100%;margin:0px;">@Model.Details.Title</h1>
            @Model.Details.NoHTMLDescription
        </div>
    </div>
    <div style="position:relative;top:40px;text-align:center;width:100%;">
        <div style="position:relative;top:-33px;width:350px;padding-top:15px;display:inline-block;">
            <div style="position:relative;float:left;width:160px;">
                @{if ((Model.Details.Price != Model.Details.MSRP)
                && (Model.Details.MSRP != 0)
                && (Model.Details.Price != 0)
                && ((Model.Details.Price * 5) > Model.Details.MSRP))
                {
                decimal disc = ((Model.Details.MSRP - Model.Details.Price) / Model.Details.MSRP) * 100;
                <div id="prod_discount">@string.Format(nfiNoDecimal, "{0:C}% OFF!", disc)</div>
                }
                }
            </div>
            <div style="position:relative;float:right;width:160px;">
                @if (Model.Details.Price != 0)
                {
                <span style="color:#00331b;font-weight: bold;font-family: Arial,Verdana, Geneva, sans-serif;font-size:26px;">@string.Format(nfi, "{0:C}", Model.Details.Price)</span>
                }
            </div>
        </div>
    </div>
    <div style="position:relative;top:30px;text-align:center;width:100%;">
        <div style="position:relative;display:inline-block;width:500px;">
            <div style="position:relative;float:left;background-color:white;border:5px solid #D7D2B7;width:200px;height:60px;">
                <input type="text" id="qty" placeholder="Quantity" onchange="manualQtyChange();" style="width:180px;height:50px;border:0px;" />
            </div>
            <div style="position:relative;float:right;color:white;background-color:#00331b;width:200px;height:60px;font-weight: bold;font-family: Arial,Verdana, Geneva, sans-serif;font-size:20px;">
                ADD TO<br />CART
            </div>
        </div>
    </div>
    <!-- BEGIN THE SPECIALS -->
    <div style="position:relative;top:45px;text-align:center;width:500px;text-align:center;margin:0 auto;">
        <div style="position:relative;width:500px;display:inline-block;margin:0 auto;">
            @foreach (Special spec in Model.Specials)
            {
            <div style="padding-bottom:80px;">
                <a href="@spec.LinkTarget">
                    <img src="@spec.ImageLocation" alt="@spec.SpecialText" title="@spec.SpecialText"
                         style="max-width: 100%;max-height:100%" />
                </a>
            </div>
            }
        </div>
    </div>
</div>





    <div id="blowup" style="display: none;">
        <div style="text-align: right;padding-top:5px;padding-right:5px;" onclick="closeBlowup();">
            close&nbsp;[X]
        </div>
        <div>
            <img id="imgblowup" src="" />
        </div>

    </div>

    <div id="pagemask">&nbsp;</div>

    <div id="message">
        <div id="divMessage">&nbsp;</div>
        <div style="margin: 0 auto;width:200px;">
            <br />
            <br />
            <a href="#" class="button button1" onclick="closeMessage();">OK</a>
        </div>
    </div>

    <input type="hidden" id="email" value="@Model.Email" />
    <input type="hidden" id="sourceid" value="@Model.SourceID" />

    <script type="text/javascript">
        function getItemShipping() {
            var zip = $("#ZIPCode").val();
            if(zip.length != 5 ) {
                alert("Please enter a 5 digit ZIP Code.");
                return false;
            }
            var obj =
            {
                ProductID: @Model.ProductID,
                ZipCode: zip
            }

            $.ajax({
                type: "POST",
                cache: false,
                url: "/api/AJax/GetItemExactShipping",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if(data=="0") {
                        showMessage("An error was encountered. If this message persists please contact the system administrator");
                    } else {
                        //alert(data);
                        var obj = JSON.parse(data);
                        var shipping;
                        if(obj.ShippingCost.toLowerCase() == 'free') {
                            shipping = 0;
                        }
                        else
                        {
                            shipping = Number.parseInt(obj.ShippingCost * 100);
                        }

                        if(obj.Hazmat==-1) {
                            alert("Due to HAZMAT restrictions this item cannot be shipped to your ZIP code.");
                            $("#ZIPCode").val("");
                            $("#ShipAmount").val("");
                            return false;
                        }

                        var hazmat = Number.parseInt(obj.Hazmat * 100);
                        var total = ((shipping * 1) + (hazmat * 1))/100;

                        hazmat = hazmat/100;
                        $("#ShipAmount").val(myFormatMoney(total));
                        if(hazmat > 0) {
                            $("#hazmat").html("NOTE: The shipping cost includes a HAZMAT fee of " + myFormatMoney(hazmat));
                        }
                        else
                        {
                            $("#hazmat").html("&nbsp;");
                        }
                    }
                }
            });
        }

        function myFormatMoney(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];

            var x2 = x.length > 1 ? '.' + x[1] : '.00';

            if (x.length > 1) {
                //the number has a decimal component
                x2 = x[1] + '00';  //make sure it's at least 2 digits long
                x2 = '.' + x2.substr(0, 2);
            } else {
                //the number does not have a decimal component
                x2 = '.00';
            }

            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            if(x1=="") {
                x1="0";
            }
            return "$" + x1 + x2;
        }

        function addToCart() {
            var qty = $("#qty").val();
            if(qty<1) {
                alert("The quantity must be greater than zero.");
                return false;
            }

            var custid;
            if(isNaN(@ViewBag.CustomerID)) {
                custid=0;
            }
            else
            {
                custid=parseInt(@ViewBag.CustomerID);
            }

            var obj =
                {
                    CustomerID: custid,
                    ProductID: @Model.ProductID,
                    Price: @Model.Details.Price,
                    Quantity: qty,
                    SourceID: '@Model.SourceID'}

            $.ajax({
                type: "POST",
                cache: false,
                url: "/api/AJax/AddToCart",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if(data.toLowerCase().startsWith("error")) {
                        showMessage(data);
                    } else {
                        var obj = JSON.parse(data);
                        $("#cartQty").html(obj.TotalQuantity);
                        $("#cartTotalPrice").html(obj.TotalItemPrice);
                        updateCheckout();
                        //$("#cartTarget").fadeIn(500).fadeOut(100);
                        showCart();
                    }
                }
            });
        }

        function showMessage(message) {
            $("#pagemask").show();
            $("#pagemaskspinner").hide();
            $("#divMessage").html(message);
            $("div#message").dialog({
                position: { my: "center top", at: "center-360 top+20", of: window }
            });
            return false;
        }

        function closeMessage() {
            $("#pagemask").hide();
            $("div#message").dialog('close');
        }

        function backToSearch() {
            var ck = Cookies.get("search");
            var criteria = $.parseJSON(ck);
            var url="/Search/Submit?";
            $.each(criteria, function(key, value) {
                url = url + encodeURIComponent(key) + "="  + encodeURIComponent(value) + "&";
            });
            url=url.substring(0, url.length-1);
            location.href=url;
        }

        function notifyMe() {
            var email = $("#email").val();
            if (email == "") {
                //get the users's email
                var email = prompt("Please enter your email address.");
                if(email=='') {
                    alert('An invalid email address was entereed');
                    return false;
                }
            }

            var custid;
            if(isNaN(@ViewBag.CustomerID)) {
                custid=0;
            }
            else
            {
                custid=parseInt(@ViewBag.CustomerID);
            }
            var obj =
                {
                    ProductID: @Model.ProductID,
                    Email: email,
                    CustomerID: custid}

            $.ajax({
                type: "POST",
                cache: false,
                url: "/api/AJax/NotifyOfInventory",
                data: JSON.stringify(obj),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if(data=="0") {
                        showMessage("An error was encountered. If this message persists please contact the system administrator");
                    } else if(data=="1") {
                        showMessage("You will be notified by email when the item is back in stock!");
                        $("#notify").hide();
                    } else if(data=="-1") {
                        showMessage("Email was not found in system.");
                    }
                }
            });
        }

        function manualQtyChange() {
            //make sure the qty is an integer value
            var qty = $("#qty").val();

            if (isNaN(qty)) {
                alert("The quantity must be a numeric value.");
                $("#qty").val("1");
                return false;
            }

            if (parseInt(qty) <= 0) {
                alert("The quantity must be a positive numeric value.");
                $("#qty").val("1");
                return false;
            }

            var intQty = parseInt(qty);
            if (qty != intQty) {
                qty = intQty;
                $("#qty").val(intQty);
            }
            //now make sure they aren't ordering more than is available
            var qtyTotal = $("#qty_total").val();
            if (parseInt(qty) > parseInt(qtyTotal)) {
                if (confirm("There are only " + qtyTotal + " units available. Add this quantity to the cart?")) {
                    $("#qty").val(qtyTotal);
                    addToCart();
                } else {
                    $("#qty").val(qtyTotal);
                }
            }
        }

        function increment_qty() {
            var button = $("#increment");
            if (!button.hasClass("disabledbutton")) {
                var qty = $("#qty").val();
                var qtyAtPrice = $("#qty_at_price").val();
                var qtyTotalAvailable = $("#qty_total").val();

                console.log("qty " + qty);
                console.log("qtyAtPrice " + qtyAtPrice);
                console.log("qtyTotalAvailable " + qtyTotalAvailable);

                //see if qty is less than qtyTotalAvailable
                if(parseInt(qty) >= parseInt(qtyTotalAvailable)) {
                    //disable the increment button
                    button.addClass("disabledbutton");
                    return false;
                }

                //now increment the qty
                $("#qty").val(++qty);
                //check and see if we're over the qtyAtPrice
                if (parseInt(qty) > parseInt(qtyAtPrice)) {
                    //turn box red
                    $("#qty").css("color", "#ff0000");
                }
                else {
                    $("#qty").css("color", "#000000");
                }

                if (qty > 0) {
                    //reneable the decrement button
                    $("#decrement").removeClass("disabledbutton");
                }
            }
        }

        function decrement_qty() {
            var button = $("#decrement");
            if (!button.hasClass("disabledbutton")) {
                var qty = $("#qty").val();
                $("#qty").val(--qty);


                var qtyAtPrice = $("#qty_at_price").val();
                var qtyTotal = $("#qty_total").val();
                if (qty <= qtyAtPrice) {
                    //turn box black
                    $("#qty").css("color", "#000000");
                }
                if (qty < qtyTotal) {
                    //re-enable the increment button
                    $("#increment").removeClass("disabledbutton");
                }
                if (qty <= 0) {
                    //disable the increment button
                    button.addClass("disabledbutton");
                }
            }
        }


        function closeBlowup() {
            $("#blowup").hide();
        }

        function blowup() {
            //get the url of the main image
            var url = $("#mainimg").attr('src');
            $("#imgblowup").attr('src', url);
            //get the position of the main image
            var offset = $("div#productmainimage").offset();
            //console.log("offset.top: " + offset.top);
            //console.log("offset.left: " + offset.left);
            $("#blowup").css({ top: 0, left: 0 });
            $("#blowup").show();
        }

        function swapImage(id) {
            var src = $("#" + id).attr('src');
            $("#mainimg").attr('src', src);
        }
    </script>
    <style type="text/css">
        div.BackToSearch {
            width: 460px;
            height: 35px;
            float: left;
        }

        div.BackToSearch_narrow {
            width: 350px;
            height: 35px;
            float: left;
        }

        div.wh_breadcrumbs {
            position: relative;
            float: left;
            width: 690px;
            height: 20px;
        }

        tr.shipcost th {
            font-size: 14px;
            text-align: left;
            background-color: #00331b;
            color: white;
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        tr.shipcost td {
            padding-left: 5px;
            padding-right: 5px;
        }

            tr.shipcost td input {
                background-color: #d7d2b7;
                color: black;
                font-size: 14px;
                border: 0px;
                padding-left: 3px;
                padding-top: 5px;
                padding-bottom: 5px;
            }

        .triangle_small {
            float: left;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 6px 0px 6px 14px;
            border-color: transparent transparent transparent #331709;
            line-height: 0px;
            _border-color: #000000 #000000 #000000 #331709;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            background-color: #d7d2b7;
        }

        div.trail {
            position: relative;
            float: left;
            background-color: #d7d2b7;
            padding-left: 4px;
            padding-top: 2px;
            padding-bottom: 2px;
            height: 24px;
        }

        div.trail_triangle {
            position: relative;
            float: left;
            background-color: #d7d2b7;
            padding-left: 4px;
            padding-top: 5px;
            padding-bottom: 2px;
            height: 24px;
        }


        a.wh_breadcrumb, a.wh_breadcrumb:active, a.wh_breadcrumb:focus, a.wh_breadcrumb:visited {
            font-size: 16px;
            color: #331709;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
        }

            a.wh_breadcrumb:hover {
                text-decoration: underline;
            }

        div#productthumbnails {
            position: relative;
            left: 2px;
            float: left;
            height: 335px;
        }

        div#productmainimage {
            position: relative;
            float: left;
            width: 340px;
            height: 340px;
            margin: 0 auto;
            border: solid 2px #d7d2b7;
        }

        img#mainimg {
            max-width: 333px;
            max-height: 333px;
            display: block;
            margin: auto 0px;
        }

        div#pagemask {
            position: fixed;
            overflow: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50;
            background: rgba(0,0,0,0.8);
            display: none;
        }

        /* below styles are for login dialog*/
        .button {
            background-color: #331709;
            border: none;
            width: 200px;
            color: #D7D2B7;
            alignment-adjust: middle;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .button1 {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            width: 200px;
            font-weight: bold;
        }

            .button1:hover {
                background-color: #331709;
                border: none;
                font-size: 14px;
                text-align: center;
                color: white;
            }

        div#message {
            position: fixed;
            left: 50%;
            top: 50%;
            -ms-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
            z-index: 600;
            border: 3px double black;
            background-color: #D7D2B7;
            color: #331709;
            padding: 25px;
            font-size: 24px;
            font-family: Arial, Verdana, sans-serif;
            display: none;
        }

        div#productpricepoints {
            margin-top: 25px;
            margin-left: 50px;
            position: absolute;
            width: 300px;
            background-color: #d7d2b7;
            border: double 3px #331709;
            color: #331709;
        }

            div#productpricepoints th {
                text-align: left;
                color: #331709;
                background-color: #d7d2b7;
                font-weight: bold;
                padding-left: 15px;
                text-align: center;
                padding-bottom: 7px;
                padding-top: 7px;
            }

            div#productpricepoints td {
                color: #331709;
                background-color: #d7d2b7;
                padding-left: 15px;
                text-align: center;
                padding-bottom: 7px;
            }

        div.mybutton {
            position: relative;
            line-height: 100%;
            background-color: #00331b;
            color: white;
            height: 40px;
        }

            div.mybutton:hover {
                background-color: #d7d2b7;
                color: #331709;
            }

        div.prod_cart {
            position: relative;
            float: left;
            color: #00331b;
            width: 125px;
            height: 45px;
            font-family: Arial,Verdana, Geneva, sans-serif;
            font-weight: bold;
            padding-left: 25px;
        }

            div.prod_cart input {
                width: 55px;
                height: 25px;
                border: 2px solid #D7D2B7;
                color: black;
                font-size: 24px;
                font-weight: bold;
                font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
                text-align: center;
            }

        div.incrementbutton {
            height: 12px;
            width: 12px;
            margin-top: 1px;
            background-image: url('/images/plus.png');
            background-repeat: no-repeat;
        }

        div.decrementbutton {
            height: 12px;
            width: 12px;
            margin-top: 1px;
            background-image: url('/images/minus.png');
            background-repeat: no-repeat;
        }

        div.disabledbutton {
            background-image: url('/images/disabled.png');
            background-repeat: no-repeat;
        }

        #qty {
            line-height: 100%;
            width: 80px;
            color: black;
            background-color: white;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }

        div#cartwrapper {
            width: 150px;
            height: 150px;
            background-color: #d7d2b7;
        }

        div#productpricing {
            position: relative;
            float: right;
            width: 150px;
            height: 335px;
            font-family: Arial,Verdana, Geneva, sans-serif;
            font-size: 16px;
            color: black;
            text-align: center;
        }

        div.label_bold {
            font-weight: bold;
            font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
        }

        div.price_bold {
            font-weight: bold;
            font-family: Arial,Verdana, Geneva, sans-serif;
        }

        div.wh_label {
            font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
            line-height: 90%;
            vertical-align: top;
        }

        div.price {
            font-family: Arial,Verdana, Geneva, sans-serif;
        }

        div#prod_discount {
            position: relative;
            color: White;
            background-color: #00331b;
            width: 150px;
            font-size: 26px;
            font-weight: bold;
            font-family: Arial,Verdana, Geneva, sans-serif;
            text-align: center;
        }



        div#blowup {
            position: absolute;
            width: 600px;
            height: 650px;
            top: 10px;
            left: 10px;
            z-index: 200;
            border: 3px double black;
            background-color: white;
            margin: 0 auto;
        }

        #imgblowup {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        a.mfglink {
            color: #00331b;
            text-decoration: none;
            font-size: 16px;
            font-family: Arial, Verdana, sans-serif;
        }

            a.mfglink:hover {
                color: #00331b;
                text-decoration: underline;
                font-size: 16px;
                font-family: Arial, Verdana, sans-serif;
            }

        tr.mfg td {
            padding-left: 5px;
            padding-bottom: 5px;
            text-align: left;
            vertical-align: top;
            font-size: 16px;
            font-family: Arial, Verdana, sans-serif;
        }

            tr.mfg td a {
                color: #00331b;
                text-decoration: none;
                font-size: 16px;
                font-family: Arial, Verdana, sans-serif;
            }

                tr.mfg td a:hover {
                    color: black;
                    text-decoration: underline;
                }

        tr.specifications th, tr.specifications td {
            padding-left: 5px;
            padding-bottom: 5px;
            text-align: left;
        }

        div.thumbnail {
            height: 108px;
            width: 108px;
            position: relative;
            float: left;
            border: solid 2px #d7d2b7;
            margin-bottom: 2px;
            margin-right: 2px;
        }

        img.thumbnail {
            position: absolute;
            max-height: 108px;
            max-width: 108px;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        div#prod_content_container {
            position: relative;
            width: 1145px;
            height: 175px;
            color: black;
            padding-top: 5px;
        }

        div.prod_content {
            position: relative;
            float: left;
            width: 229px;
            height: 125px;
            color: black;
        }

        a.prod_link {
            color: black;
            text-decoration: none;
        }

            a.prod_link img {
                max-height: 114px;
                max-width: 114px;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

        div.prod_content_txt {
            width: 50%;
            height: 100%;
            float: left;
            text-align: center;
            vertical-align: middle;
        }


        div.prod_content_img {
            width: 50%;
            height: 100%;
            float: left;
            text-align: center;
            display: flex;
            align-items: center;
        }

        div.prod_content_container {
            position: absolute;
            top: 15px;
            left: 120px;
            width: 1300px;
            height: 125px;
        }

        div#productinfo_extrawide {
            position: relative;
            float: left;
            width: 635px;
            height: 335px;
            margin-top: 5px;
            font-size: 20px;
            font-family: Arial, Verdana, sans-serif;
            color: #00331b;
            padding-left: 10px;
        }

        div#productinfo_wide {
            position: relative;
            float: left;
            width: 525px;
            height: 335px;
            margin-top: 5px;
            font-size: 20px;
            font-family: Arial, Verdana, sans-serif;
            color: #00331b;
            padding-left: 10px;
        }

        div#productinfo_narrow {
            position: relative;
            float: left;
            width: 410px;
            height: 335px;
            margin-top: 5px;
            font-size: 20px;
            font-family: Arial, Verdana, sans-serif;
            color: #00331b;
            padding-left: 10px;
        }

        a.BackToSearch {
            position: relative;
            float: left;
            width: 175px;
            height: 33px;
            left: 24px;
            background-color: #00331b;
            color: white;
            font-family: Arial, Verdana, sans-serif;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            padding-top: 5px;
        }

            a.BackToSearch:hover {
                background-color: #d7d2b7;
                color: #00331b;
            }

            a.BackToSearch:before {
                position: absolute;
                right: 175px;
                top: 0px;
                content: " ";
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 17px 20px 16px 0px;
                border-color: transparent #00331B transparent transparent;
            }


            a.BackToSearch:hover:before {
                position: absolute;
                right: 175px;
                top: 0px;
                content: " ";
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 17px 20px 16px 0px;
                border-color: transparent #d7d2b7 transparent transparent;
            }

        input#qty:focus {
            outline: 0;
        }
    </style>
    <script type="text/javascript">
        var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
    </script>
