﻿@model WholesaleHunter.ViewModels.HelpViewModel
@using WholesaleHunter.Models

@{
    ViewBag.Title = "Wholesale Hunter Contact";
    ViewBag.Description = "Wholesale Hunter Contact";
}

<link href="~/Content/HugoStyles.css" rel="stylesheet" />
<script src="~/Scripts/HelpTopics.js"></script>

<table width="1440"border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table width="1440" border="0" cellspacing="10" cellpadding="0">
                <tr>
                    <td style="width:425px;" rowspan="2" valign="top">
                        <span style="font-size: 36px; font-weight: bold;">CONTACT US</span><br />
                        <br />
                        Need help? Get a real person to assist you.
                        <br /><br />
                        Our customer service hours are now<br />Monday - Friday  8AM - 6PM and<br />Saturday 9AM - 5PM<br /><br />
                        Showroom hours are now<br />Monday - Friday  9AM - 6PM and<br />Saturday 9AM - 5PM<br /><br />
                        <span style="font-size: 18px; font-weight: bold;">PHONE / FAX</span>
                        <br />
                        Call us toll-free at <br /><a href="tel:1-888-900-4868" style="color: #00331B">888-900-HUNT (4868)</a><br /><br />
                        Send us a fax at<br /><span style="color: #fff"> <a href="tel:1-334-567-2780" style="color: #00331B">334-567-2780</a></span><br />
                        M–F 8AM – 630PM CST<br />
                        <br /><br />
                        <span style="font-size: 18px; font-weight: bold;">EMAIL</span><br />
                        <a href="mailto:Support@WholesaleHunter.com" style="color: #00331B">Support@WholesaleHunter.com</a>
                        <br /><br /><br />
                        <span style="font-size: 18px; font-weight: bold;">SHOWROOM / MAILING ADDRESS</span><br />
                        34 Firetower Road, Wetumpka, AL 36093
                        <br />
                        Mon–Sat 9AM – 6PM CST<br />
                        Sun 11AM - 6PM
                    </td>
                    <td style="width:715px;" >
                        <img class="contactPictures" 
                             src="~/images/truck.jpg" 
                             alt="Exterior picture of Wholesale Hunter building." 
                             width="350" 
                             height="233" />
                        <img class="contactPictures contactPictureRight" 
                             alt="Gun rack." 
                             src="~/images/guns.jpg" 
                             width="350" 
                             height="233" />
                        <iframe class="contactPictures" 
                                width="715" 
                                height="250" 
                                frameborder="0" 
                                style="border:0" 
                                alt="Google map showing Wholesale Hunter's location" 
                                allowfullscreen
                             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3362.8788478370557!2d-86.15465348482358!3d32.5560784810393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x888c246d0b74e411%3A0x98689c7e15e35716!2s34+Firetower+Rd%2C+Wetumpka%2C+AL+36093!5e0!3m2!1sen!2sus!4v1479500790075">
                        </iframe>
                    </td>
                    <td class="SpecialsPic" style="width:300px;" >
                        @foreach (var spec in Model.Specials)
                        {
                            Html.RenderPartial("~/Views/Shared/_Specials.cshtml", spec);
                        }
                    </td>                 
                </tr>
                <tr>
                    <td colspan="2"></td>
                </tr>
            </table>
         </td>
    
  
</table>
<table width="1440"border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table  width="1165" border="0" cellspacing="10" cellpadding="0">
                <tr>
                    <td>
                        @Html.Partial("~/Views/Shared/_Help.cshtml")
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
