﻿@model WholesaleHunter.ViewModels.HelpViewModel
@using WholesaleHunter.Models

@{
    ViewBag.Title = "Wholesale Hunter Contact";
}

<link href="~/Content/HugoStyles.css" rel="stylesheet" />
<script src="~/Scripts/HelpTopics.js"></script>

<table width="1440" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table width="1430" cellspacing="10" cellpadding="0">
                <tr>
                    <td style="width:1130px;text-align:center;" rowspan="2" valign="top" colspan="2">
                        <br /><hr />
                        <span style="font-size: 36px; font-weight: bold;">ERROR</span><br />
                        <br />
                        We're sorry. An error has occured while attempting to service your request.
                        <br /><br />
                        Please try again and if the error persists please contact a System Administrator.
                        <br /><br />
                        <hr />
                        <br /><br />
                        <br /><br />
                        <br /><br />
                    </td>
                    <td class="SpecialsPic" style="width:300px;">
                        @foreach (var spec in Model.Specials)
                        {
                            Html.RenderPartial("~/Views/Shared/_Specials.cshtml", spec);
                        }
                    </td>                 
                </tr>
            </table>
         </td>
</table>
