﻿@model WholesaleHunter.ViewModels.AboutUsViewModel
@using WholesaleHunter.Models

@{
    ViewBag.Title = "GB Login";
}

<link href="~/Content/HugoStyles.css" rel="stylesheet" />

<link href="~/Content/HugoStyles.css" rel="stylesheet" />
<table width="1440" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align: top;">
            <div style="text-align:center;padding-top:125px;font-size:24px;">
                I’m sorry, we can’t complete your order online.<br /><br />
                Please call <span style="font-weight:bold;">888-900-HUNT(4868) to complete this order.</span>
            </div>
        </td>
        <td class="SpecialsPic">
            <div style="position:relative;float:left;width:287px;top:17px;text-align:right;">
                @foreach (var spec in Model.Specials)
            {
                Html.RenderPartial("~/Views/Shared/_Specials.cshtml", spec);
            }
            </div>
            
        </td>
    </tr>
</table>

    
