﻿@model WholesaleHunter.ViewModels.HelpViewModel
@using WholesaleHunter.Models

@{
    Layout = null;
}

@{ 
    string helpResultText = "";
}


<link href="~/Content/HugoStyles.css" rel="stylesheet" />
@*<div id="helpMask" class="helpMask">&nbsp;</div>*@
<div id="helpSearchResults">
    <table class="myAccountContainer helpSearchTable login_table">
        <tr>
            <td width="4%"></td>
            <td class="helpSearchTitle">Search Results</td>
            <td>
            <td width="4%" align="right" valign="top"><input type="button" class="button3" onclick="closeHelpSearch();" value="X"></td>
        </tr>

      
        @foreach (var item in Model.HelpFile)
        {
            <tr>
                <td colspan="3" class="helpSearchTopic">
                    @item.Topic
                </td>
            </tr>
            <tr>
                <td colspan="3" class="helpSearchText">

                    @if (item.HelpText.Contains("<a"))
                {
                    helpResultText = item.HelpText.Insert(3, " Class=\"helpResultText\" ");
                }
                else
                {
                    helpResultText = item.HelpText;
                }


                    @Html.Raw(helpResultText)

                </td>
            </tr>
        }
     
        
    </table>
</div>


