﻿@model WholesaleHunter.ViewModels.NewsViewModel
@using WholesaleHunter.Models


<link href="~/Content/HugoStyles.css" rel="stylesheet" />
@{
    ViewBag.Title = "News";
    ViewBag.Description = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.jscroll.js"></script>

<table width="1440" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <table width="1165" border="0" cellspacing="10" cellpadding="0">
                <tr>
                    <td height="35" colspan="3" style="font-size: 36px; font-weight: bold;">NEWS</td>                    
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="scroll">
                            @{
                                Html.RenderAction("NewsStories", "Home");
                            }
                            </div>
                        </td>
                </tr>
            </table>
        </td>
        
        <td class="SpecialsPic">
            @foreach (var spec in Model.Specials)
                {
                    Html.RenderPartial("~/Views/Shared/_Specials.cshtml", spec);
                }     
        </td>
    </tr>
    <tr>
        <td height="126" valign="bottom">
            <table class="newProductsTable">
                <tr>
                    <td class="newProductsHeading">
                        New Products
                    </td>
                    <td width="932">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                   @foreach (var item in Model.Products)
                   {
                       <td class="newProductPic">
                           <img src="@item.ImageLocation" alt="@item.ItemTitle"/>
                       </td>
                       <td class="newProductText" style="text-align:center;">
                           <a class="newProductText" href="/Product/Details/@item.LinkTarget" >
                               <span style="font-size:14px;font-weight:normal;">@item.ItemTitle</span>
                               <span style="font-size:14px;font-weight:bold;">@item.Price.ToString("c")</span>
                            </a>                           
                       </td>
                      
                   }
                </tr>
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('.scroll').jscroll({                
            nextSelector: 'a.scroll:last',
            debug: true
        });
    });
</script>
