﻿@model IEnumerable<WholesaleHunter.Models.Manufacturer>
@using WholesaleHunter.Models
@{
    Layout = null;
    string rowtype="even";
}

<style type="text/css">
    div.manufacturerList {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    span.manufname {
        font-size: larger;
        font-weight: bold;
        color: #00331B;
    }
    th.manuf {
        text-align: center;
        background-color: #D7D2B7;
        border-right: 1px solid #00331B;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    tr.even td {
        text-align:center;
        border-right:1px solid #00331B;
        background-color: #ccc;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    tr.odd td {
        text-align:center;
        border-right:1px solid #00331B;
        background-color: white;
        padding-bottom: 3px;
        padding-top: 3px;
    }

            .button {
            background-color: #331709;
            border: none;
            width: 125px;
            color: #D7D2B7;
            padding: 5px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .buttonSM {
            background-color: #331709;
            border: none;
            font-size: 14px;
            text-align: center;
            width: 110px;
            font-weight: bold;
        }

            .buttonSM:hover {
                background-color: #331709;
                border: none;
                font-size: 14px;
                text-align: center;
                color: white;
            }
</style>  
<div id="showManufacturers" class="manufacturerList">
    <table class="manufacturerTable">
        <tr>
            <td colspan="4" align="center" valign="middle" style="font-size: 36px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="4%">&nbsp;</td>
                        <td width="95%" align="center">HOW DO I CONTACT MY MANUFACTURER?</td>
                        <td width="4%" align="right" valign="top"><input type="button" id="closeManufacturer" onclick="closeManufacturerList()" class="button3" value="X" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table style="border:4px solid #00331B" width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th class="manuf" width="30%" >MANUFACTURER</th>
                        <th class="manuf" width="15%">PHONE</th>
                        <th class="manuf" width="15%">FAX</th>
                        <th class="manuf" width="15%">WEBSITE</th>
                        <th class="manuf" width="25%">ADDRESS</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        if(rowtype=="even")
                        {
                            rowtype = "odd";
                        }
                        else
                        {
                            rowtype = "even";
                        }
                        <tr class="@rowtype">
                            <td width="25%">
                                <span class="manufname">@Html.DisplayFor(modelItem => item.ManufacturerName)</span>
                                <br />
                                <a href="~/Search/Brand/@item.MfgID">
                                    <div class="button buttonSM">VIEW ITEMS</div>
                                </a>
                            </td>
                            <td width="15%">
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td width="15%">
                                @Html.DisplayFor(modelItem => item.Fax)
                            </td>

                            <td width="15%">
                                <a href="http://@Html.Raw(@item.Website)" , target="_blank">
                                    <div class="button buttonSM" style="width:60px;">VISIT</div>
                                </a>

                            </td>
                            <td width="25%" align="center">
                                @Html.DisplayFor(modelItem => item.CityStateZip)
                            </td>
                        </tr>
                    }

                </table>

            </td>
        </tr>
    </table>    
</div>        
          

    

