﻿@model WholesaleHunter.ViewModels.SiteMapViewModel
@using WholesaleHunter.Models

@{
    ViewBag.Title = "Wholesale Hunter Site Map";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Scripts/Manufacturers.js"></script>
<link href="~/Content/HugoStyles.css" rel="stylesheet" />

<div id="helpMask" class="helpMask">&nbsp;</div>
<table width="1440" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="27%" height="25">&nbsp;</td>
        <td width="73%" height="25">&nbsp;</td>
    </tr>
    <tr>
        <td height="25" style="font-size: 36px; font-weight: bold;">SITE MAP</td>
        <td width="73%" height="25">&nbsp;</td>
    </tr>
    <tr>
        <td height="25">&nbsp;</td>
        <td height="25">&nbsp;</td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">
            <a class="siteMapButton" href="/Home/Index">HOME</a>
        </td>
        <td height="50">
            <a class="siteMapButton" href="/Home/Index">www.WholesaleHunter.com</a>
        </td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">
            <a class="siteMapButton" href="/Search">PRODUCT SEARCH</a>
        </td>
        <td height="50">
            <a class="siteMapButton" href="/Search">Search our store by keywords, categories or features</a>
        </td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">
            <a class="siteMapButton" href="/Home/Contact">CONTACT US</a>
        </td>
        <td height="50">
            <a class="siteMapButton" href="/Home/Contact">Get in touch with customer service</a>
        </td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">
            <a class="siteMapButton" href="/Home/About">ABOUT US</a>
        </td>
        <td height="50">
            <a class="siteMapButton" href="/Home/About">Learn about Wholesale Hunter</a>
        </td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">
            <a class="siteMapButton" href="/Home/Help">HELP</a>
        </td>
        <td height="50">
            <a class="siteMapButton" href="/Home/Help">Get help with our site or your order</a>
        </td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">
            <a class="siteMapButton" href="/Policies/TermsOfSale">SHIPPING POLICIES</a>
        </td>
        <td height="50">
            <a class="siteMapButton" href="/Policies/TermsOfSale">Learn how we handle international and freight orders</a>
        </td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">
            <a class="siteMapButton" onclick="showManufacturers()">LIST OF MANUFACTURERS</a>
        </td>
        <td class="SiteMapMainTD">
            <input type="button" class="siteMapButton" onclick="showManufacturers()" id="manufacturers"
                   value="A contact list for the manufacturers of our products" />
            <div id="manufacturerList">
                @{
                    Html.RenderAction("ShowManufacturers", "Home");
                }
            </div>

        </td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">&nbsp;</td>
        <td height="50">&nbsp;</td>
    </tr>
    <tr>
        <td height="50" style="font-weight: bold">CATEGORIES</td>
        <td height="50">&nbsp;</td>
    </tr>
    @foreach (var cat in Model.DistinctSiteCategories)
    {
        <tr>
            <td height="50" style="font-weight: bold">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/Search/@cat.CategoryID" class="productCategoryLink">@cat.CategoryName</a>
            </td>
            <td height="50">
                <a href="/Search/@cat.CategoryID" class="productCategoryLinkDescription">@cat.CategoryDescription</a>
            </td>
        </tr>

        foreach (var subCat in Model.SiteCategories)
        {
            if (subCat.ParentID == cat.CategoryID)
            {
                <tr>
                    <td height="50" style="font-weight: bold">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/Search/@subCat.SubCategoryID" class="productCategoryLink">@subCat.SubCategoryName</a>
                    </td>
                    <td height="50">
                        <a href="/Search/@subCat.SubCategoryID" class="productCategoryLinkDescription">@subCat.SubCategoryDescription</a>
                    </td>
                </tr>
            }

        }
    }
</table>

    @foreach (SitemapProduct product in Model.Products)
    {
        <a href="/Product/Details/@product.ProductID" style="color:black;">@product.ProductName</a><br />
    }





