﻿@model WholesaleHunter.ViewModels.AboutUsViewModel
@using WholesaleHunter.Models

@{
    ViewBag.Title = "Terms and Conditions";
}

<link href="~/Content/HugoStyles.css" rel="stylesheet" />

<link href="~/Content/HugoStyles.css" rel="stylesheet" />
<table width="1440" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
        <td style="vertical-align: top;">
            <table width="1165" border="0" cellspacing="10" cellpadding="0">
                <tr>
                    <td style="font-size: 36px; font-weight: bold;">TERMS AND CONDITIONS</td>
                </tr>
                <tr>
                    <td valign="top">
                        PLEASE CLICK ON THE LINKS BELOW TO VIEW OUR TERMS, CONDITIONS AND POLICIES
                        <br />
                        <span style="font-size:smaller">(Link will open in new window.)</span>
                        <br /><br />
                        <ul>
                            <li style="height:40px;"><a class="helpSpecial" href="/Policies/PrivacyPolicy" target="_blank">Privacy Policy</a></li>
                            <li style="height:40px;"><a class="helpSpecial" href="/Policies/ProductAndLegalRestrictions" target="_blank">Product and Legal Restrictions</a></li>
                            <li style="height:40px;"><a class="helpSpecial" href="/Policies/TermsAndConditions" target="_blank">Terms and Conditions</a></li>
                            <li style="height:40px;"><a class="helpSpecial" href="/Policies/TermsOfSale" target="_blank">Terms of Sale - SHIPPING, RETURNS AND EXCHANGES</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
        <td class="SpecialsPic">
            <div style="position:relative;float:left;width:287px;top:17px;text-align:right;">
                @foreach (var spec in Model.Specials)
            {
                Html.RenderPartial("~/Views/Shared/_Specials.cshtml", spec);
            }
            </div>
            
        </td>
    </tr>
</table>

    
