﻿body.policy {
    position:relative;
    background-color:#bbb;
}

div.policywrap {
    position: relative;
    width:800px;
    min-height:800px;
    margin: 0 auto;
    background-color:white;
    padding:50px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;

    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

}

.modalDialog {
    /*display: none;*/ /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.SiteMapMainItem{
    color: #00331B;   
    
}

.SiteMapMainTD{
    
    height: 50px;
}


.cf2:before, .cf2:after{
    content:"";
    display:table;
}
 
.cf2:after{
    clear:both;
}
 
.cf2{
    zoom:1;
}    

.search-wrapper2 {
width: 664px;
margin: 0 0 0 5%;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
 
.search-wrapper2 input {
width: 582px;
height: 25px;
padding: 10px 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #d9d7c0;
border-radius: 0;
}
 
.search-wrapper2 input:focus {
    outline: 0;
    background: #D7D2B7;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-wrapper2 input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper2 input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper2 input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
.search-wrapper2 button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 45px;
width: 72px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: white;
text-transform: uppercase;
background: #0f3f29;
border-radius: 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper2 button:hover{     
    background: #00331B;
}   
   
.search-wrapper2 button:active,
.search-wrapper2 button:focus{   
    background: #331709;
    outline: 0;   
}
 
.search-wrapper2 button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #0f3f29 transparent;
    top: 16px;
    left: -8px;
}
 
.search-wrapper2 button:hover:before{
    border-right-color: #331709;
}
 
.search-wrapper2 button:focus:before,
.search-wrapper2 button:active:before{
        border-right-color: #331709;
}      
 
.search-wrapper2 button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}


.SpecialsPic{
    vertical-align: top;
    padding-bottom: 20px;
    z-index: 50;
    text-align: right;
 
}

.helpTable{
    vertical-align:top;
    padding-top: 20px;
}

.FAQTable{
    vertical-align:top;
    padding-top: 10px;
    width: 100%;
}

.FAQCell{
    width: 100%;
}

.FAQCategory{
    height: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.helpCategory{
    width: 50%;
    height: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.helpTopicPopup{
    display: none;
    z-index: 1000 !important;
    background: #D7D2B7;
    /*text-align: center;
    vertical-align: middle;*/
    position: relative;
    font-size: 20px;
}

.helpBoxHeading{
    font-weight: bold;
    color: black;
}

.helpBoxText{
    color: darkgreen;
}

.closeButton{
    float: right;
    background-color: #D7D2B7;
    border: none;
    font-size: 20px;
    width: 25px;
    text-align: center;
}

.helpText 
{
    position: absolute;
    background: #D7D2B7;
    color:darkgreen;
    text-align:center;
    position: absolute;
    padding: 5px;
    word-wrap: break-word;
    z-index: 1000 !important;       
}

.helpText a:link a:visited {
    color: darkgreen !important;
}

.helpPopUpMessage{
    display: none;
    color: #00331B;

}

.helpPopupTitle{
    position:relative;
    float:left;
    width:590px;
    height: 25px;
    color: black !important;
    font-weight: bold;
}

.helpPopupText{
    position:relative;
    float:left;
    color: darkgreen;
    width:550px;
    padding: 20px;

}

.helpPopupText a {
    color:darkgreen;
    text-decoration: underline;
    font-size: 20px;
}

.helpPopupText a:hover {
    color: black;
    text-decoration: underline;
    font-size: 20px;
}

.helpPopupClose {
    color: #331709;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    position:relative;
    top:0px;
    left:0px;
    float:right;
    width:590px;
    height:25px;
}

.helpPopupClose a {
    color: #331709;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.helpPopupClose a:hover {
    color: #331709;
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
}

.helpPopupClose a:focus {
    color: #331709;
    font-size: 14px;
    font-weight: normal;
    outline: none;
}

.helpLink{
    color:darkgreen;
}

.ui-dialog {
  width: 600px;
}

.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 0;
    border: none;
    background-color: inherit;
}

/*
.no-close .ui-dialog-titlebar-close {
    display: none;
} 

.no-close .ui-dialog-titlebar {
    display: none !important;
}*/


.ui-button:focus { outline:none !important }

.helpTopicPopup a:link a:visited{
    color: darkgreen !important;
}

a.helpSpecial {
    background: inherit;
    border: none;
    font-size: medium;
    text-align: left;
    padding-left: 0px;
    width: 100%;
    cursor: pointer;
    padding-top: 0px;
    margin-top: 0px;
    height:20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00331b;
    text-decoration: none;
    font-weight: normal;
}

a.helpSpecial:active {
    font-weight: normal;
}


.helpTopicButton {
    background: inherit;
    border: none;
    font-size: medium;
    text-align: left;
    padding-left: 0px;
    width: 100%;
    cursor: pointer;
    padding-top: 0px;
    margin-top: 0px;
    height:20px;
}  

.FAQTopicButton {
    background: inherit;
    border: none;
    font-size: medium;
    text-align: left;
    padding-left: 0px;
    width: 100%;
    cursor: pointer;
    padding-top: 0px;
    margin-top: 0px;
    height:25px;
}    

ui-front { z-index: 1000 !important; }

okButtonClass{
    z-index:1000 !important;
}


.helpMask{    
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0,0,0,.8);
    display: none;     
} 

.newsReadMore  {
    font-size: 14px;
    text-transform: uppercase;
}

.newsLink{
    color: darkgreen !important;
}

.newsHeadline{
    font-size: 30px;
    font-weight: bold;
    padding-bottom:5px !important;
    text-transform: uppercase;
}

.newsTeaser{
    font-size: 20px;
}

.newsTable{
    width: 100%;
    border: 0px;
    border-spacing: 25px;
}

.newsTable td {
    padding: 0;
}

.newProductsTable{
    /*table-layout: fixed;*/
    width:1165px;
    border: 0px;
    border-spacing: 0px;
    
}

.newProductsTable td {
    padding-left: 3px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    
}

.newProductsHeading {
    width: 233px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #331709;
    color: #FFF;
    text-transform:uppercase;
    
}

.newProductPic{
    width: 500px !important;
    height: 30px !important;
}

.newProductText{
    font-size:xx-small;
    width: 500px !important;
    height: 30px !important;
    color: black !important;
}



/*My Account*/

.button {
    background-color: #331709;
    border: none;
	width: 125px;
    color: white;
	/*alignment-adjust:middle;*/
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
	border: none;
	font-size: 14px;
	text-align: center;
    color: #331709;
}

.button1:hover {
    background-color: #331709;
    border: none;
	font-size: 14px;
	text-align: center;
	color: white;
}
 .button2 {background-color: #331709;
     border: none;
	 font-size: 14px;
	text-align: center;
 }
  .button3 {background-color: #FFF;
     border: none;
	 font-size: 20px;
	 width: 25px;
	text-align: center;
 }

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px 0px 10px 8px;
    border-color: transparent transparent transparent #331709;
    line-height: 0px;
    _border-color: #000000 #000000 #000000 #331709;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.myAccountHeading{
    width:100%;
}

.myAccountContainer{
    width: 939px;    
}

.MyAccountTable{
    width: 100% !important;
    border-collapse: separate !important;
    border-spacing: 0px 0px !important;
    padding: 0px;
}

.primaryAddress{
    font-weight: bold;
    color: darkgreen;
    font-size: large;
    float: right;
}

.addressEdit{
    display:none;
}

.addressUpdate{
    display: none;
}

.addressCity{
    width: 30% !important;
}

.addressState{
    width: 200px;
}

.addressZip{
    width: 100px;
}

.addressAddress1_2{
    width: 70% !important;
    
}


.myAccountInput{
    background-color: #D7D2B7;
    font-size:15px;
    border:none;
    padding: 4px 10px;
}
.addNewAddress{
    display: none;
}

.newAddressLabel{
    width: 20%;
 
}

.newAddressData{
    width: 90%;
    float: left;
}

.selectStyle{
    background-color: #D7D2B7;
    font-size:15px;
    padding: 4px 10px;
}

.myAccountButton{
    background-color: #00331B;
    color: white;
    border:none;
    height:25px;
    text-transform: uppercase;
    float: right;
    padding-left: 5px;
    margin-right: 5px;
}

.myAccountButton:hover  {
    background-color: #00331B;
    color: #D7D2B7;
    cursor: pointer;
}

.addNewPaymentMethod{
    display: none;
}

.paymentMethodMonth{
    width: 50% !important;
}

.paymentMethodYear{
    width:40% !important; 
}

.paymentMethodCVV{
    width:30% !important;
}

.expiredCard{
    color: red;
    display: inline;
    text-transform: uppercase;
}

.contactField{
    width: 80% !important;

}

.contactLabel{
    width: 80% !important;
}

.wrongPassword{
    background-color: red !important;
    color: white !important;
}

.myOrdersTitle{
    font-weight: bold;
    color: #00331B;
}

.myOrderDescription{
    font-size:small;
}

.myOrderButton {
    width: 125px;
    background-color: #331709;
    color: white;
    border:none;
    height:25px;
    text-transform: uppercase;
    padding-left: 5px;
    margin-right: 5px;
    text-align:center;
    cursor:pointer;
    margin: 4px 2px;
}
.myOrderButton:hover {
    color: #D7D2B7;
}

.textInLine{
    display: inline !important;
}


.scrollable {
    height: 500px; /* or any value */
    overflow-y:scroll;
}

a.scroll {
    color: #00331b;
    text-decoration:none;
}
a.scroll:hover {
    text-decoration:underline;
    color: #00331b;
}


.MyAccountSection{
    height:500px;
}

.recentlyViewedTable{
    width: 100% !important;
    border-collapse: separate !important;
    border-spacing: 0px 0px !important;
    padding: 0px;
}

.RecentlyViewedInfo{
    font-size:x-small !important;
    width: 100px;
    padding-right: 8px;
    color: black !important;
}

.recentlyViewedPic{
    width: 100px;
}

.manufacturerList{
    display:none;
}

.manufacturerTable{
    z-index: 1000 !important;
    border-width: 2px;
    border: solid;
    border-color: #00331B;
    vertical-align: middle;
    text-align: center;
    width: 939px;
    background-color:white;

}

.button1 {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
        color: white;
    }

.button1:hover {
    background-color: #D7D2B7;
    border: none;
    font-size: 14px;
    text-align: center;
    color: white;
}

.button3 {
    background-color: #FFF;
    border: none;
    font-size: 20px;
    width: 25px;
    text-align: center;
}

.manufacturerPopup{
    z-index: 1000 !important;
}

.siteMapButton{
    background: inherit;
    border: none;
    font-size: medium !important;
    cursor: pointer;
    color: #00331B !important;
}

.productCategoryLink{
    font-size: large !important;
    color:black !important;
    font-weight: bold !important;
}

.productCategoryLinkDescription {
    font-size: medium !important;
    color:black !important;
    font-weight: normal !important;
}

.contactPictures{
    vertical-align: top;
    padding-bottom: 5px;
}

.contactPictureRight{
    float:right;
}

.contactMap{
    
}

.newsPicture{
    max-width: 100%;
    max-height:100%;
}

.helpSearchTitle{
    text-align: center;
    font-size: 36px;
    width: 92%;
}

.helpSearchTopic{
    font-weight: bold;
    text-transform: uppercase;

}

.helpSearchText{
    color: darkgreen !important;
    padding-bottom: 8px;
    font-size: large;
}

.helpSearchTable{
    background: #D7D2B7 !important;
    z-index: 1000 !important;
}

.searchTextList{
    display: none;
    z-index: 1000 !important;
    color: darkgreen !important;
}

.helpResultText{
    color: darkgreen !important;
    font-size: large !important;
    text-decoration: underline !important;
}

.policyTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight:bold;
}

.policySubTitle{
    text-align: center;
}

.policyEmphasis{
    font-weight:bold;
}

.policyUL{
    padding-bottom:10px;
}
.policyRed{
    color: red;
    font-weight: bold;
}


  

