﻿html, body {
  height: 100%;
}

body {
  padding: 50px 0 0 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 1200px) {
  body {
    padding: 50px 0 0 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}