﻿div#pagemask {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0,0,0,0.8);
    display: none;
}

/* below styles are for login dialog*/
.button {
    background-color: #331709;
    border: none;
    width: 200px;
    color: #D7D2B7;
    alignment-adjust: middle;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #331709;
    border: none;
    font-size: 14px;
    text-align: center;
    width: 200px;
    font-weight: bold;
}

    .button1:hover {
        background-color: #331709;
        border: none;
        font-size: 14px;
        text-align: center;
        color: white;
    }

div#message {
    position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 600;
    border: 3px double black;
    background-color: #D7D2B7;
    color: #331709;
    padding: 25px;
    font-size: 24px;
    font-family: Arial, Verdana, sans-serif;
    display: none;
}

div#pricepoints {
    position: absolute;
    width: 200px;
    display: none;
    z-index: 140;
    background-color: #d7d2b7;
    border: double 3px #331709;
    color: #331709;
}

    div#pricepoints th {
        text-align: left;
        width: 85px;
        color: #331709;
        background-color: #d7d2b7;
        font-weight: bold;
        padding-left: 15px;
    }

    div#pricepoints td {
        width: 85px;
        color: #331709;
        background-color: #d7d2b7;
        padding-left: 15px;
    }


a.addToCart, a.addToCart:link, a.addToCart:visited {
    color: black;
    font-family: Arial,Verdana, Geneva, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

    a.addToCart:hover {
        color: black;
        font-family: Arial,Verdana, Geneva, sans-serif;
        font-weight: bold;
        text-decoration: underline;
        font-size: 18px;
    }

div.incrementbutton {
    height: 12px;
    width: 12px;
    margin-top: 1px;
    background-image: url('/images/plus.png');
    background-repeat: no-repeat;
}

div.decrementbutton {
    height: 12px;
    width: 12px;
    margin-top: 1px;
    background-image: url('/images/minus.png');
    background-repeat: no-repeat;
}

div.disabledbutton {
    background-image: url('/images/disabled.png');
    background-repeat: no-repeat;
}

li.categories {
}

li.filterVisible, li.filterAlwaysVisible {
}

li.filterHidden {
    display: none;
}

li.categoriesHidden {
    display: none;
}

li.brands {
}

li.brandsHidden {
    display: none;
}

div.headerbar:hover {
    color: #d7d2b7;
}

div#brandsHeader {
    position: relative;
    width: 159px;
}

div.twistie {
    width: 20px;
    height: 16px;
    padding-right: 4px;
    position: relative;
    float: right;
    background-repeat: no-repeat;
    background-image: url('/images/down.png');
}

div.twistieRight {
    background-image: url('/images/right.png');
}

div.filtertitle {
    padding-top: 5px;
    padding-bottom: 5px;
}

.filtertitle {
    color: #0f3f29;
    font-weight: bold;
    padding-left: 3px;
}

div#filters {
    padding-bottom: 20px;
}

div.filter {
    padding-top: 5px;
    padding-bottom: 5px;
}

.ddlFilter {
    margin-left: 10px;
    width: 185px;
}

div#pricerange {
    width: 190px;
    height: 115px;
    background-color: #00331b;
    text-align: center;
    font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
    font-size: 18px;
    color: white;
}

    div#pricerange td {
        font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
        font-size: 18px;
        color: white;
        padding-bottom: 2px;
    }

        div#pricerange td a {
            font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
            font-size: 18px;
            text-decoration: none;
        }

        div#pricerange td input {
            font-size: 18px;
            color: #00331b;
            background-color: white;
            width: 100px;
            height: 18px;
            text-align: right;
            font-weight: bold;
            font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
        }

.urbangreymenu {
    width: 190px; /*width of menu*/
}

    .urbangreymenu .headerbar {
        font: bold 13px Verdana;
        color: white;
        background: #331709 no-repeat 8px 6px; /*last 2 values are the x and y coordinates of bullet image*/
        margin-bottom: 0; /*bottom spacing between header and rest of content*/
        text-transform: uppercase;
        padding: 7px 0 7px 31px; /*31px is left indentation of header text*/
    }

    .urbangreymenu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
    }

        .urbangreymenu ul li {
            padding-bottom: 2px; /*bottom spacing between menu items*/
        }

            .urbangreymenu ul li a {
                font: normal 12px Arial;
                color: black;
                background: #D7D2B7;
                display: block;
                padding: 5px 0;
                line-height: 17px;
                padding-left: 8px; /*link text is indented 8px*/
                text-decoration: none;
            }

                .urbangreymenu ul li a:visited {
                    color: black;
                }

                .urbangreymenu ul li a:hover { /*hover state CSS*/
                    color: white;
                    background: #00331B;
                }

details.prod {
    position: relative;
    width: 915px;
    height: 240px;
    background-color: white;
    margin: 0 auto;
}

div.dividerbar {
    position: absolute;
    bottom: 0px;
    left: 18px;
    width: 880px;
    height: 10px;
    background-color: #D7D2B7;
}

div.prod_wrap {
    position: relative;
    width: 885px;
    height: 220px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

div.prod_wrap a.proddetails {
    color: black;
    font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
    font-weight: normal;
}

div.prod_wrap a.proddetails:active {
    color: black;
    font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
    font-weight: normal;
}

div.prod_img {
    position: relative;
    width: 220px;
    height: 220px;
    background-color: white;
    float: left;
    cursor: pointer;
}

    div.prod_img img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
    }

div.prod_details {
    position: relative;
    width: 400px;
    height: 210px;
    float: left;
    padding: 5px;
}

div.searchheader {
    position: relative;
    padding-left:23px;
    overflow-wrap: break-word;
    width: 940px;
    float:left;
    padding-top:10px;
}

h1.search {
    margin: 0px;
    font-family: Arial,Verdana, Geneva, sans-serif;
    color: #00331b;
    font-size: 24px;
}

h2.search {
    margin: 0px;
    font-family: Arial,Verdana, Geneva, sans-serif;
    color: #00331b;
    font-size: 18px;
}

h3.prod_title {
    float: left;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #00331b;
    background-color: white;
    width: 400px;
    font-family: Arial,Verdana, Geneva, sans-serif;
    display: block;
    overflow-wrap: break-word;
    text-decoration: underline;
    cursor: pointer;
    margin: 0px;
}

div.prod_desc {
    position: relative;
    float: left;
    font-size: 18px;
    color: Black;
    background-color: white;
    width: 400px;
    height: 170px;
    font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
    overflow: hidden;
}

div.prod_pricing {
    position: relative;
    float: left;
    color: Black;
    width: 255px;
    height: 145px;
    font-family: Arial,Verdana, Geneva, sans-serif;
}

div.prod_discount {
    color: White;
    background-color: #00331b;
    height: 23px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial,Verdana, Geneva, sans-serif;
    padding-top: 2px;
    text-align: center;
}

div.prod_pricedata {
    line-height: 150%;
    position: relative;
    top: 0px;
    float: left;
    color: Black;
    width: 145px;
    height: 85px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    -webkit-transform: scale(1.25,1); /* Safari and Chrome */
    -moz-transform: scale(1,1.25); /* Firefox */
    -ms-transform: scale(1,1.25); /* IE 9 */
    -o-transform: scale(1,1.25); /* Opera */
    transform: scale(1,1.25); /* W3C */
}

td.label_bold {
    font-weight: bold;
    font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
    text-align:right;
    padding-right: 3px;
    padding-bottom: 3px;
    width:80px;
    vertical-align: top;
}

td.price_bold {
    font-weight: bold;
    font-family: Arial,Verdana, Geneva, sans-serif;
    text-align:right;
    padding-right:3px;
    padding-bottom: 3px;
    width:55px;
    vertical-align: middle;
}

td.discount {
    vertical-align:top;
    width: 110px;
}
td.label {
    font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
    text-align:right;
    padding-right: 3px;
    padding-bottom: 3px;
    vertical-align: top;
}

td.price {
    font-family: Arial,Verdana, Geneva, sans-serif;
    text-align:right;
    padding-right:3px;
    padding-bottom: 3px;
    vertical-align: middle;
}

div.prod_cart {
    position: relative;
    float: left;
    color: #00331b;
    width: 210px;
    height: 65px;
    font-family: Arial,Verdana, Geneva, sans-serif;
    font-weight: bold;
    padding-left: 45px;
}

    div.prod_cart input {
        width: 55px;
        height: 25px;
        border: 2px solid #D7D2B7;
        color: black;
        font-size: 24px;
        font-weight: bold;
        font-family: 'Arial Narrow',Verdana, Geneva, sans-serif;
        text-align: center;
    }

li.filterMore a.showMore {
    color: #00331b;
    font-weight: bold;
}

    li.filterMore a.showMore:hover {
        color: #D7D2B7;
    }



div#wrapper {
    position: relative;
    width: 190px;
    background-color: white;
    height: 100%;
}

div.filterCheckbox {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    color: #331709;
    font-weight: bold;
    height: 20px;
}

div.checkbox {
    position: relative;
    float: left;
    width: 15px;
    height: 15px;
    background-image: url("/images/unchecked.png");
}

div.checkbox_checked {
    background-image: url("/images/checked.png");
}

div.label {
    position: relative;
    float: left;
}

div.product_count {
    position: relative;
    float: left;
    padding-right: 10px;
    padding-top: 4px;
    font-weight: lighter;
    color: #331709;
    font-family: 'Arial Narrow', Verdana, Geneva, sans-serif;
}

div.product_sort {
    position: relative;
    float: left;
    z-index: 100;
    font-family: Arial, Verdana, Geneva, sans-serif;
}

div#product_sort_label {
    position: relative;
    float: left;
    padding-right: 10px;
    font-weight: lighter;
    color: #331709;
    padding-top: 4px;
    font-family: 'Arial Narrow', Verdana, Geneva, sans-serif;
}

div.sortbymenu {
    width: 170px;
    position: relative;
    float: left;
}

.sortbymenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0; /*bottom spacing between each UL and rest of content*/
}

    .sortbymenu ul li a {
        font-size: 16px;
        font-family: 'Arial Narrow', Verdana, Geneva, sans-serif;
        font-weight: normal;
        color: #331709;
        background: #D7D2B7;
        display: block;
        padding: 5px 0;
        line-height: 17px;
        padding-left: 8px; /*link text is indented 8px*/
        text-decoration: none;
        font-weight: bold;
    }

        .sortbymenu ul li a.selected {
            background-image: url('/images/down331709.png');
            background-repeat: no-repeat;
            background-position: 150px 2px;
        }

        .sortbymenu ul li a:visited {
            color: #331709;
        }

        .sortbymenu ul li a:hover { /*hover state CSS*/
            color: #D7D2B7;
            background: #331709;
        }


div.filterClear {
    position: relative;
    float: left;
    height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
    text-align: center;
    background-color: #331709;
}

    div.filterClear div.filterText {
        position: relative;
        float: left;
        background-color: #331709;
        height: 22px;
        padding-left: 3px;
        padding-right: 3px;
        font-family: 'Arial Narrow', Verdana, Geneva, sans-serif;
        font-size: 16px;
        color: #D7D2B7;
        font-weight: lighter;
        padding-top: 6px;
    }

    div.filterClear div.filterImage {
        position: relative;
        float: left;
        width: 16px;
        height: 22px;
        padding-top: 6px;
        padding-left: 3px;
        background-image: url('/images/checked.png');
        background-repeat: no-repeat;
        background-color: #331709;
        background-position: 0px 8px;
        color: #D7D2B7;
    }

    div.filterClear:hover div.filterText {
        background-color: #331709;
        color: white;
    }

    div.filterClear:hover div.filterImage {
        background-image: url('/images/checked_hover.png');
        background-color: #331709;
        color: white;
    }
