﻿@charset "UTF-8";
/* CSS Document */

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

.search-wrapper {
width: 272px;
margin: 0 0 0 1%;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
 
.search-wrapper input {
width: 200px;
padding: 10px 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #d9d7c0;
border-radius: 0;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #D7D2B7;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 34px;
width: 72px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: white;
text-transform: uppercase;
background: #0f3f29;
border-radius: 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #00331B;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #331709;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #0f3f29 transparent;
    top: 10px;
    left: -8px;
}
 
.search-wrapper button:hover:before{
    border-right-color: #331709;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #331709;
}      
 
.search-wrapper button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}    
body {
	background-color: #FFFFFF;
}
a:link {
	text-decoration: none;
	color: #fff;
}
a:visited {
	text-decoration: none;
	color: #D7D2B7;
}
a:hover {
	text-decoration: none;
	color: #D7D2B7;
}
a:active {
	text-decoration: none;
	color: #fff;
	/*font-weight: bold;*/
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	color: #00331B;
}
</style>
