body {
  background-color: White;
  font-family: Arial;
}

.login_table {
  border-spacing: 0;
  background-color: #fff;
  padding: 5px 10px;
  margin: auto;
  border-radius: 4px;

}
.login_table tr td {
	padding: 5px;
	color: #00331B;
}
.login_table tr td span {
  color: red;
  float: left;
}
.login_table tr td input[type="text"], .login_table tr td input[type="password"] {
  padding: 4px 10px;
  font-size: 15px;
  border: 1px solid silver;
  background-color: #D7D2B7;
  width: 100%;
  outline: 0;
}


.login_table tr td input[type="text"]:focus, .login_table tr td input[type="password"]:focus {
  border-color: #00331B;
}

.login_table tr td input[type="submit"] {
  font-size: 18px;
  background-color: #00331B;
  color: #D7D2B7;
  padding: 5px 10px;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
}
