.tabordion {
  color: #333;
  display: block;
  font-family: arial, sans-serif;
  margin: auto;
  position: relative;
  width: 80%;
  margin-bottom: 20px;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
  margin-bottom: 5px;
}

.tabordion section label {
  background: #D7D2B7;
  color: #331709;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 18px;
  position: relative;
  width: 180px;
  z-index:100;
}

.tabordion section article {
  display: none;
  left: 220px;
  width:600px;
  border: 2px solid #331709; 
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabordion input[name="sections"]:checked + label { 
  background: #331709;
  border: 2px solid #331709; 
  color: #D7D2B7;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}


@media (max-width: 1000px) {
  
  h1 {
    width: 100%;
  }

  .tabordion {
    width: 100%;
  }
  
  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

 .tabordion section article {
    left: 200px;
    min-width: 270px;
  } 

  
}


@media (max-width: 1000px) {
  h1 {
    width: 96%;
  }

  .tabordion {
    width:100%;
  }
}


@media (min-width: 1366px) {
  h1 {
    width: 70%;
  }

  .tabordion {
    width: 100%;
  }
}


